
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role ="navigation">
	<%= render partial: "uber_admin/sidebar" %>
</div>
<div class="col-xs-12 col-sm-9" id="main">
	<div id="pages">
		<%= render :partial => "promo_codes" %>
	</div>
</div>