<div id="inner-wrap" style="display:block">
	<div id="connect-container">
		<div id="register-container">
			<div id="form-body">
				<%= render partial:"register", locals: {user: @user, companies: @companies} %>
			</div>
		</div>
	</div>
</div>