<div id="inner-wrap" style="display:block">
	<div id="connect-container">
		<div id="register-container">
			<h3>Connect</h3>

			<div id="form-body">
				<%= render partial:"register", locals: {user: @user} %>
			</div>
		</div>
	</div>
</div>