<% if @user.first_name? %>
	<p>Hi <%= @user.first_name %>,</p>
<% else %>
	<p>Welcome!</p>
<% end %>

<p>You're successfully signed up for <%= link_to "BuildHawk", root_url %>! </p>

<p>Please login <%= link_to "here", login_url(:host => "www.buildhawk.com") %> using your temporary password: "<%= @user.password %>"</p>