$('#edit_folder_<%=@folder.id%>').fadeOut(200,function(){
	$(this).replaceWith('<h4 class="folder-name"><%= @folder.name %></h4>');
	$(this).fadeIn(200);
	$('#fid-<%=@folder.id%> > .edit-folder').fadeIn(200);
});