$('#edit_folder_<%=@folder.id%>').fadeOut(200,function(){
	$(this).replaceWith('<li class="folder-name" id="fid-<%=@folder.id%>"><h4 style="display:inline-block"><%= @folder.name %></h4><%= link_to "Edit", edit_folder_path(@folder), :class=>"edit-folder no-link", :remote => true %></li>');
	$(this).fadeIn(200);
});