<h3><%= company.name %></h3>
<div id="connect-company" class="border-box">
	<% projects = @items.map{|t| t.tasklist.project if t.tasklist.project.company && t.tasklist.project.company.id == company.id}.uniq.compact %>
	<%= render partial:"connect/project", :collection => projects, as: :project, cache: true %>
</div>