<div class="border-box">
	<%= form_for @company, :url => update_billing_admin_path(@company), :method => :patch do |f| %>
		<table id="new-user-form">
			<tr><td><h2>Billing Info</h2></td></tr>
			<%= hidden_field_tag :company_id, :value => current_user.company.id %>
			<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

			<tr><td><button class="btn btn-success btn-lg pull-right"><%= f.submit "Update" %></button></td></tr>
		</table>
	<% end %>
</div>