<div class="row charge">
	<div class="col-xs-3"><%= parse_billing_date Time.at(charge["period_end"]).to_datetime %></div>
	<div class="col-xs-3"><%= number_to_currency charge["amount_due"]/100 %></div>
	<div class="col-xs-3"><%= charge["description"] %></div>
	<% if charge["paid"] == true %>
		<div class="col-xs-3">Paid</div>
	<% else %>
		<div class="col-xs-3 unpaid">Pending...</div>
	<% end %>
</div>