<table class="project-checklist-table border-box" style="padding:20px;">
	<% if @checklists && @checklists.count > 0 %>
		<th>Name</th>
		<th># Phases</th>
		<th># Categories</th>
		<th># items</th>
		<th>Edit</th>
		<th>Delete</th>
		<%= render :partial => "admin/checklist_row", collection: @checklists, :as => :c, cache: true %>
	<% else %>
		<tr><td>You don't have any available checklists. You'll need to create a checklist template in order to add projects.</td></tr>
	<% end %>
</table>
<div style="text-align:center;">
	<%= link_to "Create New Checklist Template", create_template_admin_index_path(:company_id => current_user.company.id), :id =>"new-checklist-link", :class => "gotham remote", :method => :post, :remote => true %>
</div>