<div class="project-checklist-table border-box" style="padding:0 20px 20px;">
	<h2 style="text-align:center">Company Checklists</h2>
	<table id="core-checklists">
		<th><h5>Name</h5></th>
		<th><h5># Phases</h5></th>
		<th><h5># Categories</h5></th>
		<th><h5># Items</h5></th>
		<th><h5># Templates</h5></th>
		<th><h5>Edit</h5></th>
		<th><h5>Delete</h5></th>
		<% if @checklists && @checklists.count > 0 %>
			<%= render :partial => "admin/checklist_row", collection: @checklists, :as => :c, locals:{:company => @company}, cache: true %>
	</table>
		<% else %>
	</table>
			<div id="admin-no-checklists">You don't have any core checklist templates, but you can create some for your company from the list below.</div>
		<% end %>
</div>

<div class="project-checklist-table border-box" style="padding:0 20px 20px;margin-top:15px">
	<h2 style="text-align:center">Standard Templates</h2>
	<table>
		<thead>
			<th><h5>Name</h5></th>
			<th><h5>Description</h5></th>
			<th><h5># Phases</h5></th>
			<th><h5># Categories</h5></th>
			<th><h5># Items</h5></th>
			<th><h5>Create Template</h5></th>
		</thead>
		<tbody>
			<tr>
				<td><h5>Blank Template</h5></td>
				<td>This is a fully customizable, blank checklist template.</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td><%= link_to "Use", create_blank_template_admin_index_path(:company_id => current_user.company.id, :name => "Blank Template"), :class=>"simple-btn remote", :method => :post, :remote => true %></td>
			</tr>
			<%= render :partial => "admin/core_checklist_row", collection: @uber_checklists, :as => :c, cache: true %>
		</tbody>
	</table>
</div>