<div class="project-checklist-table border-box" style="padding:20px;">
	<table id="core-checklists">
		<th><h5>Name</h5></th>
		<th><h5># Phases</h5></th>
		<th><h5># Categories</h5></th>
		<th><h5># items</h5></th>
		<th><h5>Edit</h5></th>
		<th><h5>Delete</h5></th>
		<% if @checklists && @checklists.count > 0 %>
			<%= render :partial => "admin/checklist_row", collection: @checklists, :as => :c, cache: true %>
	</table>
		<% else %>
	</table>
			<div id="admin-no-checklists">You don't have any core checklist templates, but you can create some for your company from the list below.</div>
		<% end %>
	
</div>
<div class="project-checklist-table border-box" style="padding:20px;margin-top:15px">
	<table>
		<thead>
			<th><h5>Name</h5></th>
			<th><h5>Description</h5></th>
			<th><h5># Phases</h5></th>
			<th><h5># Categories</h5></th>
			<th><h5># Items</h5></th>
			<th><h5>Create Template</h5></th>
		</thead>
		<tbody>
			<%= render :partial => "admin/core_checklist_row", collection: @uber_checklists, :as => :c, cache: true %>
		</tbody>
	</table>