<%= form_for @checklist, :method => :patch, remote: true do |f| %>
	<div>
		<div><%= f.text_field :name, :style=> "width:100%;" %></div>
		<div><%= f.text_area :description, :placeholder => "A brief description of this checklist...", :style=> "width:100%;" %></div>
	</div>
			
	<div><%= f.submit "Save", :class => "simple-btn pull-right", :remote => true %></div>
<% end %>