<%= form_for @checklist, method: :patch, remote: true do |f| %>
	<h2 class="bold-header editor-header center">Checklist Editor</h2>
	<div>
		<div><%= f.text_field :name, placeholder: "Name your checklist..." %></div>
		<div><%= f.text_area :description, :placeholder => "A brief description of this checklist..." %></div>
	</div>
			
	<div class="btn-container center" style="margin: 0 auto;">
		<%= button_tag(type: 'submit', :class=> "simple-btn save remote", style:"margin:2.5% auto 0;", remote: true) do %>
	    	<i class="fa fa-floppy-o remote"></i> Save
	  	<% end %>
	</div>
<% end %>