<%= form_for @checklist, :method => :patch, remote: true do |f| %>
	<div>
		<div><%= f.text_field :name, :style=> "width:100%;" %></div>
		<div><%= f.text_area :description, :placeholder => "A brief description of this checklist...", :style=> "width:100%;" %></div>
	</div>
			
	<div>
		<%= button_tag(type: 'submit', :class=> "simple-btn remote", style:"float:right;margin:1% auto;", remote: true) do %>
	    	<i class="fa fa-floppy-o remote"></i> Save
	  	<% end %>
	</div>
<% end %>