<tr>
	<td><%= name %></td>
	<td class="center">
			<i class="fa fa-circle-o-notch fa-spin center"></i>
	</td>
	<td class="center">
		<i class="fa fa-circle-o-notch fa-spin center"></i>
	</td>
	<td class="center">
		<i class="fa fa-circle-o-notch fa-spin center"></i>
	</td>
	<td class="center">
		
	</td>
	<td class="center">
		
	</td>
</tr>