<div class="col-xs-12" id="main">
	<%= render :partial => 'admin/checklists', :locals => {:checklists => @checklists} %>
</div>
<script>
	$('a').removeClass('current-page');
	$('#admin-checklists-link').addClass('current-page');
</script>