<li class="category" id="phase-<%=c.id%>">
	<div class="editable">
		<h2 class="title"><%= link_to c.name, load_items_checklist_path(c), :id => "c-#{c.id}", :class=>"phase-link remote", remote: true %></h2>
		<%= link_to "Edit Phase", edit_category_path(c), :class => "edit-category remote", remote: true %>
	</div>
	<div id="<%= c.id %>-items"></div>
</li>