<div id="project-groups" class="border-box">
	<h2 class="centered">Project Groups</h2>
	<div id="new-group-container" class="container">
		<%= form_for @user.company.project_groups.new, url: project_groups_path(@new_group), method: :post, remote: true do |f| %>
			<div class="row">
				<div class="col-xs-2"><h4>Name</h4></div>
				<div class="col-xs-8"><%= f.text_field :name, :placeholder => "Project group name" %></div>
				<div class="col-xs-2"><button class="btn btn-md btn-success" style="margin:-2px auto 0"><%= f.submit "Create" %></button></div>
			</div>
		<% end %>	
	</div>
	<div id="groups-container" class="container">
		<% if @project_groups.count > 0 %>
			<div class="row">
				<div class="col-xs-4"><h4>Project Group</h4></div>
				<div class="col-xs-2"><h4># Projects</h4></div>
				<div class="col-xs-2"><h4>Edit</h4></div>
			</div>
			<%= render partial:"project_groups/group", collection: @project_groups, as: :project_group %>
		<% end %>
	</div>
</div>