<div id="reports-page" class="page">
	<header>
		<h2>Reports Index</h2>
		<!--<div class="input-group pull-right" style="width: 100%; margin: 1% auto;">
			<input type="text" class="form-control" name="query" autocomplete="off" placeholder="Search Users">
			<span class="input-group-addon" style="cursor: pointer;"><span class="glyphicon glyphicon-search"></span></span>
		</div>-->
	</header>


<table class="table table-bordered table-responsive" id="reports">
	<thead>
		<tr>
			<th>Report Date</th>
			<th>Type</th>
			<th>Last Updated</th>
			<th>Photos</th>
		</tr>
	</thead>

	<% if @reports && @reports.count > 0 %>
		<tbody>
			<% @reports.each do |report| %>
				<tr>
					<td><%= parse_date report.create_at %></td>
					<td><%= report.type %></td>
					<td><%= parse_time report.updated_at%></td>
					<td><% if report.photos && report.photos.count > 0 %><%= image_tag report.photos.first.image.url(:thumb), :class =>"admin-report-pic" %><% end %></td>
				</tr>
			<% end %>
		</tbody>

	<% else %>
		<tr><td colspan="5" class="loading"><h4 style="text-align:center;color:#aaa;font-style:italic;">No Reports</h4></td></tr>
	<% end %>
</table>