<div id="pages" class="page border-box" style="padding-top:5px">
	<h3 style="text-align:center;"> Standard Topics </h3>
	<div id="uber-safety-topics" style="border-bottom:3px solid #000;padding-bottom:20px;">
		<div class="row" style="border-bottom:1px solid #ddd;">
			<div class="col-xs-6"><h5>Topic</h5></div>
			<div class="col-xs-6"><h5>Description</h5></div>
		</div>

		<%= render partial:"admin/topic", collection: @uber_topics, as: :topic, cache: true %>

	</div>
	
	<div id="admin-safety-topics" style="padding-top:30px;">
		<h3 style="text-align:center;"> Company Topics </h3>
		<div class="row" style="border-bottom:1px solid #ddd;">
			<div class="col-xs-5"><h5>Topic</h5></div>
			<div class="col-xs-5"><h5>Description</h5></div>
			<div class="col-xs-2" style="text-align:center;"><h5>Edit</h5></div>
		</div>

		<%= render partial:"safety_topics/topic", collection: @safety_topics, as: :topic, cache: true %>
	</div>
	<div style="text-align:center;">
		<%= link_to "Create a new Safety Topic", new_safety_topic_path(:company_id => company.id), :id => "new-safety-topic-link", :class => "simple-btn remote", remote: true %>
	</div>
</div>

<script>
	readMoreLess();
</script>
