<div id="users-page" class="page">
<header>
	
	<div class="input-group pull-right" style="width: 100%; margin: 1% auto;">
		<input type="text" class="form-control" name="query" autocomplete="off" placeholder="Search Users">
		<span class="input-group-addon" style="cursor: pointer;"><span class="glyphicon glyphicon-search"></span></span>
	</div>
</header>

</div>

<table class="table table-bordered table-responsive" id="users">
	<thead>
		<tr>
			<th style="width: 60px;">Photo</th>
			<th>Name</th>
			<th>Email</th>
			<th>Created On</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td><img src="http://www.filepicker.io/api/file/2DykVyHfTKe1gAw3poSd/convert?w=100&amp;h=100&amp;cache=true"></td>
			<td><a href="/user/529d659407082c0200000003">Alex G</a></td>
			<td>alexgriffith@gmail.com</td>
			<td>Dec 2nd 2013, 9:01:08 pm</td>
		</tr>
	</tbody>
</table>