$('.new_lead').fadeOut(200,function(){
	$(this).html("<div style='display:table;width:100%;height:100%;'><div style='text-align:center;display:table-cell;vertical-align:middle'><h3>Thanks!</h3></div></div>");
	$(this).fadeIn(200);
})