<div id="terms-section" class="border-box">
	<h2> BuildHawk Terms </h2>
	
	<p><h5>How to Contact Us</h5> 
		<p>If you have any questions or concerns regarding the Privacy Policy Agreement related to our website, please feel free to contact us at the following email, telephone number or mailing address. </p> 

		<h5>Email:</h5> <%= mail_to 'contact@buildhawk.com' %> <br/>
		<h5>Telephone Number:</h5> (415) 992-6604 <br/> 
		<h5>Mailing Address:</h5>
		<p>BuildHawk, Inc. <br/> 
		760 Market St. 5th Floor <br/> 
		San Francisco, California 94102</p>
</div>