<% if item.complete %>
	<div class="row checklist-item completed">
<% else %>
	<div class="row checklist-item">
<% end %>
		<div class="col-md-8 checklist-body" style="margin-left:20px;margin-right:-20px;">
			<%=item.body%>
		</div>

		<div class="col-md-2" style="text-align: center;">
				&nbsp;
		</div>

		<div class="col-md-2" style="text-align: center;">
			<% if item.completed_date %><%= parse_time item.completed_date %><% end %>
		</div>

	</div>