<div id="project-checklist">
	<% if @checklist %>
		<div class="project-checklist-table border-box">
			<header>
				<%= form_tag search_items_project_path(@project, :checklist_id => @checklist.id), :id => "checklist-search", :method => :post, :class=>"input-group", :style=>"width:100%;", :remote => true do %>
					<%= text_field_tag :search, nil, :placeholder=>"Search for checklist items...", :class=>"form-control" %>
					<span class="input-group-addon" style="cursor: pointer;" id="remove"><span class="glyphicon glyphicon-remove"></span></span>
				<% end %>
			</header>

			<div class="row" style="font-weight: bold; margin: 0;">
				<% if current_user.admin %>
					<div class="col-md-6">&nbsp;</div>
					<div class="col-md-2" style="text-align: center;">Critical Date</div>	
					<div class="col-md-2" style="text-align: center;">Completed</div>
					<div class="col-md-1" style="text-align: center;">Edit</div>
					<div class="col-md-1" style="text-align: center;">Delete</div>
				<% else %>
					<div class="col-md-8">&nbsp;</div>
					<div class="col-md-2" style="text-align: center;">Critical Date</div>	
					<div class="col-md-2" style="text-align: center;">Completed</div>
				<% end %>	
			</div>
				<div id="checklist-items">
					<%= render :partial => 'projects/phase', :locals => {:checklist => @checklist, :project => @project}, collection: @checklist.categories, :as => :c, cache: false %>
				</div>
		</div>
	<% else %>
		<div style="text-align:center;font-style:italic"><h3 style="color:#aaa;font-weight:100;padding-top:100px;">No checklist items</h3></div>
		<div style="text-align:center;font-style:italic"><%= link_to "Remove this checklist?", delete_checklist_project_path(@project, :checklist_id => @checklist.id), :remote => true, :method => :delete %></div>	
	<% end %>
</div>
<script>
	$('#remove').click(function(){
		$('#search').val('');
		$('#checklist-search').submit();
	});
</script>