<div id="company-dashboard">
	<% if @company.projects && @company.projects.count > 0 %>
		<% @company.projects.each do |project| %>
			<div class="company-project">
				<%= link_to project.name %>
			</div>
		<% end %>
	<% else %>
		<div style="color:#aaa;text-align:center;font-size:1.25em; font-style:italic;margin-top:50px;">Your company does not have any active projects</div>
	<% end %>

	<script type="text/javascript">
		$(document).ready(function(){
			Shadowbox.clearCache();
		    Shadowbox.setup(".shadow-photo", {});
		});
	</script>
</div>