<table id="comments-table">
	<% if comments && comments.count > 0 %>
		<% comments.each do |comment| %>
			<% if comment %>
				<tr>
					<td class="col-md-12"><%= comment.body %></td>
					<td class="col-md-12" style="line-height:1em">
						<% if comment.user %>- <%= comment.user.full_name %> // <% end %>
						<%= parse_time comment.created_at %>
						<% if user_signed_in? && comment.user == current_user %>
							&nbsp;// <%= link_to "Remove", comment_path(comment), :method => :delete, :class => "delete-link", :remote => true %>
						<% end %>
					</td>
				</tr>
			<% end %>
		<% end %>
	<% end %>
</table>