<div id="company-dashboard">
	<% if @company.projects && @company.projects.count > 0 %>
		<% @company.projects.each do |project| %>
			<div class="company-project">
				<div>
					<h5>Synopsis</h5>
					<%= link_to project.name, project_path(project) %> - <%= link_to project.address.formatted_address, "https://www.google.com/maps/preview#!q=#{project.address.formatted_address.html_safe}", :target=>"_blank" %>
				</div>
				<div>
					<h5>Progress</h5>
					<%= link_to project.checklist.progress_percentage, project_path(project), :remote => true %>
				</div>
				<% if project.checklist.upcoming_items.count > 0 %>
					<div>
						<h5>Upcoming</h5>
						<ol>
							<% project.checklist.upcoming_items.each do |item| %>
								<li><%= link_to item.body, checklist_item_project_path(project, :item_id => item.id), :remote => true %></li>
							<% end %>
						</ol>
					</div>
				<% else %>
					<h5 style="font-style:italic;color:#aaa;padding-top:7px;">No upcoming items</h5>
				<% end %>
			</div>

		<% end %>
	<% else %>
		<div style="color:#aaa;text-align:center;font-size:1.25em; font-style:italic;margin-top:50px;">Your company does not have any active projects</div>
	<% end %>

	<script type="text/javascript">
		$(document).ready(function(){
			Shadowbox.clearCache();
		    Shadowbox.setup(".shadow-photo", {});
		});
	</script>
</div>