<div class="company-project" class="border-box">
	<div class="project-header project-breakdown">
		<div>
			<span class="project-name"><%= link_to project.name, project_path(project), remote: true %></span>
			<% if project.address %>
				<%= link_to "https://www.google.com/maps/preview#!q=#{project.address.formatted_address.html_safe}", :target=>"_blank" do %>
					<i class="fa fa-map-marker"></i> <span class="address"><%= project.address.formatted_address %></span>
				<% end %>
			<% end %>
		</div>
	</div>

	<div class="project-breakdown">
		
			<div class="placeholder font-smoothing">No unread updates</div>
		
	</div>
</div>