<div class="border-box destroy-box">
	<div class="delete-confirmation"> 
		<h3>Are you sure you want to delete this project?</h3>
		<p>This will permanently delete the project along with all associated documents, tasks, reports and checklist items.</p>
	</div>
	<div class="center btn-container">
		<%= link_to "Destroy Project", project_path(@project), method: :delete, :class=>"simple-btn danger delete-project-link remote", data: {confirm: "Are you absolutely sure you want to delete this project? This cannot be undone."} %>
	</div>
</div>