<ul>
	<% @folders.each do |s| %>
		<% if s && s.length > 0 %>
			<li class="folder-name">
				<h4 style="display:inline-block"><%= s %></h4><%= link_to "Add Document", new_photo_project_path(@project, :folder => s), :class =>"add-document-link", :remote => true %>
			</li>

			<% @photos.each do |p| %>
				<% if p.folder == s %>
					<li class="photo-name">
						<%= link_to p.name, show_photo_project_path(@project,:photo_id => p.id), :remote => true %>
					</li>
				<% end %>
			<% end %>
			
		<% end %>
	<% end %>
	<% if params[:action] == "document_photos" %>
		<li><%= link_to "Add New Folder", new_photo_project_path(@project),:class => "add-photo-link", :remote => true %></li>
	<% end %>
</ul>