<% if @folders && @folders.count %>
	<ul>
		<%= render partial: "folders/folder", collection: folders, as: :folder, locals:{project:project},cache: false %>
	</ul>
<% end %>
<div id="add-folder-link" class="simple-btn">+ FOLDER</div>
<script type="text/javascript">
	$('#add-folder-link').on('click',function(){
		$(this).fadeOut(200,function(){
			$(this).replaceWith('<%= j render partial:"folders/new", locals: {project: project} %>');
			$(this).fadeIn(200);
		});
	});
	$('#remove').on('click',function(){
		$('#search').val('');
		$('#document-search').submit();
	});
</script>