<div id="main">
	<div id="company-dashboard">
		<div id="messages" class="col-md-2" style="padding-top:10px;">
			
		</div>

		<div class="col-md-8">
			<% if @projects.count > 0 %>
				<%= render :partial => "projects/company_dashboard", collection: @projects, as: :project, cache: true %>
			<% else %>
				<div id="dashboard-placeholder" class="font-smoothing">You don't have any active projects.</div>
			<% end %>
		</div>
		
		<% unless current_user.company.has_admin? %>
			<div class="col-md-2 border-box pro-signup">
				<div>Want to add projects?</div> 
				<div>Need access to checklists, reports, tasks and documents? </div>
				<div class="call-to-action">Sign up for <%= link_to "BuildHawk pro", :style=>"color:#cc0000;", remote:true %>.</div>
			</div>		
		<% end %>
	</div>

	<% if user_signed_in? && current_user.connect_items(nil).count > 0 %>
		<div style="width:100%;clear:both;text-align:center;padding-top:2%;">
			<h2 style="border-top:1px solid #ddd; padding-top:2%;">BuildHawk Connect</h2>
		</div>

		<div id="connect-container">
			<% if @companies && @companies.count > 0 %>
			<% end %>
		</div>
	<% end %>
</div>