<div class="col-xs-12" id="main">
	<div id="pages">
		<div id="company-dashboard">
			<%= render :partial => "projects/company_dashboard", collection: @projects, as: :project, cache: true %>
			<% unless @company.projects && @company.projects.count > 0 %>
				<div id="dashboard-placeholder" class="font-smoothing">Your company does not have any active projects.</div>
			<% end %>
		</div>
	</div>
</div>