<div id="main">
	<% if projects.count > 0 %>
		<div id="company-dashboard" class="border-box">
			<%= render :partial => "projects/company_dashboard", collection: projects, as: :project, cache: true %>
		</div>
	<% else %>
		<div id="dashboard-placeholder" class="font-smoothing">You don't have any active projects.</div>
	<% end %>
		
	<% unless current_user.company.has_admin? %>
		<div id="pro-signup-prompt" class="font-smoothing">
			<!--<div>Want to add projects?</div> 
			<div>Need access to checklists, reports, tasks and documents? </div>-->
			<div class="call-to-action">Sign up for <%= link_to "BuildHawk pro", :style=>"color:#cc0000;", remote:true %> to start adding some.</div>
			<div>Efficiency through organization.</div>
		</div>		
	<% end %>

</div>