<div id="main">
	<div id="company-dashboard">
		<div id="messages" class="col-md-2" style="padding-top:10px;">
			<!--<h4 style="text-align:center;width:100%;">Messages</h4>
			<% if current_user.messages.count > 0 %>
				<%= render :partial => "messages/message", collection: current_user.messages, as: :message, cache:true %>
			<% else %>
				<div style="color:#aaa;">No messages </div>
			<% end %>
			<div style="text-align:center;padding-top:20px;">
				<div style="margin:0 auto"><%= link_to "New Message", new_message_path, :class=>"simple-btn", remote:true %></div>
			</div>-->
		</div>

		<div class="col-md-8">
			<% if @projects.count > 0 %>
				<%= render :partial => "projects/company_dashboard", collection: @projects, as: :project, cache: true %>
			<% else %>
				<div id="dashboard-placeholder" class="font-smoothing">You don't have any active projects.</div>
			<% end %>
		</div>
		
		<div class="col-md-2">
			
		</div>		
	</div>

	<% if user_signed_in? && current_user.connect_items(nil).count > 0 %>
		<div style="width:100%;clear:both;text-align:center;padding-top:2%;">
			<h2 style="border-top:1px solid #ddd; padding-top:2%;">BuildHawk Connect</h2>
		</div>

		<div id="connect-container">
			<%= render partial:"connect/company", collection: @companies, as: :company, cache:true %>
		</div>
	<% end %>
</div>