<div id="main">
	<div id="company-dashboard">
		<div class="col-md-2">
			
		</div>

		<div class="col-md-8">
			<%= render :partial => "projects/company_dashboard", collection: @projects, as: :project, cache: true %>
		</div>
		
		<div id="messages" class="col-md-2 border-box" style="padding-top:10px;">
			<h4 style="text-align:center;width:100%;">Messages</h4>
			<% if current_user.messages.count > 0 %>
				<%= render :partial => "messages/message", collection: current_user.messages, as: :message, cache:true %>
			<% else %>
				<div style="color:#aaa;">No messages </div>
			<% end %>
			<div style="text-align:center;padding-top:20px;">
				<div style="margin:0 auto"><%= link_to "New Message", new_message_path, :class=>"simple-btn", remote:true %></div>
			</div>
		</div>
		<% unless @company.projects && @company.projects.count > 0 %>
			<div id="dashboard-placeholder" class="font-smoothing">Your company does not have any active projects.</div>
		<% end %>
	</div>
</div>