<%= form_for @new_photo, :url => {:action => :photo, :multipart => true }, :remote => true, :method => :post do |f| %>
	<div id="add-photo">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
		<%= f.hidden_field :folder_id, :value => @folder.id %>
	</div>
<% end %>

<script type="text/javascript">
	$(function(){
		$('#new_photo').dropzone({

		});
	    $('#photo-submit').click(function(){
	    	$('#photo-submit').html('Loading...');
	    	$('.new_photo').submit();
	    });
	});
</script>