<div id="project-documents">
		<h2>Documents</h2>
		<% @photos.each do |p| %>
			<% if p.image_file_name %>
				<%= render :partial => "image", :locals => {:p => p} %>
			<% end %>
		<% end %>

		<div style="padding-top:27px;text-align:center;"><%= link_to "Add Document", new_photo_project_path(@project), :style=>"margin:0 auto;",:id => "add-photo-link", :remote => true %></div>
	

	<script type="text/javascript">
		$(document).ready(function(){
			Shadowbox.clearCache();
		    Shadowbox.setup(".shadow-photo", {});
		});
	</script>
</div>