<div id="project-documents">
	<table id="checklists-table">
		<h2>Documents</h2>
		<% @photos.each do |photo| %>
			<% if photo.image_file_name %>
				<%= link_to photo.image.url(:original), :class => "shadow-photo", :rel => "shadowbox[Mixed]" do %> 
					<div style="width:120px;display:inline-block;">
						<%= image_tag photo.image.url(:small), :class => "documents-photo" %>
						<% if photo.source %><%= photo.source%> <% end %>asdas 
					</div>
				<% end %>
			<% end %>
		<% end %>

		<%= link_to "Add photo", new_photo_project_path(@project), :remote => true %>
	</table>

	<script type="text/javascript">
		$(document).ready(function(){
			Shadowbox.clearCache();
		    Shadowbox.setup(".shadow-photo", {});
		});
	</script>
</div>