<%= render :partial => "projects/project_nav" %>

<p class="pull-left visible-xs" style="margin-right: 10px;">
	<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
</p>
<div id="pages">
	<%= render :partial => "project_dashboard", :locals => {:project => @project} %>
</div>