<script>
	$('#nav-admin a, #nav-uber-admin a').removeClass('current-page');
	$('#nav-projects a, li.nav-checklists a').addClass('current-page');
</script>

<div class="col-xs-12" id="main">
	<div id="pages">
		<%= render :partial => "checklist_item", :locals => {:item => @item} %>
	</div>
</div>