$('#top-nav a').removeClass('current-page');
$('.nav-edit a,#<%=@project.id%>-link').addClass('current-page');
$('#main').html('<%= j render :partial => "edit" %>');

$("#project_core").change(function() {
    if(this.checked) {
    	$('#project_core').after('<span id="core-warning"> WARNING: This will make the project visible to all users</span>');
    } else {
    	$('#core-warning').fadeOut(200,function(){
    		$(this).remove();
    	});
    }
});
