<%= render :partial => "projects/sidebar" %>
<div class="col-xs-12 col-sm-9" id="main">
	<%= render :partial => "projects/project_nav" %>
	<div id="pages">
		<%= render :partial => "worklist", :locals => {:punchlists => @punchlists} %>
	</div>
</div>