<div id="pg-<%= @project_group.id %>" class="project-group">
	<div class="row">
		<%= form_for @project_group, url: project_group_path(@project_group), method: :patch do |f| %>
		<div class="col-xs-4">
			<%= f.text_field :name %>
		</div>
		<div class="col-xs-2">
			&nbsp;
		</div>
		<div class="col-xs-2">
			&nbsp;
		</div>
			<div class="col-xs-2">
			<button class="btn btn-md btn-success" style="margin:0 auto;height:36px;"><%= f.submit "Save" %></button>
		</div>
		<% end %>
	</div>
</div>