<div id="pg-<%= project_group.id %>" class="project-group">
	<div class="row">
		<div class="col-xs-4">
			<%= project_group.name %>
		</div>
		<div class="col-xs-4">
			<%= project_group.name %>
		</div>
	</div>
</div>