<div class="row">
	<div class="col-xs-3"><h4>Code</h4></div>
	<div class="col-xs-2"><h4>Company</h4></div>
	<div class="col-xs-2"><h4>Percentage</h4></div>
	<div class="col-xs-1"><h4>Days</h4></div>
	<div class="col-xs-1"><h4># Times Used</h4></div>
	<div class="col-xs-3">&nbsp;</div>
</div>