<p style="text-align:center;font-family:'Helvetica';color:#aaa;font-weight:200;">You just received a new message</p>

<p><%= @message.body %></p>

<div style="color: #aaa; font-weight:200; font-family:'Helvetica';">
	<p style="margin:0;">-<%= @message.author.full_name %></p>
	<p style="margin:0;"><%= @timestamp %></p>
</div>