	<% if @project %>
		<%= render :partial => "projects/sidebar" %>
		<div class="col-xs-12 col-sm-9" id="main">
		<%= render :partial => "projects/project_nav" %>
	<% else %>
		<%= render :partial => "admin/sidebar" %>
	<% end %>

	<div id="pages">
		<%= render :partial => "checklists/category", :locals => {:category => @category} %>
	</div>
</div>