
	<p class="pull-left visible-xs" style="margin-right: 10px;">
		<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
	</p>
	<div id="pages">
		<%= render :partial => "checklists/subcategory", :locals => {:subcategory => @subcategory} %>
	</div>
</div>