// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity-container {
	margin:0 auto;
	padding:15px 15px 20px;

	.activity.row {
		position:relative;
		margin-left:0;
		margin-right:0;
		padding:10px 0 20px !important;
		border-top:1px solid #eee;

		.timestamp {
			font-size:14px;
			color:#aaa;
			position:absolute;
			right:0;
		}
	}
}

.activity-container.border-box {
	padding:10px 20px;
	margin:10px auto 15px;
}