// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_project {

	h4 {
		text-align: left;
	}

	form, input[type="text"] {
		width:100%;
	}
	input[type="checkbox"] {
		width:auto;
		margin-left:0;
	}

	.row.personnel {
		padding:10px 0;
		border-top:1px solid #eee;
	}
}

.payment-errors {
	color:#cc0000;
}

.admin-checklist-table {
	#checklist-items {
		header {
			margin-bottom:15px;
		}
	}
}

#upload-core {
	width:50%;
	padding:10px;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	margin:20px auto;
	display:block;
	border:1px solid #ddd;
	background:#f1f1f1;
	text-align:center;
	table {
		width:100%;

		form {
			input {
				margin: 30px auto;
			}
		}
	}
}

.core-item-row {
	border-bottom:1px solid #ddd;
}

#core-checklist {
	padding:20px; 
	margin-top:40px; 
	border:1px solid #eee;
	margin:0 auto; 
	width:100%;

	th {
		background:#eee;
	}

	td {
		padding:7px;
	}

	td.category,td.subcategory,td.timestamp, td.edit {
		width:10%;
	}
}

.admin-user-pic {
	max-width:200px;
	padding:0px;
}