/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require datetimepicker
 *= require jquery.ui.progressbar
 *= require jquery.ui.autocomplete
 *= require_tree .
 */

$nprogress-color: #cc0000;

@import 'nprogress';
@import 'shadowbox';
@import "font-awesome";

html {
	height: 100%;
	background:#fff;
	overflow-x: hidden;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
	padding:0;
	margin:0;
}

body {
	background-color:#eee;
	min-height:100%;
	height:100%;
	font-family:"Myriad Pro","Myriad Web Pro","Open Sans","OpenSans","Source Sans Pro","Helvetica Neue", Helvetica, sans-serif;
	font-size:15px;

	.font-smoothing, .menu-link {
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    text-rendering:geometricPrecision;
	}

	a, a:focus, .hide-reveal {
		cursor:pointer;
		text-decoration: none;
		color:#222;
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-ms-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
	}

	a:hover, a.current-page, .hide-reveal:hover {
		color:#cc0000 !important;
		text-decoration:none;
	}

	a:active, a:hover {
	  	outline: 0;
	}

	.text-success {
		color:#cc3333;
	}

	p {
  		margin: 0 0 10px;
	}

	ul, ol {
		margin:0;
		padding:0;
	}

	h1, h2, h3 {
		margin:0 auto;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family:"Open Sans","OpenSans","Myriad Pro","Myriad Web Pro","Source Sans Pro","Helvetica",sans-serif;
		text-transform:uppercase;
		font-weight:600;
		letter-spacing:1px;
		line-height:1;
	}

	header {
		//background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(100%, #f7f7f7));
	}

	.header.row {
		margin:0;
		padding:0;
	}

	#alert, #notice {
		font-size: 1.25em;
		line-height: 60px;
		vertical-align: middle;
		width:100%;
		left:0;
		height: 60px;
		text-align: center;
		position: fixed;
		top: 0px;
		z-index: 999;
		display: none;
		color: #000;
		background:rgba(255,255,255,.9);
		border:1px solid #eee;
		border-radius:0;
		-moz-border-radius:0;
		-webkit-border-radius:0;
		box-shadow: 0 1px 4px 0 rgba(0,0,0,.17);
		-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.17);
		-moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,.17);
		padding:0 !important;
		font-family:"Myriad Pro","Source Sans Pro", 'Helvetica Neue','Helvetica',sans-serif;

		/* specific to alerts & notices */
		.fa-remove {
			cursor: pointer;
			position: absolute;
			right: 5px;
			top:5px;
			font-size:1.25em;
		}
	}

	.centered {
		text-align:center;
	}

	table {
		width:100%;
  		max-width: 100%;
  		background-color: transparent;
	}

	.border-box {
		background-color:#fff;
		padding:1%;
		box-shadow: 0 0 7px 0 rgba(0,0,0,.07);
		-moz-box-shadow: 0 0 7px 0 rgba(0,0,0,.07);
		-webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,.07);
		border-radius:2px;
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
	}

	.delete-button {
		float:right;
		clear:both;

		a, a:hover {
			margin:0;
			line-height:26px;
			color:#fff !important;
		}
	}

	.button-container {
		width:100%;
		text-align:center;
		margin:5% auto;
		clear:both;
	}
	
	#condensed-sidebar {
		display:none;
	}

	#main-sidebar.revealed {
		left:0;

		li, #project-search-button, .projects-count {
			opacity: 1;
		}
	}

	#main-sidebar {
		z-index:4;
		min-width:200px;
		height:100%;
		width:20%;
		position:fixed;
		top:0;
		left:-16%;
		font-size:1.25em;
		background:#444;
		overflow-y:scroll;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		/*-webkit-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;*/

		li, #project-search-button, .projects-count {
			opacity:.1;
		}

		#settings-row{
			padding:5px 10px;
		}

		#projects-search-form {
			width:100%;
			border-color:#777;
			border-right:0;
			border-left:0;
		}

		ul {
			li {
				list-style:none;
			}
		}

		#logo {
			width:170px;
		}

		#settings {
			position:relative;
			top:1px;
			width:22px;
		}

		#project-search-button {
			width:24px;
			float:right;
			position:absolute;
			right:55px;
			top:15px;
			color:#fff;
			font-size:24px;
			cursor:pointer;
		}

		#menu-toggle {
			width:24px;
			float:right;
			position:absolute;
			right:17px;
			top:15px;
			cursor:pointer;
			opacity:1 !important;
		}

		.project-sidebar {
			clear:both;
			padding-bottom:55px;

			#search-section {
				display:none;
				line-height:10px;

				input {
					padding:0 10px;
					height:44px;
					margin-bottom:-1px;
					background:transparent;
					color:#fff;
				}

				input.form-control:focus, input.form-control:active {
					box-shadow:0 0 0 0;
					-webkit-box-shadow:0 0 0 0;
					-moz-box-shadow:0 0 0 0;
					background:transparent;
				}
			}

			.project:last-child, .project.buttons {
				//border-bottom:2px solid rgba(255,255,255,.05);
				margin-bottom:-2px;
			}

			.project {
				cursor:default;
				background:#555;
				//border-top:2px solid rgba(255,255,255,.05);
				line-height:15px;
				-webkit-transition: all 0.23s ease;
    			-moz-transition: all 0.23s ease;
    			-ms-transition: all 0.23s ease;
    			-o-transition: all 0.23s ease;
    			transition: all 0.23s ease;
    			letter-spacing:1px;
    			text-transform:uppercase;
    			font-family: "Myriad Pro","Source Sans Pro",'Helvetica Neue',Helvetica,sans-serif;

				.inner-padding {
					padding:0 10px;
				}

				.project-name {
					float:left;
					cursor:pointer;
					width:75%;
					color:#fff;
				}

				a, a:hover {
					color:#fff !important;
					padding:0 10px;
				}

				a:hover {
					text-decoration:underline;
				}
			}

			.hidden-project {
				padding:20px 10px;
			}

			.project:hover, .project.active {
				background:#777;
			}

			.unsortable {
				cursor:default;
			}

			.buttons {
				display:table;
				width:100%;
				min-height:50px;

				#new-project-button, #new-group-button {
					display:table-cell;
					vertical-align:middle;
					height: 20px;
					text-align:center;
					background:#555;
					color:#fff;
					border:0;
				}

				#new-project-button:hover, #new-group-button:hover {
					background:#666;
					color:#fff !important;
				}
			}


			.percentage {
				float:right;
				width: 25%;
				vertical-align: middle;
				text-align: center;
				color:#fff;
			}
			.ui-progressbar {
				display:inline-block;
				background:#999;
				border:0;
				border-radius:0px;
				-moz-border-radius:0px;
				-webkit-border-radius:0px;
				width:100%;
				height:4px;
				vertical-align:bottom;
			}

			.progress-link, .sidebar-progress-link {

				.ui-progressbar-value {
					margin-top:0;
					background:#fff;
					border-width:0;
					border-radius:0px;
					-moz-border-radius:0px;
					-webkit-border-radius:0px;
				}
			}
		}

		#bottom-menu.revealed {
			left:0;
			width:20%;
			opacity: 1;
		}

		#bottom-menu {
			height: 50px;
			width: 4%;
			min-width: 200px;
			position: fixed;
			left: -16%;
			bottom: 0;
			border-top: 1px solid #555;
			border-right: 1px solid #555;
			display: table;
			background:rgba(68,68,68,.9);
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
			opacity:.1;

			a, a:hover {
				color:#fff !important;
			}

			a.current-page {
				text-decoration:underline;
			}

			div:first-child {
				border-right:1px solid #555;
			}

			div {
				display:table-cell;
				vertical-align:middle;
				height:100%;
				text-align:center;
				width:50%;
				padding:0 10px;
				-webkit-transition: all 0.17s ease;
    			-moz-transition: all 0.17s ease;
    			-o-transition: all 0.17s ease;
    			transition: all 0.17s ease;
			}
		}
	}

	#wrap {
		height: auto !important;
		min-height:100%;
		height: 100%;
		width:100%;
		background:#eee;
		overflow:auto;
		margin:0 auto -50px;

		#inner-wrap.revealed {
			left:20%;
			width:80%;
		}

		#inner-wrap {
			margin-top:44px;
			padding:15px;
			width:96%;
			left:4%;
			position:relative;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
			/*-webkit-transform: translateZ(0);
			-ms-transform: translateZ(0);
			transform: translateZ(0);*/
		}

		#main {
			padding-right:0;
			padding-left:0;
		}

		#sidebar {
			padding-left:0;
		}

		#checklists-page {
			.row {
				border-bottom:1px solid #eee;
				margin:0;
				padding:12px;
				&.cat {
					border-bottom: none;
					.col-md-2, .col-md-1 {
						padding-top: 35px;
						text-align: center;
					}
				}
			}

			.row.completed {
				background-color:#fafafa;
				a {
					color:#bbb;
				}

			}
		}

		.faded {
			opacity:.4;
		}

		.no-content.placeholder {
			text-align:center;
			margin:5% auto;
			color:#aaa; 
			font-style:italic;
			font-size:1.2em;
			cursor:default;
		}

		.placeholder {
			text-align:center;
			color:#aaa;
			cursor:default;
		}
	}

	.navbar {
		margin-bottom:0;
		background:#fff;

		.container {
			padding:0;
			width:100%;
		}
	}

	.navbar-fixed-top.app {
		background:#f7f7f7;
		box-shadow: 0 -1px 3px 0 rgba(0,0,0,.14);
		-moz-box-shadow: 0 -1px 3px 0 rgba(0,0,0,.14);
		-webkit-box-shadow: 0 -1px 3px 0 rgba(0,0,0,.14);
	}

	#top-nav.revealed, #top-nav.revealed.app {
		left: 20%;

		#navigation {
			width:80%;
		}
	}

	#top-nav.app {
		left: 4%;
		
		#navigation {
			width: 96%;
		}
	}

	#top-nav {
		left: 0%;
		-webkit-transform: translatez(0);
    	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);

    	#navigation {
			width:100%;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}
	}

	.navbar-fixed-top {
		display:table;
		width:100%;
		z-index:6;
		border-bottom:1px solid #eee;
		height:44px;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;

		.nav-icon {

		}

		.logo {
			width:270px;

			a{
				padding:0 0 0 40px;
				top:0 !important;
				width:280px;
			}

			img {
				width:200px;
				position:relative;
				bottom:2px;
			}
		}
		
		#navigation {
			display:table;
			list-style:none;
			height:100%;

			li {
				display:table-cell;
				width:10%;
				vertical-align:middle;
				text-align:center;
			}

			a {
				font-weight:normal;
				text-transform:uppercase;
				letter-spacing:2px;
				font-weight:600;
				font-family: "Open Sans","OpenSans","Source Sans Pro",'Helvetica Neue',Helvetica,sans-serif;

				.fa {
					font-size:1.1em;
					vertical-align:bottom;
				}
			}

			a:hover {
				background-color:transparent;
				color:#cc0000;
			}

			#internal-nav {
				display:inline-block;
			}
		}
	}

	.project-nav {
		width:100%;
		height:100%;
		
		li:last-child {
			border:0;
		}

		li { 
			text-align:center;
			width:20%;
			min-width:112px;
			border-right:1px solid #eee;
			height:100% !important;

			a {
				font-weight:300;
				font-size:15px;
				padding:15px 0;
				height:100% !important;
			}
		}

		li.admin {
			width:16.666666666667%;
		}

		li:hover {
			background:#eee;
		}
	}

	#dropdown-toggle {
		font-size:16px;
	}
	#dropdown-toggle:hover {
		color:#336699;
	}

	.dropdown-menu {
		width:auto;

		li{ 
			a {
				line-height:2.25em;
				font-size:1em;
				padding:3px 40px;
				text-align:right;
				color:#000;
			}
		}
	}

	.datepicker.dropdown-menu {
		width:auto;
		padding:10px;

		th {
			text-align:center;
		}
	}

	.container {
		width:100%;
	}

	#push {
		clear:both;
		height:50px;
	}

	footer {
		padding-top:17px;
		height:50px;
		border-top:1px solid #ccc;
		background:#fff;
		position:relative;
		left:20%;
		width:80%;

		img {
			padding-top: 25px;
		}

		a {
			-webkit-transition: all 0.25s ease-out;
    		-moz-transition: all 0.25s ease-out;
    		-o-transition: all 0.25s ease-out;
    		transition: all 0.25s ease-out;
    		text-decoration:none;
		}

		a:hover {
			color:#cc0000;
		}

		.links {
			> div {
				width: auto;
				float: left;
				padding-top: 25px;
				padding-right: 50px;
				
			}
		}

		#container {		
			width:70%;
			max-width:800px;
			margin: 0 auto;
			position:relative;

			ul {
				display:inline-block;
				width:40%;

				li {
					list-style:none;
				}
			}

			#copyright {
				color:#aaa;
				display:inline-block;
				position:absolute;
				right:0;
				bottom:5px;
				cursor:default;
			}
		}
	}

	.full {
		left:0 !important;
		width:100% !important;
	}

	// button to clear searches
	.clear {
		float: right; 
		margin: 0px 10px 0px 0px;
	}

	.drop-zone {
		background-color: #ccc;
		padding: 10px;
		height: 75px;
		text-align: center;
		font-size: 16px;
		color: #999;
		border-radius: 4px;
		&.hovering, &:hover {
			background-color: green;
			color: #fff;
			cursor: pointer;
			border: 1px solid orange;
		}
	}

	.photos {
		.photo {
			width: 200px;
			float: left;
			margin: 20px 10px 0px 0px;
			
			.photo-holder {
				float: left;
				width: 200px;
				position: relative;
				img {
					width: 200px;
					cursor: pointer;
				}
				.progress {
					display: none;
					position: absolute;
					top: 15px;
					width: 95%;
					margin: 0px 5px;
				}
			}
			&:hover {
				.remove {
					visibility: visible;
				}
			}
			.filename {
				text-align: center;
			}
			.remove {
				position: absolute;
				z-index: 2000;
				margin-left: 160px;
				font-size: 28px;
				visibility: hidden;
				opacity: .8;
				padding: 0 2px 5px 5px;
				&:hover {
					cursor: pointer;
					opacity: 1;
				}
			}
		}
	}

	.app {
		bottom:0;
	}
}

.align-left {
	text-align:left;
}

.print-container {
	background:#fff;
	padding:0;
	margin:0;
	border:0;
	outline:0;
}

@media print { 
 /* All your print styles go here */
 #header, #footer, #nav, header, footer, nav { display: none !important; } 
}

@page {
	margin:0;
	padding:0;
	size:auto;

	body {
		background:#fff;
		margin:0;
		header, footer {
			display:none;
		}
	}

	#header, #footer, #nav, header, footer, nav { display: none !important; } 
}

#dropdown {
	display:none;
}

.session-container {
	display:table;
	margin:0 auto;
	width:50%;
	height:100%;

	h2 {
		margin:10px auto 15px;
	}

	.inner-container {
		vertical-align:middle;
		display:table-cell;

		form {
			width:100%;
			
			label {
				margin-top:7px;
			}

			input {
				margin:0 auto 7px;
				width:100%;
			}
		}
	}

	.forgot-password-link {
		width:100%;
		margin: 0px auto;
		text-align:center;
		display:block;
	}
}

.reset-password, .change-password {
	#error_explanation {
		padding:20px 0 0;
		
		h2, h3 {
			display:none;
		}
	}
}

.input-group {
	width:100%;
}

input[type="email"], input[type="password"], input[type="text"], textarea {
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	box-shadow:0 0 2px 0 rgba(0,0,0,.3);
	-moz-box-shadow:0 0 2px 0 rgba(0,0,0,.3);
	-webkit-box-shadow:0 0 2px 0 rgba(0,0,0,.3);
	border-color:transparent;
	padding:7px;
}

select[multiple] {
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	outline: 0;
	width: 50%;
	height: auto;
	border: 1px solid #ddd;
}

a.search-button {
	color: #000 !important;
	margin: 0 auto;
}

.center {
	text-align:center;
	margin:0 auto;
}

.left {
	text-align:left;
}

.right {
	text-align:right;
}

.simple-btn {
	cursor:pointer;
	background:#fefefe;
	border: 1px solid rgba(0,0,0,.1);
	box-shadow: 1px 1px 3px -1px rgba(0,0,0,.43);
	-moz-box-shadow: 1px 1px 3px -1px rgba(0,0,0,.43);
	-webkit-box-shadow: 1px 1px 3px -1px rgba(0,0,0,.43);
	border-radius:9px;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	padding:10px 20px;
	position:relative;
	display:inline-block;
	margin:0 10px;
	width:auto;
	text-align:center;
	clear:both;
	font-family:"Open Sans","OpenSans","Myriad Pro","Myriad Web Pro","Helvetica",sans-serif;
	font-size:.95em;
	line-height:1em;
	letter-spacing:2px;
	font-weight:600;
	text-transform:uppercase;
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
   	transition: all 0.2s ease;
}

.simple-btn:hover {
	border-color: rgba(0,0,0,.17);
	box-shadow: 1px 1px 3px -1px rgba(0,0,0,.5);
	-moz-box-shadow: 1px 1px 3px -1px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 1px 3px -1px rgba(0,0,0,.5);
	color:#000;
}

.simple-btn.save {
	width:50%;
}

.action-buttons {
	display:table;
	max-width:50%;
	position:absolute;
	z-index:5;
	border-spacing:4px;
	top:1px;
	right:1px;

	.action {
		display:table-cell;
		width:44px;
		height:44px;
		vertical-align:middle;
		border-radius:4px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border:1px solid #eee;
		margin: 5px 10px;
		padding:0;
		cursor:pointer;
		text-align:center;

		.subtitle {
			display:table-cell;
			vertical-align:top;
			text-transform:uppercase;
			font-weight:600;
			letter-spacing:1px;
			opacity:0;
			padding:0;
			border:0;
		}
		.fa-trash-o, .fa-floppy-o, .fa-share, .fa-remove {
			font-size:1.6em;
		}
	}

	.action:hover {
		border-color:#ddd;
	}

	.no-border{
		border: 0;
	}

	.floating-save {
		padding-right:23px;
	}

	.subtitle:hover {
		opacity:1;
	}
	
	.save-img {
		width:28px;
		margin: 0 auto;
		box-shadow: 0 0 0 0 !important;
		-moz-box-shadow: 0 0 0 0 !important;
		-webkit-box-shadow: 0 0 0 0 !important;
		outline: 0 !important;
	}

	.dismiss {
		padding-right:0;

		img {
			width:24px;
		}
	}

}

.delete-link {
	border:1px solid transparent;
	padding:10px 20px;
	position:relative;
	display:inline-block;
	margin:0 10px;
	width:auto;
	text-align:center;
	clear:both;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:normal;

	img {
		width:50%;
	}
}

.delete-img {
	width:18px;
}

.delete-link:hover {

}

.simple-danger-btn {
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding:7px;
	position:relative;
	display:inline-block;
	margin:0 10px;
	width:auto;
	text-align:center;
	clear:both;
	font-size:14px;
	line-height:1em;
}

.btn, .btn input {
	padding:10px 5px;
	margin-top:2px;
	min-width:80px;
	line-height:1;
	text-transform:uppercase;
	font-family:"Open Sans","OpenSans",'Source Sans Pro','Helvetica',sans-serif;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
}

.btn-success {
	background-color:#336699 !important;
	border-color:#336699 !important;
	opacity:.9;
}

.btn-success:hover {
	opacity:1;
}

.btn-danger, .btn-danger a, .btn-danger a:hover, .btn-danger:hover, {
	color:#fff !important;

	.fa-trash, .fa-trash-o {
		font-size:1.5em;
	}
}

.btn.save {
	margin:0 auto;
	width:50%;
	min-width:150px;
}

.btn-danger {
	display:block;
	width:100%;
	max-width:160px;
	margin:1% auto 0;
	background:#cc0000;
}

.export {
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	position:absolute;
	top:0;
	right:0;
	background:#fff;

	a {
		color:#222;
		text-transform:uppercase;
	}
}

.export:hover {
	background:#ddd;

	a {
		color:#000 !important;
	}
}

.cancel-x {
	background-image: image-url('blackX.png');
	background-repeat:no-repeat;
	background-position:center; 
	background-size:18px 18px;
}

.form-label {
	padding-top:15px;
}

input, textarea {
	outline:0;
	display:block;
}

button {
	outline:0 !important;
}

input[type="submit"] {
	margin:0 auto;
	text-transform:uppercase;
}

.sidebarAdmin, .sidebarUberadmin {
	div {
		text-transform:uppercase;
		margin: 20px 10px;
	}
}

body {
	#home-page, #login-page, #about-page {
		width:100%;
		margin:0 auto;

		ul.nav.navbar-nav {
			height:50px;
			position:relative;
			left:20%;
			width:100%;

			li {
				display: inline-block;
				text-align: center;
				font-size: 1.4em;
				margin: 0 5.35% 0 0;
				float: none;

				a {
					color:#222222;
					padding: 15px 3px 5px;
					border-bottom:2px solid transparent;
				}

				a:hover, a.current-page {
					color:#cc3333;
					transition:.2s;
					-moz-transition:.2s;
					-webkit-transition:.2s;
					-o-transition:.2s;
					border-bottom:2px solid #cc3333;
				}
			}
		}

		#menu {
			width:100%;
			margin:0 auto;
			top:0;
			box-shadow: 0 0 3px 0px #eee;
			-webkit-box-shadow: 0 0 3px 0px #eee;
			-moz-box-shadow: 0 0 3px 0px #eee;
		}

		#logo {
			padding:0;
			top:-1px;
			
			img {
				width:302px;
			}
		}

		#logo:hover {
			border-bottom:0 !important;
		}
	}
}

.btn-lg {
	line-height:1;
	margin:7px;
}

.dz-preview {
	display:inline-block;
	text-align:left;
	font-size:12px;
}
.dz-error-message, .dz-success-mark, .dz-error-mark {
	display:none;
}

.dz-message {
	margin-bottom:20px;
}

.ui-widget {
	border-color:#ccc;
	font-siez:1em;
	list-style:none;
	font-family:'Helvetica Neue','Helvetica','Arial',sans-serif !important;

	li.ui-menu-item, .ui-menu-item a, li.ui-menu-item:hover, .ui-menu-item a:hover {
		background:transparent !important;
		border:0 !important;
		margin:0 !important;
		padding:2px 4px !important;
	}
}

@media only screen and (max-width: 990px), only screen and (max-device-width: 990px) {
	body {
		#wrap {

			.navbar {

				#navigation {
					width:100%;

					li {
						top: 15px;
						margin:0 10px;
					}
					.logo {
						a{
							display:none;
						}
					}
					a {
						font-size:1.1em !important;
					}
				}
			}

			#main-sidebar {
				display:none;
			}

			#condensed-sidebar {
				z-index:10;
				display:block;
				background:#444;
				position:fixed;
				height:100%;
				width:40px;
				top:0;
				left:0;
				border-right:1px solid #ddd;

				#toggle {
					cursor:pointer;
					width:34px;
					margin-top:2px;
					margin-left:2px;
				}

				ul#main-dropdown-menu {
					display:none;
					position:absolute;
					left:40px;
					top:0;
					background:#fff;
					width:200px;
					padding:0 10px;

					li {
						list-style:none;
						display:block;
						padding:20px 0;
						border-bottom:1px solid #ddd;

						a {
							text-transform:uppercase;
						}
					}

					li:last-child {
						border-bottom:0;
					}
				}
			}

		}

		footer {
			left:40px;
			width:100%;
		}
	}
}

@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
	body {
		#wrap {
			overflow:auto !important;

			.navbar {
				left:40px;

				#navigation {
					display:none;
				}
			}

			#inner-wrap {
				left:40px;
				min-width:864px;
				overflow:scroll;
			}
		
			#dropdown{
				display:block;
				position:absolute;
				left:2%;
				width:100%;

				#dropdown-menu {
					display:none;
					position:relative;
					top:-34px;
					left:52px;
					background:white;
					border:1px solid #ddd;
					padding:10px;
					width:50%;
					max-width:200px;
					font-size:17px;
					line-height:23px;

					li {
						display:block;
						border:0;
						a {
							text-transform:uppercase;
							
							letter-spacing:1px;
						}
					}
				}
			}	
		}
	}
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	body {
		font-size:36px;

		.project-nav {
			li {
				width:100%;
				border:0;
			}
		}

		#wrap {
			#inner-wrap {
				padding-top:110px;
			}
		}

		.session-container {
	 		width:90%;

	 		h3 {
	 			font-size:1.5em;
	 			width:100%;
	 		}

	 		a {
	 			font-size:1em;
	 			width:100%;
	 		}

	 		.button-container {
	 			margin:0 auto 10%;
	 		}
	 	}

	 	input[type="submit"] {
	 		font-size:36px;
	 	}

	 	#sidebar {
	 		float:none;
	 		width:100%;
	 		padding-right:0;
	 	}

	}

  	.row-offcanvas {
    	position: relative;
    	-webkit-transition: all 0.25s ease-out;
    	-moz-transition: all 0.25s ease-out;
    	transition: all 0.25s ease-out;
  	}

  	footer {
  		display:none;
  	}

	#habla_beta_container_do_not_rely_on_div_classes_or_names {
		display:none !important;
	}
	
	ul.nav.navbar-nav {
		height: auto !important;
		text-align:center;
		margin:0;
		display:inline-block;

		#nav-contact, #nav-about, #nav-pricing {
			float:left;
		}

		li:first-child {
			width:100%;
			margin:0 !important;
		}
	
	}

	p, h1, h2, h3 {
		width:80%;
		margin:0 auto;
		float:none;
	}

	#logo {
		margin:0 auto !important;
		top:0;
		display:block !important;
		width:100%;

		img {
			margin:0 auto;
			width:50%;
		}
	}

	section {
		height:100%;
	}

	#menu {
		height:100px;
		position:absolute;
		display:block;
		margin-bottom:5%;

		ul li a {
			margin:0;
			padding:0;
		}
	}

	#macbook-iphone {
		display:none;
	}

	#about {
		height: auto !important;
		padding-top:60px !important;
		padding-bottom:60px !important;

		ul#pitch {
			width:90% !important;
			margin:0 auto !important;
			

			.benefit {
				float:none !important;
				width:100% !important;
				display:block;
			}

			.benefit.image {
				margin:0 !important;
			}

			li {
				width:100% !important;
				border:0 !important;
				height:auto !important;
				padding:5%;

				img {
					width:20%;
					display:block;
					margin:0 auto;
				}

				#lock {
					width:15%;
				}

				p {
					width:100% !important;
				}
			}
		}
	}

	#pricing {
		font-size:1.2em;
		height:auto !important;
		width:100%;
		display:inline-block;

		#left {
			width:100% !important;
			float:none;
			padding:0 !important;

			p {
			width:80% !important;
			}
		}

		#right, #right img {
			display:none !important;
		}
	}

	#contact {
		height:auto !important;
	}

	footer {
		display:none;
	}
}

.bootstrap-datetimepicker-widget {
	width:auto !important;
}