/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require datetimepicker
 *= require jquery.ui.progressbar
 *= require jquery.ui.autocomplete
 *= require_tree .
 */

$nprogress-color: #cc0000;

@import 'nprogress';
@import 'nprogress-bootstrap';
@import 'shadowbox';
@import 'bootstrap';

html {
	height: 100%;
	background:#fff;
	overflow-x: hidden;
}

body {
	background-color:#eee !important;
	min-height:100%;
	height:100%;

	a, a:focus, .hide-reveal {
		cursor:pointer;
		color:#222;
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-ms-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
	}

	a:hover, a.current-page, .hide-reveal:hover {
		color:#cc3333 !important;
		text-decoration:none;
	}

	.text-success {
		color:#cc3333;
	}

	ul, ol {
		margin:0;
		padding:0;
	}

	h1, h2, h3 {
		margin:10px 0;
	}

	h1, h2, h3, h4, h5 {
		font-family:"Source Sans Pro","Gotham Book","Helvetica",sans-serif;
		text-transform:uppercase;
		font-weight:bolder;
	}

	h4 {
		text-align:center;
	}

	.alert, .notice {
		font-size: 1.25em;
		line-height: 40px;
		vertical-align: middle;
		width:80%;
		height: 40px;
		text-align: center;
		position:fixed;
		top: 0px;
		z-index:9999;
		display:none;
		color:#000;
		background:#fff;
		border-radius:0;
		-webkit-border-radius:0;
		border-bottom-left-radius:4px;
		border-bottom-right-radius:4px;
		-webkit-border-bottom-right-radius: 4px;
		-webkit-border-bottom-left-radius: 4px;
		-moz-border-radius: 0 0 4px 4px;
		box-shadow: 0 0 7px 0 rgba(0,0,0,.1);
		-webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,.1);
		-moz-box-shadow: 0 0 7px 0 rgba(0,0,0,.1);
		padding:0 !important;
		margin:0 auto;
		font-family:"Gotham Book", 'Helvetica Neue','Helvetica',sans-serif;
	}

	.gotham {
		font-family:"Gotham Book", 'Helvetica Neue','Helvetica',sans-serif;
	}

	.centered {
		text-align:center;
	}

	.border-box {
		background-color:#fff;
		padding:20px;
		border:1px solid #ddd;
	}

	.delete-button {
		float:right;
		clear:both;

		a, a:hover {
			margin:0;
			line-height:26px;
			color:#fff !important;
		}
	}

	.button-container {
		width:100%;
		text-align:center;
		margin:5% auto 0%;
	}

	#pages {
		#login-page, #register-page, #forgot-page, #reset-page {
			margin: 100px auto; 
			max-width: 350px;
			padding: 10px;
		}

		#terms {
			width:50%;
			margin:0 auto;
		}
	}

	#wrap {
		height: auto !important;
		min-height:100%;
		height: 100%;
		width:100%;
		background:#eee;
		margin:0 auto -80px;

		#pagescontainer {
			padding: 70px 40px 0;
		}

		#main {
			padding-right:0;
			padding-left:0;
			margin-bottom:20px;
		}

		#sidebar {
			padding-left:0;
		}

		#checklists-page {
			.row {
				border-bottom:1px solid #eee;
				margin:0;
				padding:12px;
				&.cat {
					border-bottom: none;
					.col-md-2, .col-md-1 {
						padding-top: 35px;
						text-align: center;
					}
				}
			}

			.row.completed {
				background-color:#fafafa;
				a {
					color:#bbb;
				}

			}
		}
	}

	.navbar {
		margin-bottom:0;
		background:#fff;

		.container {
			padding:0;
			width:100%;
		}
	}

	.navbar-fixed-top {
		z-index:3;
		background-color: #fff;
		border-bottom:1px solid #eee;

		.logo {
			padding:0 20px 0 40px;
			margin-left:0;
			float:left;

			img {
				margin:10px auto;
				height:30px;
			}
		}
		
		#navigation {
			display:inline-block;
			list-style:none;
			float:left;
			width:auto;
			
			li {
				display:inline-block;
				position:relative;
				top:12px;
				margin:0 20px;
			}

			li:hover, li:hover a {
				background:transparent;
			}

			a {
				font-size:1.5em;
				font-weight:bolder;
				letter-spacing:1px;
				font-family:'Source Sans Pro','Helvetica',sans-serif;
				text-transform:uppercase;
			}

			a:hover {
				background-color:transparent;
				color:#cc0000;
			}
		}
	}
	
	.project-nav {
		width:100%;
		height:100%;
		
		li:last-child {
			border:0;
		}

		li { 
			text-align:center;
			width:20%;
			min-width:112px;
			border-right:1px solid #eee;
			height:100% !important;

			a {
				font-weight:300;
				font-size:15px;
				padding:15px 0;
				letter-spacing:1px;
				height:100% !important;
			}
		}

		li.admin {
			width:16.666666666667%;
		}

		li:hover {
			background:#eee;
		}
	}

	.dropdown-menu {
		width:auto;

		li{ 
			a {
				line-height:2.25em;
				font-size:1.1em;
				padding:3px 40px;
				text-align:right;
				font-family:'Gotham Book',"Helvetica",sans-serif;
				color:#000;
			}
		}
	}

	.datepicker.dropdown-menu {
		width:auto;
		padding:10px;

		th {
			text-align:center;
		}
	}

	.container {
		width:100%;
	}

	#push {
		clear:both;
		height:80px;
	}

	footer {
		height:80px;
		padding-top:20px;
		background-color: #fff;
		font-size: 11px;
		img {
			padding-top: 25px;
		}

		a {
			font-size:1.25em;
			line-height:1.5em;
			-webkit-transition: all 0.25s ease-out;
    		-moz-transition: all 0.25s ease-out;
    		-o-transition: all 0.25s ease-out;
    		transition: all 0.25s ease-out;
    		text-decoration:none;
		}

		a:hover {
			color:#cc0000;
		}

		.links {
			> div {
				width: auto;
				float: left;
				padding-top: 25px;
				padding-right: 50px;
				
			}
		}

		#container {		
			width:50%;
			margin: 0 auto;

			ul {
				display:inline-block;
				width:40%;
				font-weight:200;

				li {
					list-style:none;
				}
			}

			#copyright {
				color:#aaa;
				display:inline-block;
			}
		}
	}

	// button to clear searches
	.clear {
		float: right; 
		margin: 0px 10px 0px 0px;
	}

	.drop-zone {
		background-color: #ccc;
		padding: 10px;
		height: 75px;
		text-align: center;
		font-size: 16px;
		color: #999;
		border-radius: 4px;
		&.hovering, &:hover {
			background-color: green;
			color: #fff;
			cursor: pointer;
			border: 1px solid orange;
		}
	}

	.photos {
		.photo {
			width: 200px;
			float: left;
			margin: 20px 10px 0px 0px;
			
			.photo-holder {
				float: left;
				width: 200px;
				position: relative;
				img {
					width: 200px;
					cursor: pointer;
				}
				.progress {
					display: none;
					position: absolute;
					top: 15px;
					width: 95%;
					margin: 0px 5px;
				}
			}
			&:hover {
				.remove {
					visibility: visible;
				}
			}
			.filename {
				text-align: center;
			}
			.remove {
				position: absolute;
				z-index: 2000;
				margin-left: 160px;
				font-size: 28px;
				visibility: hidden;
				opacity: .8;
				padding: 0 2px 5px 5px;
				&:hover {
					cursor: pointer;
					opacity: 1;
				}
			}
		}
	}
}

#projects-tab {
	//filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	position: fixed;
	left: -63px;
	height: 34px;
	vertical-align: middle;
	line-height: 34px;
	width: 160px;
	text-align: center;
	font-size: 22px;
	top: 45%;
	color: #fff;
	letter-spacing: 1px;
	font-family: "Source Sans Pro";
	background: #bbb;
	cursor: pointer;
	border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	z-index: 4;
	outline: 0;
}

#projects-tab.open {
	left:187px;
}

/* Overlay style */
.overlay {
	position: fixed;
	width: 25%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(153,204,51,0.9);
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: image-url('blackX.png') no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 15.5%;
	height: 60%;
	-webkit-transform: translateY(-25%);
	transform: translateY(-25%);

	#sidebar {
		margin: 0 auto;
		width:95%;
	}
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.overlay ul li a {
	font-size: 54px;
	font-weight: 300;
	display: block;
	color: #000;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #f0f0f0;
}

/* Effects */

#wrap {
	overflow-x: hidden;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;	
}

#wrap.overlay-open {
	-webkit-transform: translateX(25%);
	transform: translateX(25%);
}

#wrap::after {
	content: '';
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

#wrap.overlay-open::after {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-contentpush {
	background: #fff;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentpush.open {
	visibility: visible;
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}


.session-container {
	height:100%;
	display:table;
	width:400px;
	margin:0 auto;

	.inner-container {
		vertical-align:middle;
		display:table-cell;

		form {
			width:100%;
			input {
				margin:5px auto;
				width:100%;
			}
		}
	}
}

.input-group {
	width:100%;
}

input[type="email"], input[type="password"], input[type="text"], textarea {
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	box-shadow:0 0 0 0 transparent;
	-moz-box-shadow:0 0 0 0 transparent;
	-webkit-box-shadow:0 0 0 0 transparent;
	border:1px solid #ddd;
	padding:7px;
}

select[multiple] {
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	outline: 0;
	width: 50%;
	height: auto;
	border: 1px solid #ddd;
}

a.search-button {
	color: #000 !important;
	padding: 0;
	line-height: 32px;
	width: 24%;
	margin: 0 auto 15px;
}

.simple-btn {
	border:1px solid #ddd;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding:7px;
	position:relative;
	display:inline-block;
	margin:0 10px;
	width:auto;
	text-align:center;
	clear:both;
	font-family:"Source Sans Pro",'Helvetica',sans-serif;
	font-size:16px;
	line-height:1em;
}

.simple-btn:hover {
	border-color:#ccc;
}

.simple-danger-btn {
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding:7px;
	position:relative;
	display:inline-block;
	margin:0 10px;
	width:auto;
	text-align:center;
	clear:both;
	font-family:"Gotham Book",'Helvetica',sans-serif;
	font-size:14px;
	line-height:1em;
}

.btn, .btn input {
	padding:10px 5px;
	margin-top:2px;
	min-width:80px;
	line-height:1.5;
	text-transform:uppercase;
	font-family:'Gotham Book','Helvetica',sans-serif;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}

.btn-success {
	background-color:#336699 !important;
	border-color:#336699 !important;
	opacity:.9;
}

.btn-success:hover {
	opacity:1;
}

.btn-danger, .btn-danger a, .btn-danger a:hover, .btn-danger:hover, {
	color:#fff !important;
}

.btn.save {
	margin:0 auto;
	width:50%;
	min-width:150px;
}

.btn-danger {
	display:block;
	width:100%;
	max-width:160px;
	margin:1% auto 0;
	height:41px;
}

.export {
	margin-top:0px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	font-size:1.1em;
	background:#fff;
	border:1px solid #ddd;
	box-shadow:1px 1px 2px 0 rgba(0,0,0,.5);

	a {
		color:#222;
		text-transform:uppercase;
		letter-spacing:1px;
	}
}

.export:hover {
	background:#ddd;

	a {
		color:#000 !important;
	}
}

.cancel-x {
	background-image: image-url('blackX.png');
	background-repeat:no-repeat;
	background-position:center; 
	background-size:18px 18px;
}

.form-label {
	padding-top:15px;
}

input, textarea {
	outline:0;
	display:block;
}

input[type="submit"] {
	margin:0 auto;
	background:transparent;
	border:0;
	color:#fff;
	text-transform:uppercase;
	font-weight:200;
	font-family:'Gotham Book','Helvetica',sans-serif;
}

.spinner {
	display: inline-block;
	opacity: 0;
	max-width: 0;
	-webkit-transition: opacity 0.25s, max-width 0.45s; 
	-moz-transition: opacity 0.25s, max-width 0.45s;
	-o-transition: opacity 0.25s, max-width 0.45s;
	transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}

.has-spinner.active {
  	cursor:progress;
}

.has-spinner.active .spinner {
  	opacity: 1;
  	max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
}

.sidebarProjects {
	div {
		margin: 5px auto 0;
	}
}

.sidebarAdmin, .sidebarUberadmin {
	div {
		text-transform:uppercase;
		margin: 20px 10px;
	}
}

body {
	#home-page, #login-page, #about-page {
		width:100%;
		margin:0 auto;

		ul.nav.navbar-nav {
			height:50px;
			position:relative;
			left:20%;
			width:100%;

			li {
				display: inline-block;
				text-align: center;
				font-size: 1.4em;
				margin: 0 5.35% 0 0;
				float: none;

				a {
					color:#222222;
					padding: 15px 3px 5px;
					border-bottom:2px solid transparent;
				}

				a:hover, a.current-page {
					color:#cc3333;
					transition:.2s;
					-moz-transition:.2s;
					-webkit-transition:.2s;
					-o-transition:.2s;
					border-bottom:2px solid #cc3333;
				}
			}
		}

		#menu {
			width:100%;
			margin:0 auto;
			top:0;
			box-shadow: 0 0 3px 0px #eee;
			-webkit-box-shadow: 0 0 3px 0px #eee;
			-moz-box-shadow: 0 0 3px 0px #eee;
		}

		#logo {
			padding:0;
			top:-1px;
			
			img {
				width:302px;
			}
		}

		#logo:hover {
			border-bottom:0 !important;
		}
	}
}

.btn-lg {
	line-height:1;
	margin:7px;
}

.dz-preview {
	display:inline-block;
	text-align:left;
	font-size:12px;
}
.dz-error-message, .dz-success-mark, .dz-error-mark {
	display:none;
}

.dz-message {
	margin-bottom:20px;
}

.ui-widget {
	border-color:#ccc !important;
	font-siez:1em;
	list-style:none;
	font-family:'Helvetica Neue','Helvetica','Arial',sans-serif !important;

	li.ui-menu-item, .ui-menu-item a, li.ui-menu-item:hover, .ui-menu-item a:hover {
		background:transparent !important;
		border:0 !important;
		margin:0 !important;
		padding:2px 4px !important;
	}
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	body {
		font-size:36px;

		.project-nav {
			li {
				width:100%;
				border:0;
			}
		}

		#wrap {
			#pagescontainer {
				padding-top:110px;
			}
		}

		.session-container {
	 		width:90%;

	 		h3 {
	 			font-size:1.5em;
	 			width:100%;
	 		}

	 		a {
	 			font-size:1em;
	 			width:100%;
	 		}

	 		.button-container {
	 			margin:0 auto 10%;
	 		}
	 	}

	 	input[type="submit"] {
	 		font-size:36px;
	 	}

	 	#sidebar {
	 		float:none;
	 		width:100%;
	 		padding-right:0;
	 	}

	}

  	.row-offcanvas {
    	position: relative;
    	-webkit-transition: all 0.25s ease-out;
    	-moz-transition: all 0.25s ease-out;
    	transition: all 0.25s ease-out;
  	}

  	footer {
  		display:none;
  	}

	#habla_beta_container_do_not_rely_on_div_classes_or_names {
		display:none !important;
	}
	
	ul.nav.navbar-nav {
		height: auto !important;
		text-align:center;
		margin:0;
		display:inline-block;

		#nav-contact, #nav-about, #nav-pricing {
			float:left;
		}

		li:first-child {
			width:100%;
			margin:0 !important;
		}
	
	}

	p, h1, h2, h3 {
		width:80%;
		margin:0 auto;
		float:none;
	}

	#logo {
		margin:0 auto !important;
		top:0;
		display:block !important;
		width:100%;

		img {
			margin:0 auto;
			width:50%;
		}
	}

	section {
		height:100%;
	}

	#menu {
		height:100px;
		position:absolute;
		display:block;
		margin-bottom:5%;

		ul li a {
			margin:0;
			padding:0;
		}
	}

	#macbook-iphone {
		display:none;
	}

	#about {
		height: auto !important;
		padding-top:60px !important;
		padding-bottom:60px !important;

		ul#pitch {
			width:90% !important;
			margin:0 auto !important;
			

			.benefit {
				float:none !important;
				width:100% !important;
				display:block;
			}

			.benefit.image {
				margin:0 !important;
			}

			li {
				width:100% !important;
				border:0 !important;
				height:auto !important;
				padding:5%;

				img {
					width:20%;
					display:block;
					margin:0 auto;
				}

				#lock {
					width:15%;
				}

				p {
					width:100% !important;
				}
			}
		}
	}

	#pricing {
		font-size:1.2em;
		height:auto !important;
		width:100%;
		display:inline-block;

		#left {
			width:100% !important;
			float:none;
			padding:0 !important;

			p {
			width:80% !important;
			}
		}

		#right, #right img {
			display:none !important;
		}
	}

	#contact {
		height:auto !important;
	}

	footer {
		display:none;
	}
}

.bootstrap-datetimepicker-widget {
	width:auto !important;
}


@font-face {
    font-family: 'Gotham Book';
    src: asset-url('gotham-book-webfont.eot');
    src: asset-url('gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('gotham-book-webfont.woff') format('woff'),
         asset-url('gotham-book-webfont.ttf') format('truetype'),
         asset-url('gotham-book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: asset-url('Montserrat-Regular.eot');
  src: asset-url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
       font-url('Montserrat-Regular.woff') format('woff'),
       asset-url('Montserrat-Regular.ttf') format('truetype'),
       asset-url('Montserrat-Regular.svg#Montserrat-Regular') format('svg');
}

@font-face {
    font-family: 'Source Sans Pro';
    src: asset-url('sourcesanspro-regular-webfont.eot');
    src: asset-url('sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('sourcesanspro-regular-webfont.woff') format('woff'),
         asset-url('sourcesanspro-regular-webfont.ttf') format('truetype'),
         asset-url('sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: asset-url('sourcesanspro-light-webfont.eot');
    src: asset-url('sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('sourcesanspro-light-webfont.woff') format('woff'),
         asset-url('sourcesanspro-light-webfont.ttf') format('truetype'),
         asset-url('sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: asset-url('sourcesanspro-it-webfont.eot');
    src: asset-url('sourcesanspro-it-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('sourcesanspro-it-webfont.woff') format('woff'),
         asset-url('sourcesanspro-it-webfont.ttf') format('truetype'),
         asset-url('sourcesanspro-it-webfont.svg#source_sans_proitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: asset-url('sourcesanspro-semibold-webfont.eot');
    src: asset-url('sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('sourcesanspro-semibold-webfont.woff') format('woff'),
         asset-url('sourcesanspro-semibold-webfont.ttf') format('truetype'),
         asset-url('sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: 700;
    font-style: normal;
}

/* Override Bootstrap 3 font locations */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('glyphicons-halflings-regular.eot');
  src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
  		url('glyphicons-halflings-regular.woff') format('woff'), 
  		url('glyphicons-halflings-regular.ttf') format('truetype'), 
  		url('glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}