/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require datetimepicker
 *= require_tree .
 */

@import "shadowbox";
@import 'bootstrap';

html, body {
	height: 100%;
}

a {
	color:#777;
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;

}
a:hover, a.current-page {
	text-decoration:none;
	color:#cc0000 !important;
}

.text-success {
	color:#cc3333;
}

.alert, .notice {
	font-size: 1.2em;
	font-weight:400;
	line-height: 40px;
	vertical-align: middle;
	width:50%;
	height: 40px;
	text-align: center;
	position:fixed;
	top: 50px;
	z-index:9999;
	display:none;
	color:#000;
	background:transparent;
	padding:0;
	margin:0 auto;
}

body {
	font-weight:300;
	
	#wrap {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		/* Negative indent footer by its height */
		margin: 75px auto -75px;
		/* Pad bottom by footer height */
		padding: 0 0 75px;
	}

	#pagescontainer {
		margin-top:100px;
		margin-bottom:60px;
	}

	.navbar {
		margin-bottom: 20px;
		background-color: #f8f8f8;
		border: 1px solid #e7e7e7;
		.navbar-header{
			.navbar-brand {
				padding:0 30px;
				margin-left:0;

				img {
					margin-top:10px;
					height:30px;
				}
			}
		}
	}

	.navbar-nav {

		li:hover, li:hover a {
			background:transparent;
		}
		> li > a {
			font-size:1.2em;
			font-weight:300;
			padding:15px 25px;
		}

		> a:hover {
			background-color:transparent;
			color:#cc0000 !important;
		}

	}

	.dropdown-menu {
		width:100%;
		> li > a {
			line-height:2.25em;
			font-size:1.25em;
			font-weight:300;
			padding:3px 40px;
			text-align:right;
		}
	}

	.datepicker.dropdown-menu {
		width:auto;
		padding:10px;

		th {
			text-align:center;
		}
	}

	.container {
		width:95%;
	}

	footer {
		background-color: #f8f8f8;
		min-height: 90px;
		font-size: 12px;
		img {
			padding-top: 25px;
		}

		a {
			font-weight:200;
			font-size:1.25em;
			line-height:1.5em;
			color:#aaa;
			-webkit-transition: all 0.25s ease-out;
    		-moz-transition: all 0.25s ease-out;
    		transition: all 0.25s ease-out;
    		text-decoration:none;
		}

		a:hover {
			color:#222;
		}
		.links {
			> div {
				width: auto;
				float: left;
				padding-top: 25px;
				padding-right: 50px;
				
			}
		}
	}

	// button to clear searches
	.clear {
		float: right; 
		margin: 0px 10px 0px 0px;
	}

	.drop-zone {
		background-color: #ccc;
		padding: 10px;
		height: 75px;
		text-align: center;
		font-size: 16px;
		color: #999;
		border-radius: 4px;
		&.hovering, &:hover {
			background-color: green;
			color: #fff;
			cursor: pointer;
			border: 1px solid orange;
		}
	}

	.photos {
		.photo {
			width: 200px;
			float: left;
			margin: 20px 10px 0px 0px;
			
			.photo-holder {
				float: left;
				width: 200px;
				position: relative;
				img {
					width: 200px;
					cursor: pointer;
				}
				.progress {
					display: none;
					position: absolute;
					top: 15px;
					width: 95%;
					margin: 0px 5px;
				}
			}
			&:hover {
				.remove {
					visibility: visible;
				}
			}
			.filename {
				text-align: center;
			}
			.remove {
				position: absolute;
				z-index: 2000;
				margin-left: 160px;
				font-size: 28px;
				visibility: hidden;
				opacity: .8;
				padding: 0 2px 5px 5px;
				&:hover {
					cursor: pointer;
					opacity: 1;
				}
			}
		}
	}
}

.session-container {
	padding-top:5%;
	display:block;
	width:400px;
	margin:0 auto;

	form {
		width:100%;
		input {
			margin:0 auto;
			width:100%;
		}
	}
}

input[type="email"], input[type="password"], input[type="text"], textarea {
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	box-shadow:0 0 0 0 transparent;
	-moz-box-shadow:0 0 0 0 transparent;
	-webkit-box-shadow:0 0 0 0 transparent;
	border:1px solid #ddd;
	padding:7px;
}

select[multiple] {
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	outline: 0;
	width: 50%;
	height: auto;
	border: 1px solid #eee;
}

input, textarea {
	outline:0;
	display:block;
}

input[type="submit"] {
	background:transparent;
	border:0;
	color:#fff;
}

.sidebarProjects {
	
	> div {
		margin: 20px 0;
	}
}

#userform-page {
	width:60%;
	margin:0 auto;
}

#wrap {
	#main {
		.navbar-nav {
			li a {
				font-size:1.15em;
			}
		}
	}

	#main, #sidebar {
		> .admin, > .projects {
			/*display: none;*/

			ul > li > a {
				font-size: 1.1em;
			}

			> .sidebarProjects > div > a {
				font-size: 1.15em;
			}
		}
	}
	&.projects-page, &.projectform-page,  &.checklists-page, &.checklistitem-page, &.project-page, &.documents-page, &.report-page, &.reports-page, &.punchlists-page, &.punchlistform-page, &.dashboard-page {
		#main, #sidebar {
			> .projects {
				display: block;
			}
			> .admin {
				display: none;
			}

			form {
				margin-left:10%;
			}
		}
	}

	#checklists-page {
		div > .row {
			border-bottom:1px solid #eee;
			margin:0;
			padding:12px;
			&.cat {
				border-bottom: none;
				.col-md-2, .col-md-1 {
					padding-top: 35px;
					text-align: center;
				}
			}
		}

		.row.completed {
			background-color:#fafafa;
			a {
				color:#bbb;
			}

		}
	}
	
}

body {
	background:#eee;
	font-weight:200;
	
	a {
		color:#777;
	}

	a:hover {
		color:#cc3333;
		text-decoration:none;
	}

	#pages {
		

		#login-page, #register-page, #forgot-page, #reset-page {
			margin: 100px auto; 
			max-width: 350px;
			padding: 10px;
		}

		#terms {
			width:50%;
			margin:0 auto;
		}
	}

	#home-page, #login-page, #about-page {
		width:100%;
		margin:0 auto;

		ul.nav.navbar-nav {
			height:50px;
			position:relative;
			left:20%;
			width:100%;

			li {
				display: inline-block;
				text-align: center;
				font-size: 1.4em;
				margin: 0 5.35% 0 0;
				font-weight: 200;
				float: none;

				a {
					color:#222222;
					padding: 15px 3px 5px;
					border-bottom:2px solid transparent;
				}

				a:hover, a.current-page {
					color:#cc3333;
					transition:.2s;
					-moz-transition:.2s;
					-webkit-transition:.2s;
					-o-transition:.2s;
					border-bottom:2px solid #cc3333;
				}
			}
		}

		#menu {
			width:100%;
			margin:0 auto;
			top:0;
			box-shadow: 0 0 3px 0px #eee;
			-webkit-box-shadow: 0 0 3px 0px #eee;
			-moz-box-shadow: 0 0 3px 0px #eee;
		}

		#logo {
			padding:0;
			top:-1px;
			
			img {
				width:302px;
			}
		}

		#logo:hover {
			border-bottom:0 !important;
		}
	}
}

.btn-lg {
	line-height:1;
	margin:7px;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	#habla_beta_container_do_not_rely_on_div_classes_or_names {
		display:none !important;
	}

	#splash-container {
		width:100%;
		margin-top:20% !important;
	}


	
	ul.nav.navbar-nav {
		position:absolute;
		height: auto !important;
		text-align:center;
		margin:0 !important;
		left:0 !important;
		li:first-child {
			width:100%;
			margin:0 !important;
		}
		
		.right {
			margin-top:1.5% !important;
		}

		li a {
			padding-top:8px !important;
		}
	}

	p, h1, h2, h3 {
		width:80%;
		margin:0 auto;
		float:none;
	}

	#logo {
		margin:0 auto !important;
		top:0;
		display:block !important;
		width:100%;

		img {
			margin:0 auto;
			width:50%;
		}
	}

	section {
		height:100%;
	}

	#menu {
		height:100px;
		position:absolute;
		display:block;
		margin-bottom:5%;

		ul li a {
			margin:0;
			padding:0;
		}
	}

	#macbook-iphone {
		display:none;
	}
	
	#first-splash {
		padding-top:40px !important;
		height:720px !important;
		.container.marketing {
			float:none !important;
			display:block !important;
			width:100% !important;
			margin:0 auto !important;
			padding:5%;
			border:0;
		}

		#checklist-image, #checklist-image-blue, #report-image, #report-image-blue, #document-image, #document-image-blue, #punchlist-image, #punchlist-image-blue {
			background-size:84px !important;
			width:84px !important;
			height:84px !important;
		}

		.splash-image {
			width:100%;
			height:110%;
			margin:0;
			padding-bottom:10% !important;
			display:block;
			float:left;
			border-bottom:0;

			span {
			margin-top:8% !important;
			}

			p {
				width:80%;
				display:inline-block;
				margin:0;
				padding-top:20px;
				vertical-align:top;
				color:#666;
			}
		}

	}

	#about {
		height: auto !important;
		padding-top:60px !important;
		padding-bottom:60px !important;

		ul#pitch {
			width:90% !important;
			margin:0 auto !important;
			

			.benefit {
				float:none !important;
				width:100% !important;
				display:block;
			}

			.benefit.image {
				margin:0 !important;
			}

			li {
				width:100% !important;
				border:0 !important;
				height:auto !important;
				padding:5%;

				img {
					width:20%;
					display:block;
					margin:0 auto;
				}

				#lock {
					width:15%;
				}

				p {
					width:100% !important;
				}
			}
		}
	}

	#pricing {
		font-size:1.2em;
		height:auto !important;
		width:100%;
		display:inline-block;

		#left {
			width:100% !important;
			float:none;
			padding:0 !important;

			p {
			width:80% !important;
			}
		}

		#right, #right img {
			display:none !important;
		}
	}

	#contact {
		height:auto !important;
	}

	footer {
		display:none;
	}
}

.bootstrap-datetimepicker-widget {
	width:auto !important;
}


/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }

  footer {
  	display:none;
  }
}

/* Override Bootstrap 3 font locations */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('glyphicons-halflings-regular.eot');
  src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
  		url('glyphicons-halflings-regular.woff') format('woff'), 
  		url('glyphicons-halflings-regular.ttf') format('truetype'), 
  		url('glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}