// Place all the styles related to the Billing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cards-management {
	width: 50%;
	border: 1px solid #ddd;
	margin: 0 auto;
	padding: 10px;
	text-align: center;

	#new-card {
		margin:10px auto;
	}

	table {
		margin:0 auto;
		border:1px solid #ddd;
		text-align:left;

		td {
			padding:10px;
		}

		tr {
			border-bottom:1px solid #ddd;
		}

		tr:last-child {
			border-bottom:0;
		}
	}
}

h2 {
	text-align:center;
}

.billing-prompt {
	margin:10px auto;
	background:#eee;
	border:1px solid #ddd;
	text-align:center;
}

#new-billing-container, #edit-billing-container {
	position:relative;
	width:50%;
	margin:0 auto;
	
	input{
		display:inline-block;
	}

	input.card-info {
		widht:70%;
	}

	#dismiss-card-container {
		position:absolute;
		right:5px;
		top:5px;

		img {
			width:18px;
		}
	}

	#trash-button {
		width: 15px;
		text-align: center;
		margin: 10px auto 0;
		display: block;
	}
}

#billing {

	button .edit-link {
		color:#fff;
	}
	.edit-link:hover {
		color:#fff !important;
	}

	h1 {
		font-family:'Gotham Book','Helvetica',sans-serif;
		text-align:center;
		margin:30px auto 30px;	
	}

	#billing-container {
		padding-bottom:0;
		margin:20px auto;

		.header.row {

		}

		.row.invoice {
			padding-top:10px;
			padding-bottom:10px;
			border-top:1px solid #eee;
			line-height:2em;

			input[type="text"]{
				line-height:normal;
			}
		}

		.row.invoice.paid {
			color:#aaa;
		}

		.row.summary {
			border-top:1px solid #eee;
			h4, h5 {
				line-height:3em;
				vertical-align:middle;
			}
		}

		.paid {
			color:green;
		}

		.unpaid {
			color:#cc0000;
		}
	}
	#invoice-form {
		text-align:center;
		margin-bottom:30px;
		label {
			font-family:'Gotham Book','Helvetica',sans-serif;
			padding-right:2em;
		}
	}
}