// Place all the styles related to the Billing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cards-management {
	padding: 10px;
	text-align: center;

	#new-card {
		margin:10px auto;
	}

	table {
		margin:0 auto;
		border:1px solid #ddd;
		text-align:left;

		td {
			padding:10px;
		}

		tr {
			border-bottom:1px solid #ddd;
		}

		tr:last-child {
			border-bottom:0;
		}
	}
}

h2 {
	text-align:center;
}

#redeem-code-link {
	cursor:pointer;
	display:block;
}

#billing-history {
	padding:10px;

	h3 {
		margin-bottom:10px;
	}
}

.billing-prompt {
	margin:10px auto;
	background:#f7f7f7;
	border:1px solid #ddd;
	text-align:center;
}

#new-billing-container, #edit-billing-container, #edit-card-container {
	position:relative;
	width:50%;
	margin:0 auto;
	
	input{
		display:inline-block;
		margin-top:3px;
	}

	.address {
		width:100%;
	}

	input.card-info {
		
	}

	#dismiss-card-container {
		position:absolute;
		right:5px;
		top:5px;
		font-size:1.5em;
	}

	#trash-button {
		width: 15px;
		text-align: center;
		margin: 10px auto 0;
		display: block;
	}
}

#edit-card-container {
	form {
		width:90%;
		margin:10px auto;
		padding:1%;
		min-width:300px;
		border:1px solid #ddd;
		border-radius:17px;
	}

	.row {
		padding:15px 15px 5px;
		border-bottom:1px solid #eee;
	}

	.row:last-child {
		border:0;
	}

	.delete-card {
		margin:0 auto;
		display:block;
		text-align:center;
		padding-top:7px;

		.fa-trash-o {
			font-size:1.75em;
		}
	}
}

#billing {
	padding-top:20px;

	#security-prompt {
		color:#aaa;
		text-align:center;
		margin-top:2em;
		span {
			margin-left:10px;
		}
	}

	#auto-billing-prompt {
		font-style:italic;
		color:#aaa;
		text-align:center;
		margin-top:10px;
	}

	button .edit-link {
		color:#fff;
	}
	.edit-link:hover {
		color:#fff !important;
	}

	h1 {
		text-align:center;
		margin:30px auto 30px;	
	}

	#billing-container {
		padding-bottom:0;
		margin:20px auto;

		.header.row {

		}

		.row.invoice {
			padding-top:10px;
			padding-bottom:10px;
			border-top:1px solid #eee;
			line-height:2em;

			input[type="text"]{
				line-height:normal;
			}
		}

		.row.invoice.paid {
			color:#aaa;
		}

		.row.summary {
			border-top:1px solid #eee;
			h4, h5 {
				line-height:3em;
				vertical-align:middle;
			}
		}

		.paid {
			color:green;
		}

		.unpaid {
			color:#cc0000;
		}
	}

	#invoice-form {
		text-align:center;
		margin-bottom:30px;
		label {
			padding-right:2em;
		}
	}

	#bill-label {
		padding-right: 5%;
	}

	select {
		margin-right: 5%;
	}

	#new-billing-container {
		section#billing-address {
			margin-bottom:5%;
		}

		section#card-info {

		}

		payment-errors {
			text-align:center;
		}
	}
}

.invoice{
	width:8.5in;
	height:11in;
	border:1px solid #ddd;
	margin:.0 auto;
	padding:.2in;

	.top-section {
		height:1in;
		display:block;
		position:relative;
	}
	.print-logo {
		width:2in;
		display:block;
	}

	.invoice-details {
		position:absolute;
		right:0;
		top:0;
		h4 {
			margin:0;
		}

		.paid {
			color:#aaa;
		}
	}

	.middle {
		height:2in;

		.breakdown {
			width:49.5%;
			height:100%;
			float:left;
			border:1px solid #eee;
			padding:.25in;
			margin-bottom:.5in;

			h4 {
				text-align:center;
			}

			table {
				padding-top:.1in;
				width:80%;
				margin:0 auto;
			}

			td {
				border-bottom:1px solid #ddd;
			}
		}

		.metrics{
			width:49.5%;
			height:100%;
			margin-left:1%;
			float:left;
			padding:.25in;
			border:1px solid #eee;

			ul {
				li {
					margin-left:.25in;
				}
			}
		}
	}
	.summary {
		margin:.5in auto;
		padding:.2in;
		clear:both;
		border:1px solid #eee;

		h3 {
			margin:0 auto .25in;
		}

		table {
			width:100%;

			th {
				text-align:center;
			}
			td{
				border:1px solid #eee;
			}
		}
	}
}