// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#billing {
	h1 {
		font-family:'Gotham Book','Helvetica',sans-serif;
		text-align:center;
		margin:30px auto 30px;	
	}

	#billing-container {
		padding-bottom:0;
		margin:20px auto 40px;

		.header.row {

		}

		.row.charge {
			padding-top:10px;
			padding-bottom:10px;
			border-top:1px solid #eee;
			line-height:2em;

			input[type="text"]{
				line-height:normal;
			}
		}

		.row.summary {
			border-top:1px solid #eee;
			h4, h5 {
				line-height:3em;
				vertical-align:middle;
			}
		}

		.paid {
			color:green;
		}

		.unpaid {
			color:#cc0000;
		}
	}
	#charge-form {
		text-align:center;
		margin-bottom:30px;
		label {
			font-family:'Gotham Book','Helvetica',sans-serif;
			padding-right:2em;
		}
	}
}