// Place all the styles related to the Checklists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-checklist-table, .admin-checklist-table, .core-checklist-table {
	margin-top:40px; 
	margin:0 auto; 
	width:100%;

	#core-checklists, table {
		width:100%;

		tr {
			border:1px solid #ddd;
		}

		th {
			text-align:center;
			font-size:1.1em;
		}

		td {
			text-align:center;
			padding:20px;
			font-size:1em;
		}
	}

	#checklist_name {
		margin-bottom:10px;
	}

	input[type="submit"] {
		margin-top:10px;
	}

	#admin-no-checklists {
		text-align:center;
		padding:40px 0 20px;
	}

	.disclosure {
		position:relative;
		bottom:2px;
		padding-right:12px;
		font-size:.5em;
		vertical-align:middle;
	}

	.editable {
		#cancel-edit-phase {
			cursor:pointer;
			text-transform:uppercase;
			bottom:5px;
		}

		h2 {
			display:inline-block;
			margin:15px auto;
		}
	}
	form.edit_phase {
		display:inline-block;
		height:63px;
	}

	form.edit_category {
		display:inline-block;
		width:300px;
		height:39px;
		h3,h4,input[type="text"] {
			width:100%;
		}
	}

	#cancel-edit-category {
		cursor:pointer;
		text-transform:uppercase;
	}

	.phase-label {
		line-height:53px;
		vertical-align:middle;
		text-align:center;
		a:hover {
			color:#fff !important;
		}
	}

	.row {
		padding:10px 0;
		margin:0 0 0 1%;
		width:99%;
	}

	.row.checklist-item.completed {
		background:#f3f3f3;
		div, div a {color:#bbb;}
	}

	.row.checklist-item.not-applicable div {
		text-decoration:line-through;
	}

	ul {
		list-style:none;
	}

	#checklist-items {

		.category {
			list-style:none;
			padding-left:1%;

			.edit-phase {
				bottom:0;
			}
		}

		.header-label {
			font-weight: bold; 
			margin: 0;
			text-align:center;
		}
		.row{
			.btn {
				margin:0;
				a:hover {
					color:#fff;
				}
			}	
		}
		#categories {
			list-style:none;
			li {

			}
			.header.row {
				.btn:hover {
					color:#fff !important;
				}
			}
		}
	}
}

.project-checklist-table {
	.new-phase {
		margin-left:1%;
	}

}

.phase {
	clear:both;
	position:relative;	
	list-style:none;

	.phase-name {
		cursor:move;
	}

	.left-edit {
		top: 18px;
		padding: 5px 5px 5px 15px;
		font-size: 14px;
		letter-spacing:1px;
		text-transform:uppercase;
		position: absolute;
		right: 100%;
		background: #fff;
		border-left: 1px solid #eee;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		display: none;
		font-family: "Montserrat","Helvetica",sans-serif;
		border-radius: 18px 0 0 18px;
		-webkit-border-radius: 18px 0 0 18px;
		-moz-border-radius: 18px 0 0 18px;
		z-index: 5;
		font-weight: normal;
	}
}

.phase:hover {
	.left-edit {
		display:block;
	}
}

.checklist-item {
	min-height:40px;

	.left-edit-checklist {
		top: -5px;
		padding: 5px 20px 5px 30px;
		font-size: 13px;
		letter-spacing:1px;
		font-weight:normal;
		text-transform:uppercase;
		position: absolute;
		right: 100%;
		background: #fff;
		border-left: 1px solid #eee;
		border-radius:20px 0 0 20px;
		display:none;
		font-family: "Montserrat","Helvetica",sans-serif;
	}

	.checklist.body {
		display:table;
		height:33px;

		a {
			vertical-align:middle;
			display:table-cell;
		}
	}
}
.checklist-item:hover {
	.left-edit-checklist {
		display:block;
	}
}

.checklist-item.search {
	border-bottom:1px dotted #ddd;
	h4, h5 {
		text-align:left;
	} 
}

.date-input, #dp, #dp-completed {
	cursor:pointer;
	width:auto;
	margin:0 auto;
	text-align:center;
	font-size:1.1em;
}

.phase-form.container, .category-form.container {
	width:100%;
	max-width:800px;
	padding:0 20px;
	margin:0 auto;
	overflow:auto;

	input[type="text"] {
		width:100%;
	}
	.row {
		border:0;
		padding:5px;
	}
	
	.header-description {
		padding-left:0;
	}

	#clear-critical-date, #clear-completed-date {
		padding-top:5px;
		width:164px;
		text-align:center;
		font-size:14px;
		text-transform:uppercase;
		margin:0 auto;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		-o-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
		cursor:pointer;
	}

	#clear-critical-date:hover, #clear-completed-date:hover {
		color:#cc0000;
	}	

}

.checklist-item-form{
	margin:0 auto;
	clear:both;
	overflow-y:auto;
	overflow-x:hidden;

	.previous-item {
		float:left;
	}

	.next-item {
		float:right;
	}

	.header-description {
		h3, h4, h5 {
			text-align:left;
		}
	}

	select, select[multiple] {
		font-size:1.25em;
		padding:10px 0;
		line-height:1.1em;
		text-align:center;
	}		

	.item-body {	
		font-size:17px;
		margin:0.5em auto 2em;
		display:block;
	}

	input[type="checkbox"] {
		display:inline-block;
		margin-left:20px;
	}

	.date-input {
		font-weight:200;
		margin:0 auto 5px;
		text-align:center;
	}

	#clear-critical-date {
		text-transform:uppercase;
	}

	#clear-critical-date:hover {
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		-o-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
		cursor:pointer;
		color:#cc0000;
	}	
}

.revealed {
	border-left:1px dotted #ddd;
}

.category-items {
	width:99%;
	margin-left:1%;
	padding-left:1%;
	border-left:1px dotted #ddd;
	
	.checklist-item {
		border-bottom:1px dotted #ddd;
	}	
}

.category {
	.title {
		display:inline-block;
		margin:10px auto;
		cursor:pointer;
		vertical-align:middle;
	}

	.title:hover {
		color:#cc0000;
	}
	.category-label {
		line-height:40px;
		vertical-align:middle;
		text-align:center;
	}
	.completed-count {
		padding:0 1em;
		color:#aaa;
	}

	.items-container.collapsed {
		display:none;
	}
}

.new-checklist-item, .new-phase, .new-category, .edit-category, .edit-phase {
	border:1px solid #eee;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding:7px 14px;
	position:relative;
	display:inline-block;
	margin:0;
	width:auto;
	text-align:center;
	clear:both;
	font-family:"Source Sans Pro",'Helvetica',sans-serif;
	font-size:1em;
	line-height:1em;
	text-transform:uppercase;
	letter-spacing:1px;
}

.new-phase {
	margin:10px 0 0 1%;
}

.new-checklist-item {
	margin-top:15px;
	margin-left:3.5%;
}

.edit-phase {
	position:relative;
	left:10px;
	bottom:5px;
}

.new-category {
	top:17px;
	margin:0 1% 2% 2.5%;
	vertical-align:top;
}

.new_checklist_item, .new_category {
	table {
		border-color:#fff;
		border-width:0;
		padding:0;
		padding:20px 0 40px;
	}

	textarea {
		width:100%;
		display:block;
	}

	button {
		margin-top:10px;
	}
}

.new_category {
	.row {
		border:0;
		padding-left:0;
		padding-right:0;
	}
}

#new-checklist-link {
	background:#fff;
	width: auto;
	font-size:14px;
	display: inline-block;
	border-radius: 8px;
	padding: 7px 21px;
	border: 1px solid #ccc;
	margin: 21px auto;
	line-height: 30px;
	box-shadow: 1px 1px 1px -1px rgba(0,0,0,.25);
	-moz-box-shadow: 1px 1px 1px -1px rgba(0,0,0,.25);
	-webkit-box-shadow: 1px 1px 1px -1px rgba(0,0,0,.25);
	text-transform:uppercase;
}

.item-editor {
	display:block;
	max-width:800px;
	background-color:#fff;
	padding: 15px 40px;
	margin:0 auto;
	overflow:auto;

	h2, h3,h4 {
		display:inline-block;
		text-align:left;
		padding-right:10px;
	}

	input[type="text"] {
		width:100%;
		margin:20px 0;
	}
}

.project-checklist-table.standard-templates {
	padding: 5px 20px 20px;
	margin-top: 10px;
}