// Place all the styles related to the Checklists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-checklist-table, .admin-checklist-table {
	padding:20px; 
	margin-top:40px; 
	border:1px solid #ddd; 
	margin:0 auto; 
	width:100%;

	tr {
		border:1px solid #ddd;
	}

	th {
		text-align:center;
		font-size:1.1em;
	}

	td {
		text-align:center;
		padding:20px;
		font-size:1em;
		border-right:1px solid #ddd;
		border-left:1px solid #ddd;
	}

	.phase-label {
		line-height:63px;
		vertical-align:middle;
		text-align:center;
	}

	.row {
		padding:20px 0;
		border-bottom:1px solid #ddd;
		font-size:15px;
	}

	.row.checklist-item.completed {
		background:#f3f3f3;
		div, div a {color:#bbb;}
	}

	.row.checklist-item.not-applicable div {
		text-decoration:line-through;
	}
}

.category-form.container {
	background-color:#fff;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	width:75%;
	margin:0 auto;
	overflow:auto;

	input[type="text"] {
		width:100%;
	}
	.row {
		border:0;
		padding:5px;
	}
	
	#clear-critical-date {
		padding-top:5px;
		width:164px;
		text-align:center;
		font-size:12px;
		text-transform:uppercase;
	}

	#clear-critical-date:hover {
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		-o-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
		cursor:pointer;
	}	

	#clear-critical-date:hover {
		color:#cc0000;
	}

}

.checklist-item-form{
	width:75%;
	margin:0 auto;
	padding:20px;

	select, select[multiple] {
		font-size:1.25em;
		padding:10px 0;
		line-height:1.1em;
		text-align:center;
		height:110px;
	}		

	.item-body {	
		font-size:17px;
		margin:0.5em auto 2em;
		display:block;
	}

	input[type="checkbox"] {
		display:inline-block;
		margin-left:20px;
	}

	.date-input {
		font-weight:200;
		margin:0 auto 5px;
		text-align:center;
	}

	#clear-critical-date {
		font-size:12px;
		text-transform:uppercase;
	}

	#clear-critical-date:hover {
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		-o-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
		cursor:pointer;
	}	

	#clear-critical-date:hover {
		color:#cc0000;
	}
}

.new-checklist-item, .new-category, .new-subcategory {
	border:1px solid #ddd;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding:14px;
	position:relative;
	display:block;
	top:10px;
	margin:10px;
	width:160px;
	text-align:center;
}

.new_checklist_item, .new_category {
	table {
		border-color:#fff;
		border-width:0;
		padding:0;
		padding:20px 0 40px;
	}

	textarea {
		width:100%;
		display:block;
	}

	button {
		margin-top:10px;
	}
}

#new-checklist-link {
	background:#fff;
	width: auto;
	font-size:14px;
	display: inline-block;
	border-radius: 8px;
	padding: 7px 21px;
	border: 1px solid #ccc;
	margin: 21px auto;
	line-height: 30px;
	box-shadow: 1px 1px 1px -1px rgba(0,0,0,.25);
	-moz-box-shadow: 1px 1px 1px -1px rgba(0,0,0,.25);
	-webkit-box-shadow: 1px 1px 1px -1px rgba(0,0,0,.25);
	text-transform:uppercase;
}

.item-editor {
	border:1px solid #ddd;
	display:block;
	width:100%;
	background-color:#fff;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	padding: 10px 30px 50px;
	h3 {
		display:inline-block;
	}

	input[type="text"] {
		width:100%;
		margin:20px 0;
	}
}