// Place all the styles related to the Checklists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.checklist-panel {
	width:54% !important;
}

#checklist-focus {
	position:absolute;
	top:0;
	left:100%;
	margin-left:1%;
	width:45%;
	-webkit-transition: all 0.23s ease;
	-moz-transition: all 0.23s ease;
	-ms-transition: all 0.23s ease;
	-o-transition: all 0.23s ease;
	transition: all 0.23s ease;
}

.admin-checklist-table.border-box, .project-checklist-table.border-box, .core-checklist-table.border-box, #core-checklist, #admin-checklist, #project-checklist {
	clear:both;
	float:none;
	display:block;
	width:100%;
	-webkit-transition: all 0.23s ease;
	-moz-transition: all 0.23s ease;
	-ms-transition: all 0.23s ease;
	-o-transition: all 0.23s ease;
	transition: all 0.23s ease;
	
	.editor-header {
		margin:0 auto 2%;
	}

	#search-button {

	}

	#checklist-search {
		padding-bottom:10px;
		display:none;
	}

	#checklist-search-button {
		position:relative;
		top:5px;
		width:24px;
		cursor:pointer;
		font-size:1.5em;
	}
	#checklist-search-button:hover {
	
	}
		
	#checklist-items header {
		h4 {
			font-weight:bold;
			font-family:"Myriad Pro", "Myriad Web Pro", 'Helvetica', sans-serif;
		}
	}

	.checklist-header.row {
		padding:0 0 0 10px;
		width:100%;
		margin-left:0px;
	}

	#core-checklists, table {
		width:100%;

		tr {
			border:1px solid #eee;
		}

		th {
			text-align:center;
			font-size:1.1em;
		}

		td {
			text-align:center;
			padding:10px 20px;
			font-size:1em;
			border:1px solid #eee;
		}

		.checklist.delete-img {
			width:15px;
		}

		.core-checklist-row {

			.checklist-description {
				text-align:left;
			}
		}
	}

	#checklist_name {
		margin-bottom:5px;
	}

	input[type="submit"] {
		margin-top:10px;
	}

	#admin-no-checklists {
		text-align:center;
		padding:40px 0 20px;
	}

	.disclosure {
		position:relative;
		bottom:2px;
		padding-right:12px;
		font-size:.5em;
		vertical-align:middle;
	}

	.editable {
		#cancel-edit-phase {
			cursor:pointer;
			text-transform:uppercase;
			bottom:5px;
		}

		h2 {
			display:inline-block;
			margin:15px auto;
		}
	}
	form.edit_phase {
		display:inline-block;
		height:63px;
	}

	form.edit_category {
		display:inline-block;
		width:300px;
		height:39px;
		h3,h4,input[type="text"] {
			width:100%;
		}
	}

	#cancel-edit-category {
		cursor:pointer;
		text-transform:uppercase;
	}

	.phase-label {
		text-align:center;
		a:hover {
			color:#fff !important;
		}
	}

	.row {
		padding:5px 0;
		margin:0 0 0 1%;
		width:99%;
	}

	.row.checklist-item.completed {
		background:#f3f3f3;
		div, div a {color:#bbb;}
	}

	.row.checklist-item.not-applicable div {
		text-decoration:line-through;
	}

	ul {
		list-style:none;
	}

	#checklist-items {

		.category {
			list-style:none;
			padding-left:1%;

			.edit-phase {
				bottom:0;
			}
		}

		.header-label {
			font-weight: bold; 
			margin: 0;
			text-align:center;
		}
		.row{
			.btn {
				margin:0;
				a:hover {
					color:#fff;
				}
			}	
		}
		#categories {
			list-style:none;
			li {

			}
			.header.row {
				.btn:hover {
					color:#fff !important;
				}
			}
		}
	}
}

.checklist-item {
	min-height:40px;

	.left-edit-checklist {
		top: -5px;
		margin-right:10px;
		padding: 5px 10px 5px 20px;
		font-size: 13px;
		letter-spacing:1px;
		font-weight:normal;
		text-transform:uppercase;
		position: absolute;
		right: 100%;
		background: #fff;
		border-left: 1px solid #eee;
		border-radius:20px 0 0 20px;
		display:none;
		z-index:7;
		font-family: "Open Sans","OpenSans","Source Sans Pro","Helvetica Neue","Helvetica",sans-serif;
	}

	.checklist.body {
		display:table;
		height:33px;

		a {
			vertical-align:middle;
			display:table-cell;
		}
	}
}

.checklist-item:hover {
	.left-edit-checklist {
		display:block;
	}
}

.phase {
	padding:10px 0;
	clear:both;
	position:relative;	
	list-style:none;

	.revealed {
		border-left:1px dotted #ccc;
	}

	h2 {
		text-align:left;
		display:inline-block;
	}
	.phase-name {
		cursor:move;
	}

	.left-edit {
		top: 8px;
		font-size: 14px;
		padding:10px 10px 10px 20px;
		margin:0;
		letter-spacing:1px;
		text-transform:uppercase;
		position: absolute;
		right: 100%;
		background: #fff;
		border-left: 1px solid #eee;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		border-right:1px solid transparent;
		display: none;
		border-radius: 18px 0 0 18px;
		-webkit-border-radius: 18px 0 0 18px;
		-moz-border-radius: 18px 0 0 18px;
		z-index: 5;
		box-shadow:0 0 0 0;
		-moz-box-shadow:0 0 0 0;
		-webkit-box-shadow:0 0 0 0;
		color:#000;
	}

	.left-edit:hover {
		color:#cc0000 !important;
	}
}

.phase:hover {
	.left-edit {
		display:block;
	}
}

.checklist-item.search {
	border-bottom:1px dotted #ccc;
	h4, h5 {
		text-align:left;
	} 
}

.date-input, #dp, #dp-completed {
	cursor:pointer;
	width:auto;
	margin:0 auto;
	text-align:center;
	font-size:1.1em;
}

.phase-form, .category-form {
	width:100%;

	input[type="text"] {
		width:100%;
	}

	.row {
		border:0;
		padding:5px;
	}
	
	.header-description {
		padding-left:0;
	}

	#clear-critical-date, #clear-completed-date {
		padding-top:5px;
		width:164px;
		text-align:center;
		font-size:14px;
		text-transform:uppercase;
		margin:0 auto;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		-o-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
		cursor:pointer;
	}

	#clear-critical-date:hover, #clear-completed-date:hover {
		color:#cc0000;
	}	

}

.checklist-item-link {
	font-size:14px;	
}

.checklist-item-form{
	margin:0 auto;
	clear:both;
	overflow-y:auto;
	overflow-x:hidden;

	.row {
		padding:15px;
		border-bottom:1px solid #eee;
	}

	.previous-item {
		float:left;
	}

	.next-item {
		float:right;
	}

	.header-description {
		h3, h4, h5 {
			text-align:left;
		}
	}

	select, select[multiple] {
		padding:0;
		font-size:1.2em;
		line-height:1.6em;
		text-align:center;
	}		

	.item-category {
		h4{
		
		}
	}

	.item-body {
		margin:0.5em auto 2em;
		display:block;
	}

	input[type="checkbox"] {
		display:inline-block;
		margin-left:20px;
	}

	.date-input {
		font-weight:200;
		margin:0 auto 5px;
		text-align:center;
	}

	#clear-critical-date {
		text-transform:uppercase;
		margin: 1% auto 0;
		padding: 7px 17px;
		cursor:pointer;
		letter-spacing:0;
		height:28px;
		border-radius:14px;
		-webkit-border-radius:14px;
		-moz-border-radius:14px;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		-o-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
	}

	#clear-critical-date:hover {
		color:#cc0000;
	}	
}

.category-items {
	width:99%;
	margin-left:1%;
	padding-left:1%;
	border-left:1px dotted #ccc;
	
	.checklist-item.active-item {
		position: relative;
		z-index: 5;
		right:-1%;
		background:#fff5cf !important;
		color: #000;
	}

	.checklist-item {
		border-bottom:1px solid #ddd;
		padding:10px 0 10px 10px !important;
	}	

	.checklist-item:first-child {
		border-top:1px solid #ddd;
	}
}

.category {
	.title {
		display:inline-block;
		margin:10px auto;
		cursor:pointer;
		vertical-align:middle;
	}

	.title:hover {
		color:#cc0000;
	}
	.category-label {
		padding-top:5px;
		text-align:center;
	}
	.completed-count {
		padding:0 1em;
		color:#aaa;
	}

	.items-container.collapsed {
		display:none;
	}
}

.new-checklist-item, .new-phase, .new-category, .edit-category, .edit-phase {
	bottom:0;
	position:relative;
	display:inline-block;
	margin:0;
	width:auto;
	text-transform:uppercase;
	letter-spacing:1px;
}

.new-phase {
	margin:1%;
}

.new-checklist-item {
	margin-top:15px;
	margin-left:3.5%;
}

.edit-phase {
	position:relative;
	left:10px;
	bottom:5px;
}

.new-category {
	top:17px;
	margin:0 1% 2% 2.5%;
	vertical-align:top;
}

.new_checklist_item, .new_category {
	table {
		border-color:#fff;
		border-width:0;
		padding:0;
		padding:20px 0 40px;
	}

	textarea {
		width:100%;
		display:block;
	}

	button {
		margin-top:10px;
	}
}

.new_phase {
	input[type="text"]{
		width:100%;
	}

	.simple-btn {
		margin:0 1% !important;
		clear:none;
	}
}

.new_category {
	.row {
		border:0;
		padding-left:0;
		padding-right:0;
		
		input[type="text"]{
			width:98%;
			margin-left:1%;
			margin-right:-1%;
		}

		.simple-btn {
			clear: none;
			margin: 0 auto !important;
		}
	}
}

#new-checklist-link {
	background:#fff;
	width: auto;
	font-size:14px;
	display: inline-block;
	border-radius: 8px;
	padding: 7px 21px;
	border: 1px solid #ccc;
	margin: 21px auto;
	line-height: 30px;
	box-shadow: 1px 1px 1px -1px rgba(0,0,0,.25);
	-moz-box-shadow: 1px 1px 1px -1px rgba(0,0,0,.25);
	-webkit-box-shadow: 1px 1px 1px -1px rgba(0,0,0,.25);
	text-transform:uppercase;
}

.item-editor {
	display:block;
	max-width:800px;
	background-color:#fff;
	padding: 15px 40px;
	margin:0 auto;
	overflow:auto;

	h2, h3,h4 {
		display:inline-block;
		text-align:left;
		padding-right:10px;
	}

	input[type="text"] {
		width:100%;
		margin:20px 0;
	}
}

.project-checklist-table.standard-templates {
	padding: 5px 20px 20px;
	margin-top: 10px;
}