// Place all the styles related to the ChecklistItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#item-container {
	padding:5%;
	margin:0 auto;
	position:relative;

	#export-checklist-item {

		img {
			width:35px;
		}
	}
}

.item-editor {
	margin: 2em auto;

	.body {
		margin:10px auto;
	}

	.status-section {

		#checklist_item_state {
			option {
				padding:3px 0;
				font-weight:700;
			}
		}

		h4 {
			display:block;
		}

		.placeholder {
			display:block;
			width:50%;
		}
	}

	#dp {
		width:100%;
	}

	h2, h3, h4 {
		display:inline-block;
		text-align:left;
		padding-right:10px;
	}

	input[type="text"] {
		width:100%;
		margin:20px 0;
	}
}

.new_checklist_item {
	position:relative;
	margin:2.5% auto;
	width:98%;
	display:block;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	border-color:transparent !important;

	.new-item.row {
		margin:0;
		padding:0;
		width:100%;

		input[type="text"] {
			width:100%;
			margin:0;
		}

		input[type="submit"] {
			width:90%;
		}
	}

	.fa-remove {
		position:absolute;
		top:5px;
		right:5px;
		cursor:pointer;
	}
}