// Place all the styles related to the ChecklistItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#item-container {
	padding:5%;
	margin:0 auto;
	position:relative;

	#export-checklist-item {

		img {
			width:35px;
		}
	}
}

.item-editor {
	padding:2.5%;

	h2, h3, h4 {
		display:inline-block;
		text-align:left;
		padding-right:10px;
	}

	input[type="text"] {
		width:100%;
		margin:20px 0;
	}
}