// Place all the styles related to the Checklists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-checklist-table {
	padding:20px; 
	margin-top:40px; 
	border:1px solid #ddd; 
	margin:0 auto; 
	width:100%;

	tr {
		border-top:1px solid #eee;
	}

	th {
		text-align:center;
		font-size:1.1em;
	}

	td {
		text-align:center;
		padding:20px;
		font-size:1em;
		border-right:1px solid #eee;
	}

	.row {
		padding:12px;
		border-bottom:1px solid #eee;
		font-size:15px;
	}

	.row.checklist-item.completed div {
		text-decoration:line-through;
	}

	.row.checklist-item.not-applicable {
		background:#f7f7f7;
		color:#bbb;
	}
}


.checklist-item-form{
	padding:20px;
	border:1px solid #eee;
	
	.row {
		span {
			line-height:63px;
		}
	}

	.header-description {

	}
	
	h4 {
		display:inline-block;
	}

	.item-body {	
		font-size:16px;
		margin:2em auto;
		display:block;
	}

	input[type="checkbox"] {
		display:inline-block;
		margin-left:20px;
	}
}