// Place all the styles related to the ChecklistItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#item-container {
	margin:0 auto;
	position:relative;

	#export-checklist-item {
		padding-left:8px;

		img {
			width:34px;
		}
	}
}