// Place all the styles related to the ChecklistItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#export-checklist-item {
	background:transparent;
	float:right;
	margin:0;
}

#item-container {
	max-width:800px;
	margin:0 auto;
}