// Place all the styles related to the Checklists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-checklist-table {
	padding:20px; 
	margin-top:40px; 
	border:1px solid #ddd; 
	margin:0 auto; 
	width:100%;

	tr {
		border-top:1px solid #eee;
	}

	th {
		text-align:center;
		font-size:1.1em;
	}

	td {
		text-align:center;
		padding:20px;
		font-size:1em;
		border-right:1px solid #eee;
	}

	.row {
		padding:20px 0;
		border-bottom:1px solid #eee;
		font-size:15px;
	}

	.row.checklist-item.completed div {
		
		div {color:#bbb;}
	}

	.row.checklist-item.not-applicable div {
		text-decoration:line-through;
	}
}


.checklist-item-form{
	padding:20px;
	border:1px solid #eee;
	
	.row {
		span {
			line-height:63px;
		}
	}

	select, select[multiple] {
		font-size:1.25em;
		padding:10px 0;
		line-height:1.1em;
		text-align:center;
		height:87px;
	}

	table, tbody, tr, td, form {
		display:block; 
		width:100%;
	}

	table {
		border:1px solid #eee;
		padding:20px
	}

	.item-body {	
		font-size:17px;
		margin:0.5em auto 2em;
		display:block;
	}

	input[type="checkbox"] {
		display:inline-block;
		margin-left:20px;
	}

	button {
	margin-top:-50px;
	}
}

.item-editor {
	border:1px solid #eee;
	display:block;
	width:100%;
	padding: 30px 30px 100px;
	h3 {
		display:inline-block;
	}

	input[type="text"] {
		width:100%;
		margin:20px 0;
	}
}