// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-container {
	max-width:800px;
	margin:0 auto;
	
	textarea {
		width:100%;
		display:block;
	}
}

.comment-container.border-box {
	padding-top:10px;
}

#comments-table {
	width:75%;
	margin:66px auto 0;
	display:block;

	tr, tbody {
		width:100%;
		display:block;
	}

	td {
		line-height:1.5em;
		display:inline-block;
	}

	tr {
		line-height: 60px;
		border-top:1px solid #eee;
	}
}

.comment-pipe {
	padding:0 10px;
}