// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-container {
	margin:2.5% auto;
	clear:both;
	padding:10px 20px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	width:100%;
	display: table;
	
	h4 {
		text-align:center;
	}
	
	textarea {
		width:100%;
		display:block;
	}
}

#comment-toggle {
	cursor:pointer;
	text-align:center; 
	width:50%;
	margin:20px auto 0; 
	display:block;
}

#comment-toggle:hover {
	border-color:#ddd;
}

.collapsed {
	display:none;
}

#comment-container.border-box {
	padding-top:10px;
	margin-top:10px;
}

#comments-table {
	margin:2.5% auto 0;
	display:block;

	.comment {
		padding-top:15px;
		width:100%;
		display:table;
		position:relative;
		border-top:1px solid #ddd;
	}
}

.comment-pipe {
	padding:0 10px;
}

.new_comment {
	textarea {
		width:100%;
	}
}