// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comment-container {
	margin:0 auto;
	clear:both;
	padding:20px;
	
	textarea {
		width:100%;
		display:block;
	}
}

#comment-toggle {
	cursor:pointer;
	text-align:center; 
	width:50%;
	margin:0px auto 10px; 
	display:block;
}

.collapsed {
	display:none;
}

#comment-container.border-box {
	padding-top:10px;
	margin-top:10px;
}

#comments-table {
	width:75%;
	margin:66px auto 0;
	display:block;

	tr, tbody {
		width:100%;
		display:block;
	}

	td {
		line-height:1.5em;
		display:inline-block;
	}

	tr {
		line-height: 60px;
		border-top:1px solid #eee;
	}
}

.comment-pipe {
	padding:0 10px;
}

.new_comment {
	textarea {
		width:100%;
	}
}