// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comments-table {
	width:50%;
	margin:66px auto 0;
	display:block;

	tr, tbody {
		width:100%;
		display:block;
	}

	td {
		display:inline-block;
	}

	tr {
		line-height: 60px;
		border-top:1px solid #eee;
	}
}

#comments-form {
	width:50%;
	margin:0 auto;
	display:block;

	textarea {
		width:100%;
		display:block;
	}
}