// Place all the styles related to the Connect controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#connect-container {
	margin-top:60px;
	padding-bottom:100px;
	
	h4 {
		padding-left:10px;
		text-align:center;
	}

	ul {
		li {
			padding-left:10px;
			line-height:50px;
			border-bottom:1px solid #ccc;
		}

		li:first-child {
			border-top:1px solid #ccc;
		}
	}

	#register-container {
		form {
			max-width:500px;
			margin:0 auto;
			width:100%;

			input {
				-webkit-transition: all 0.3s ease-in-out;
			    -moz-transition: all 0.3s ease-in-out;
			    -ms-transition: all 0.3s ease-in-out;
			    -o-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
			}

			input[type="text"],input[type="email"],input[type="password"]{
				border-color:transparent;
				background:transparent;
				width:100%;
			}

			#action input[type="submit"] {
				
			}
		}
	}

	h3 {
		text-align:center;
	}

	.connect-project {
		overflow:auto;

		.project-label {
			color:#aaa;
			text-transform:uppercase;
		}

		.outstanding-tasks {
			color:#cc0000; 
			padding-right:5px;
		}

		.completed-tasks {
			padding-left:5px;
		}

		.row.address {
			margin-left:0;
			margin-right:0;

			.map-label {
				color:#aaa;
				text-transform:uppercase;
				font-weight:100;
			}
		}
		.address {
			padding:5px 0px;
			border:1px solid #ccc;
		}

		.count {
			padding-right:10px;
			text-align:right;
		}

		.task {
			border:1px solid #ccc;
			overflow:auto;

			.photo  {
				margin:0px 15px 5px 5px;
				width:100px;
				height:100px;
				float:left;
			}

			.no-photo-placeholder {
				display:table;
				width:100%;
				height:100%;
				color:#aaa;
				font-weight:100;
			}

			.body {
				clear:both;
				display:inline-block;
				
				.task-title {
					font-size:1.25em;
				}

				.attribution {
					padding-right:10px;
				}
				.assignee {
					padding-left:10px;
				}
				.task-timestamp {

				}
			}
		}
	}
}

#connect-progress {
	margin-bottom: 20px;
	overflow: hidden;
	vertical-align:middle;
	counter-reset: step;

	li {
		list-style-type: none;
		color: #000;
		text-transform: uppercase;
		width: 33.33%;
		float: left;
		position: relative;
	}

	li:before {
		content: counter(step);
		counter-increment: step;
		width: 20px;
		line-height: 20px;
		display: block;
		font-size: 1em;
		color: #000;
		border-radius: 3px;
		margin: 0 auto 5px;
	}

	li:after {
		content: '';
		width: 100%;
		height: 2px;
		background: #000;
		position: absolute;
		left: -50%;
		top: 9px;
		z-index: -1; /*put it behind the numbers*/
	}

	li:first-child:after {
		/*connector not needed before the first step*/
		content: none; 
	}
	li.active:before, li.active:after{
		background: #336699;
		color: white;
	}
}

/*form styles*/
#connect-form {
	max-width: 500px;
	width:80%;
	margin: 0 auto;
	text-align: center;
	position: relative;

	fieldset {
		background: white;
		border: 0 none;
		border-radius: 3px;
		box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.25);
		-webkit-box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.25);
		padding: 20px 30px;
		box-sizing: border-box;
		width: 100%;
		position: absolute;
	}

	fieldset:not(#info) {
		display: none;
	}

	input[type="text"],input[type="email"],input[type="password"] {
		border-radius: 3px;
		width: 100%;
		box-sizing: border-box;
	}

	.action-button {
		width: 45%;
		background: #336699;
		color:#fff;
		font-weight: bold;
		color: white;
		border: 0 none;
		border-radius: 1px;
		cursor: pointer;
		padding: 10px 5px;
		margin: 10px 5px;
		display:inline-block;
	}

	.action-button:hover, .action-button:focus {
		box-shadow: 0 0 0 2px white, 0 0 0 3px #336699;
	}
}

#errors {
	color:#cc0000;
	height:40px;
	line-height:30px;
	display:block;
	text-align:center;
	width:100%;
}

#search-results {
	text-align: left;
	clear: both;
	padding: 10px 10px 10px 0;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	margin-top: 20px auto 10px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
