// Place all the styles related to the Connect controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#connect-container, #group-container {
	margin-top:10px;
	padding-bottom:30px;
	font-family: "Myriad Pro","Source Sans Pro",'Helvetica Neue',Helvetica,sans-serif;
	
	h4 {
		padding: 10px 0 5px;
		text-align:center;
		color:#666;
	}

	ul {
		li {
			padding-left:10px;
			line-height:50px;
			//border-bottom:1px solid rgba(255,255,255,.1);
			background:#555;

			a, a:hover {
				display: table;
				width: 100%;
				color:#fff !important;
			}
		}

		li:first-child {
			//border-top:1px solid rgba(255,255,255,.1);
		}

		li:hover {
			background:#666;
		}
	}

	#register-container {
		form {
			max-width:500px;
			margin:0 auto;
			width:100%;

			input {
				-webkit-transition: all 0.3s ease-in-out;
			    -moz-transition: all 0.3s ease-in-out;
			    -ms-transition: all 0.3s ease-in-out;
			    -o-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
			}

			input[type="text"],input[type="email"],input[type="password"]{
				margin-bottom:5px;
				background:transparent;
				width:100%;
			}

			#action input[type="submit"] {
				
			}
		}
	}

	h3 {
		text-align:center;
	}

	.connect-project {
		overflow:auto;

		.project-label {
			color:#aaa;
			text-transform:uppercase;
		}

		.outstanding-tasks {
			color:#cc0000; 
			padding-right:5px;
		}

		.completed-tasks {
			padding-left:5px;
		}

		.row.address {
			margin-left:0;
			margin-right:0;

			.map-label {
				color:#aaa;
				text-transform:uppercase;
				font-weight:100;
			}
		}
		.address {
			padding:5px 0px;
			border:1px solid #ccc;
		}

		.count {
			padding-right:10px;
			text-align:right;
		}

		.task {
			border:1px solid #ccc;
			overflow:auto;

			.photo  {
				margin:0px 15px 5px 5px;
				width:100px;
				height:100px;
				float:left;
			}

			.no-photo-placeholder {
				display:table;
				width:100%;
				height:100%;
				color:#aaa;
				font-weight:100;
			}

			.body {
				clear:both;
				display:inline-block;
				
				.task-title {
					font-size:1.25em;
				}

				.attribution {
					padding-right:10px;
				}
				.assignee {
					padding-left:10px;
				}
				.task-timestamp {

				}
			}
		}
	}
}

ul#connect-progress {
	padding:0;
	overflow: hidden;
	vertical-align:middle;
	font-family:"Open Sans","OpenSans","Helvetica Neue", Helvetica, sans-serif;
	font-size:.9em;
	//counter-reset: step;

	li {
		list-style-type: none;
		color: #000;
		text-transform: uppercase;
		width: 33.33%;
		float: left;
		position: relative;
		border:0;
		line-height:30px;
		padding-top:2px;
		letter-spacing:2px;
	}

	li:first-child {
		border:0;
	}

	li:before {
		//content: counter(step);
		//counter-increment: step;
		width: 34px;
		line-height: 34px;
		display: block;
		font-size: 1em;
		color: #000;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		margin: 0 auto;
	}

	li:after {
		content: '';
		width: 100%;
		height: 2px;
		background: #000;
		position: absolute;
		left: -50%;
		top: 9px;
		z-index: -1; /*put it behind the numbers*/
	}

	li:first-child:after {
		/*connector not needed before the first step*/
		content: none; 
	}
	li.active, li.active:before, li.active:after{
		background: #336699;
		color: white;
		font-weight:200;
	}
}

/*form styles*/
#connect-form {
	max-width: 500px;
	width:80%;
	margin: 0 auto;
	text-align: center;
	position: relative;

	fieldset {
		background: white;
		border: 1px solid #ccc;
		border-radius: 3px;
		box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
		padding: 20px 30px 5px;
		box-sizing: border-box;
		width: 100%;
		position: absolute;
	}

	fieldset:not(#info) {
		display: none;
	}

	input[type="text"],input[type="email"],input[type="password"] {
		border-radius: 3px;
		width: 100%;
		box-sizing: border-box;
	}

	.action-button {
		width: 45%;
		background: #fff;
		color:#000;
		border: 1px solid #ddd;
		border-radius: 1px;
		cursor: pointer;
		padding: 10px 5px;
		margin: 10px 5px;
		display:inline-block;
	}

	.action-button:hover, .action-button:focus {
		background:#eee;
	}
}

#errors {
	color:#cc0000;
	height:50px;
	padding-top:10px;
	line-height:30px;
	display:block;
	text-align:center;
	width:100%;
	font-size:1.1em;
}

#search-results {
	text-align: left;
	clear: both;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	margin: 20px auto 10px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;

	a {
		display:block;
		width:100%;
		padding:10px 0;
		border-bottom:1px solid #eee;
	}

	a:last-child {
		border-bottom:0;
	}
}
