// Place all the styles related to the Connect controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#connect-container {
	max-width:800px;
	margin: 0 auto;
	padding-bottom:60px;

	#register-container {
		form {
			max-width:500px;
			margin:0 auto;
			width:100%;

			input {
				width:100%;
			}

			#action input[type="submit"] {
				
			}
		}
	}

	h3 {
		text-align:center;
	}

	.connect-project {
		overflow:auto;

		.project-label {
			color:#aaa;
			text-transform:uppercase;
		}

		.outstanding-tasks {
			color:#cc0000; 
			padding-right:5px;
		}

		.completed-tasks {
			padding-left:5px;
		}

		.row.address {
			margin-left:0;
			margin-right:0;

			.map-label {
				color:#aaa;
				text-transform:uppercase;
				font-weight:100;
			}
		}
		.address {
			padding:5px 0px;
			border:1px solid #ccc;
		}

		.task {
			border:1px solid #ccc;
			overflow:auto;

			.photo  {
				margin:0px 15px 5px 5px;
				width:100px;
				height:100px;
				float:left;
			}

			.no-photo-placeholder {
				display:table;
				width:100%;
				height:100%;
				color:#aaa;
				font-weight:100;
			}

			.body {
				clear:both;
				display:inline-block;
				
				.task-title {
					font-size:1.25em;
				}

				.attribution {
					padding-right:10px;
				}
				.assignee {
					padding-left:10px;
				}
				.task-timestamp {

				}
			}
		}
	}
}