// Place all the styles related to the Folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_folder {
	input[type="text"] {
		width:70%;
		display:inline-block;
		margin-top:10px;
		margin-right:10px;
		height:40px;
	}
}
.add-photo {
	cursor:pointer;
	margin:10px auto;
}

#add-folder-link:hover {
	color:#cc0000;
}

.edit_folder {
	input[type="text"] {
		width:70%;
		display:inline-block;
	}
}

.remove-folder-link {
	height:36px;
	line-height:22px;
	vertical-align:middle;
	margin:0;
}

.folder-name {
	display:inline-block;
}

.folder {
	clear:both;
}