// Place all the styles related to the Folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_folder {
	input[type="text"] {
		width:100%;
		margin-top:20px;
	}
}
.add-photo {
	cursor:pointer;
}

#add-folder-link:hover {
	color:#cc0000;
}

.edit_folder {
	input[type="text"] {
		display:inline-block;
	}
}

.remove-folder-link {
	margin-left:1em;
}

.folder-name {
	display:inline-block;
}

.folder {
	clear:both;
}