// Place all the styles related to the Folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_folder {
	input[type="text"] {
		width:60%;
		display:inline-block;
		margin-top:10px;
		margin-right:10px;
		height:40px;
	}
}
.add-photo {
	cursor:pointer;
	margin:10px auto;
}

#add-folder-link {
	cursor:pointer;
	clear:both;
	margin-top:1em;
	text-align:center;
}

#add-folder-link:hover {
	color:#cc0000;
}

.edit_folder {
	margin-bottom:9px;
	
	input[type="text"] {
		width:60%;
		font-size:16px;
		height:39px;
		display:inline-block;
	}

	.cancel, .delete {
		font-size:1.5em;
	}
	
	.cancel {
		position:relative;
		left:10px;
		cursor:pointer;
	}

	.delete {
		position:relative;
		left:20px;
	}
}

.remove-folder-link {
	vertical-align:middle;
	margin:0;
}

.folder-name {
	display:inline-block;
}

.folder {
	clear:both;
}