@font-face {
    font-family: 'Source Sans Pro';
    src: asset-url('sourcesanspro-regular-webfont.eot');
    src: asset-url('sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('sourcesanspro-regular-webfont.woff') format('woff'),
         asset-url('sourcesanspro-regular-webfont.ttf') format('truetype'),
         asset-url('sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: asset-url('sourcesanspro-light-webfont.eot');
    src: asset-url('sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('sourcesanspro-light-webfont.woff') format('woff'),
         asset-url('sourcesanspro-light-webfont.ttf') format('truetype'),
         asset-url('sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: asset-url('sourcesanspro-it-webfont.eot');
    src: asset-url('sourcesanspro-it-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('sourcesanspro-it-webfont.woff') format('woff'),
         asset-url('sourcesanspro-it-webfont.ttf') format('truetype'),
         asset-url('sourcesanspro-it-webfont.svg#source_sans_proitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: asset-url('sourcesanspro-bold-webfont.eot');
    src: asset-url('sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('sourcesanspro-bold-webfont.woff') format('woff'),
         asset-url('sourcesanspro-bold-webfont.ttf') format('truetype'),
         asset-url('sourcesanspro-bold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: asset-url('sourcesanspro-semibold-webfont.eot');
    src: asset-url('sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('sourcesanspro-semibold-webfont.woff') format('woff'),
         asset-url('sourcesanspro-semibold-webfont.ttf') format('truetype'),
         asset-url('sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: asset-url('sourcesanspro-black-webfont.eot');
    src: asset-url('sourcesanspro-black-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('sourcesanspro-black-webfont.woff') format('woff'),
         asset-url('sourcesanspro-black-webfont.ttf') format('truetype'),
         asset-url('sourcesanspro-black-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: asset-url('OpenSans-Regular-webfont.eot');
    src: asset-url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-Regular-webfont.woff') format('woff'),
         asset-url('OpenSans-Regular-webfont.ttf') format('truetype'),
         asset-url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: asset-url('OpenSans-Light-webfont.eot');
    src: asset-url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-Light-webfont.woff') format('woff'),
         asset-url('OpenSans-Light-webfont.ttf') format('truetype'),
         asset-url('OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: asset-url('OpenSans-Italic-webfont.eot');
    src: asset-url('OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-Italic-webfont.woff') format('woff'),
         asset-url('OpenSans-Italic-webfont.ttf') format('truetype'),
         asset-url('OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: asset-url('OpenSans-Bold-webfont.eot');
    src: asset-url('OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-Bold-webfont.woff') format('woff'),
         asset-url('OpenSans-Bold-webfont.ttf') format('truetype'),
         asset-url('OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: asset-url('OpenSans-BoldItalic-webfont.eot');
    src: asset-url('OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-BoldItalic-webfont.woff') format('woff'),
         asset-url('OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         asset-url('OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: asset-url('OpenSans-ExtraBold-webfont.eot');
    src: asset-url('OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-ExtraBold-webfont.woff') format('woff'),
         asset-url('OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         asset-url('OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: asset-url('OpenSans-ExtraBoldItalic-webfont.eot');
    src: asset-url('OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         asset-url('OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         asset-url('OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: asset-url('OpenSans-LightItalic-webfont.eot');
    src: asset-url('OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-LightItalic-webfont.woff') format('woff'),
         asset-url('OpenSans-LightItalic-webfont.ttf') format('truetype'),
         asset-url('OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: asset-url('OpenSans-Semibold-webfont.eot');
    src: asset-url('OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-Semibold-webfont.woff') format('woff'),
         asset-url('OpenSans-Semibold-webfont.ttf') format('truetype'),
         asset-url('OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: asset-url('OpenSans-SemiboldItalic-webfont.eot');
    src: asset-url('OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         asset-url('OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         asset-url('OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Web Pro';
    src: asset-url('MyriadWebPro.ttf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: font-url('MyriadPro-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: font-url('MyriadPro-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: font-url('MyriadPro-Semibold.otf') format('otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: font-url('MyriadPro-Bold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: font-url('MyriadPro-Light.otf') format('otf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: font-url('MyriadPro-It.otf') format('otf');
    font-weight: normal;
    font-style: italic;
}

/* Override Bootstrap 3 font locations */
@font-face {
  	font-family: 'Glyphicons Halflings';
  	src: asset-url('glyphicons-halflings-regular.eot');
  	src: asset-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
  		font-url('glyphicons-halflings-regular.woff') format('woff'), 
  		asset-url('glyphicons-halflings-regular.ttf') format('truetype'), 
  		asset-url('glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}