// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#splash {
	font-weight:200;
	
	.splash-container {
		margin:30px auto;
		max-width:1140px;
	}

	#first-splash {
		background:#fff;
		height:560px;
		font-size:1.1em;
		padding-top:20px;
		padding-bottom:20px;

		#macbook-iphone {
			max-width: 45%;
			margin: 7.5% auto 5%;
		}

		.container.marketing {
			float:right;
			display:inline-block;
			width:50%;
			max-width:900px;
			padding-top:0.5%;
			font-size:1.1em;
		}

		#checklist-image {
			background-image:url('/assets/splash_checklist_gray.png');
			background-repeat:no-repeat;
			background-position:center; 
			background-size:100px;
			width:100px;
			height:100px;
			display:inline-block;
			margin:0 1%;
			position:absolute;
		}
		#checklist-image-blue {
			background-image:url('/assets/splash_checklist_blue.png');
			background-repeat:no-repeat;
			background-position:center; 
			background-size:100px;
			width:100px;
			height:100px;
			display:inline-block;
			margin:0 1%;
			position:absolute;
		}

		#document-image {
			background-image:url('/assets/splash_document_gray.png');
			background-repeat:no-repeat;
			background-position:center; 
			background-size:100px;
			width:100px;
			height:100px;
			display:inline-block;
			margin:0 1%;
			position:absolute;
		}
		#document-image-blue {
			background-image:url('/assets/splash_document_blue.png');
			background-repeat:no-repeat;
			background-position:center; 
			background-size:100px;
			width:100px;
			height:100px;
			display:inline-block;
			margin:0 1%;
			position:absolute;
		}

		#report-image {
			background-image:url('/assets/splash_report_gray.png');
			background-repeat:no-repeat;
			background-position:center; 
			background-size:100px;
			width:100px;
			height:100px;
			display:inline-block;
			margin:0 1%;
			position:absolute;
		}
		#report-image-blue {
			background-image:url('/assets/splash_report_blue.png');
			background-repeat:no-repeat;
			background-position:center; 
			background-size:100px;
			width:100px;
			height:100px;
			display:inline-block;
			margin:0 1%;
			position:absolute;
		}

		#punchlist-image {
			background-image:url('/assets/splash_punchlist_gray.png');
			background-repeat:no-repeat;
			background-position:center; 
			background-size:100px;
			width:100px;
			height:100px;
			display:inline-block;
			margin:0 1%;
			position:absolute;
		}
		#punchlist-image-blue {
			background-image:url('/assets/splash_punchlist_blue.png');
			background-repeat:no-repeat;
			background-position:center; 
			background-size:100px;
			width:100px;
			height:100px;
			display:inline-block;
			margin:0 1%;
			position:absolute;
		}

		.left {
		float:left;
		}

		.right {
		float:right;
		text-align:right;
		}

		.splash-image {
		height:110px;
		width:90%;
		margin:1.5% 2.5% 0 0;
		padding-bottom:1%;
		display:inline-table;
		border-bottom:1px solid #eee;

		.first {
			transition:opacity .25s linear;
			-moz-transition:opacity .25s linear;
			-webkit-transition:opacity .25s linear;
			z-index:2;
		}

			p {
				width:80%;
				display:inline-block;
				margin:0;
				padding-top:20px;
				vertical-align:top;
				color:#666;
			}
		}
	}

	#about {
		background:#f8f8f8;
		height:880px;

		ul#pitch {
			max-width:1140px;
			margin:0 auto;
			font-size:1.15em;
			height:90%;
			padding:2.5% 0 0 0;

			li {
				margin: 0 auto;
				list-style: none;
				height: 25%;
				border-bottom: 1px solid #eee;
				padding-top: 2%;
			}

			li:last-child {
				border:0;
				padding-top:1%;
			}

			.benefit {
				display:inline-table;
				width:60%;
				margin:.5% auto 2.5%;
				float:right;
			}

			.benefit.image {
				float:left;
				width:25%;
				margin-left:10%;

				#lock {
					max-width:70px;
				}

				img {
					max-width:120px;
					padding-top:10px;
				}
			}
		}
	}

	#pricing {
		height:700px;

		#left {
			display:inline-block;
			float:left;
			width:50%;
			height:100%;
			background-color:#336699;
			padding-top:193px;
			box-shadow: inset 0 0px 100px 30px rgba(0,0,0,0.1);
			-webkit-box-shadow: inset 0 0px 100px 30px rgba(0,0,0,0.1);
			-moz-box-shadow: inset 0 0px 100px 30px rgba(0,0,0,0.1);

			p {
				width:50%;
				margin: 0 auto;
				font-size:1.6em;
				color:#fff;
				line-height:3.25em;
				text-align:left;
				font-weight:lighter;
			}
		}

		#right {
			display:inline-block;
			float:right;
			width:50%;
			height:100%;
			background-color:#fff;

			img {
				display:block;
				margin:225px auto;
			}
		}
	}

	#contact {
		background:#eee;
		height:500px;
		text-align:center;
		padding-top:30px;

		#coming-soon{
			font-weight:300;
			padding-top:60px; 
			margin:0 auto;
		}

		p {
			padding-top:10px;
			font-size:1.15em;
		}

		input[type="text"],input[type="email"]{
			margin: .5em auto;
			font-weight: lighter;
			font-family: helvetica;
			font-size: 1.1em;
			padding: .5em;
			height: 2.5em;
			width: 300px;
			
			border-radius: 3px;
		}

		button {
			background-color:#336699;
			width:8em;
			border-radius:3px;
			color:#fff;
			border:0;
			box-shadow:0 0 0 0;
			font-size:1.15em;
			margin: 0.5em;

			input {
				margin:0 auto;
			}
		}
		.confirmation {
			font-size:1.25em;
			margin-top:2em;
		}
	}
}

#about-page {

	#menu {
		width:100%;
		margin:0 auto;
		top:0;
		box-shadow: 0 0 2px 1px #ccc;
		-webkit-box-shadow: 0 0 2px 1px #ccc;
		-moz-box-shadow: 0 0 2px 1px #ccc;
	}


	#logo:hover {
		border-bottom:0 !important;
	}
}

#team, #faq, #about {
	height:100% !important;
	margin-top:80px;
	
	#user-voice-container {
		max-width:1140px;
		margin:2.5% auto;
		background:#fff;
		padding:2.5% 2.5% 0 2.5%;
		border:1px solid #ddd;
		border-radius:3px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		box-shadow: 0 0 10px 0 #ddd;
		-moz-box-shadow: 0 0 10px 0 #ddd;
		-webkit-box-shadow: 0 0 10px 0 #ddd;
	}

	ul#team-list, ul#pitch {
		width:90%;
		max-width:1140px;
		margin:2.5% auto 0;
		padding:2.5% 2.5% 0 2.5%;
		list-style:none;
		border-radius:3px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		
		/*border:1px solid #ddd;
		box-shadow: 0 0 10px 0 #ddd;
		-moz-box-shadow: 0 0 10px 0 #ddd;
		-webkit-box-shadow: 0 0 10px 0 #ddd;
		background:#fff;*/
		height:auto !important;

		li {
			display:block;
			border-bottom:1px solid #eee;
			min-height:200px;

			.team-member-name {
				font-size:1.5em;
				padding-bottom:1%;
			}

			.team-member-image {
				float:left;
				width:200px;
				overflow:hidden;
				margin-right:2.5%;
			}

			p {
				font-size:1.1em;
				line-height:1.5em;
			}

			.benefit.image {
				width:20%;
				float:left;
			}

			.benefit {
				width:70%;
				float:right;
			}
		}
		li:last-child {
			border:0;
		}
	}

	ul#team-list li {
		min-height:300px;
		padding:5%;
	}

	ul#team-list li {
		min-height:300px;
	}
}

#about-background {
	border:1px solid #eee;

	#about {

		margin-top:10px;
		
		ul#pitch li {
			border-color:transparent;

		}
	}
}
	