// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar.splash {
	border-bottom:0;
	background:rgba(255,255,255,1);
	left:0;
	width:100%;

	#navigation {	
		max-width:1140px;
		margin:0 auto;

		li {
			padding:0;
			width:25%;
			border:0;
			text-align:center;
		}
	}

	.logo a {
		padding:0;	
	}
}

#splash {
	overflow:hidden;
	font-weight:200;

	section {
		height:700px;
	}
	.splash-container {
		margin:0 auto;
		max-width:1140px;
		position:relative;
		height:90%;
		top:22.5%;

		.slide {
			width:100%;
			top:0;
			display:table;
			position:absolute;
			
			span{
				display:table-cell;
				vertical-align:middle;
				text-shadow:1px 1px rgba(0,0,0,.15);
				cursor:default;

				p{
					background:rgba(0,0,0,.2);
					color:#fff;
					padding:4% 6%;
					font-weight:bolder;
					-webkit-font-smoothing:antialiased;
					font-size:1.65em;
					line-height:1.3em;
					font-family:'Source Sans Pro','Helvetica',sans-serif;
					border-radius:2px;
					-moz-border-radius:2px;
					-webkit-border-radius:2px;
					box-shadow:0 0 30px rgba(255,255,255,.3);
					border:1px solid #fff;
				}
				.splash-header {
					text-transform: uppercase;
					margin: 0 auto 4%;
					text-align: center;
					display: block;
					font-family:"Montserrat","Gotham Book",'Helvetica',sans-serif;
				}
			}
		}

		#slide-2, #slide-3, #slide-4 {
			left:200%;
		}
	}
	#call-to-action{
		text-align:center;
		position:relative;
		bottom:1.5%;

		#appstore {
			position:relative;
			bottom:20px;
			img {
				width:160px;
			}
		}

		#beta-login {
			a {
				width:160px;
				background:transparent;
				border:1px solid #fff;
				padding:10px 30px;
				color:#fff;
				font-weight:bolder;
				-webkit-font-smoothing:antialiased;
				font-size:1.3em;
				letter-spacing:1px;
				font-family:'Montserrat','Helvetica',sans-serif;
				border-radius:2px;
				-webkit-border-radius:2px;
				-moz-border-radius:2px;
				text-transform:uppercase;
				box-shadow: 
				  0 0x 0px transparent, /*bottom external highlight*/
				  0 -1px 1px #666, /*top external shadow*/ 
				  inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
				  inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
			}

			a:hover {
				color:#fff !important;
				background:rgba(255,255,255,.1);
			}
		}
	}

	#first-splash {
		background:#fff;
		background-image: image-url('blur1.jpg');
		background-size:cover;
		background-repeat:no-repeat;

		#macbook-iphone {
			max-width: 100%;
			width:100%;
			margin: 0 auto;
		}
		#ipad {
			max-width: 90%;
			width:100%;
			margin: 0 auto;
		}

		.container.marketing {
			float:right;
			display:inline-block;
			width:50%;
			max-width:900px;
			padding:0.5% 0 0 0;
			font-size:1.1em;
		}

		#checklist-image {
			background-image:url('/assets/splash_checklist_gray.png');
			background-repeat:no-repeat;
			background-position:center; 
			background-size:100px;
			width:100px;
			height:100px;
			display:inline-block;
			margin:0 1%;
			position:absolute;
		}
		#checklist-image-blue {
			background-image:url('/assets/splash_checklist_blue.png');
			background-repeat:no-repeat;
			background-position:center; 
			background-size:100px;
			width:100px;
			height:100px;
			display:inline-block;
			margin:0 1%;
			position:absolute;
		}

		#document-image {
			background-image:url('/assets/splash_document_gray.png');
			background-repeat:no-repeat;
			background-position:center; 
			background-size:100px;
			width:100px;
			height:100px;
			display:inline-block;
			margin:0 1%;
			position:absolute;
		}
		#document-image-blue {
			background-image:url('/assets/splash_document_blue.png');
			background-repeat:no-repeat;
			background-position:center; 
			background-size:100px;
			width:100px;
			height:100px;
			display:inline-block;
			margin:0 1%;
			position:absolute;
		}

		#report-image {
			background-image:url('/assets/splash_report_gray.png');
			background-repeat:no-repeat;
			background-position:center; 
			background-size:100px;
			width:100px;
			height:100px;
			display:inline-block;
			margin:0 1%;
			position:absolute;
		}
		#report-image-blue {
			background-image:url('/assets/splash_report_blue.png');
			background-repeat:no-repeat;
			background-position:center; 
			background-size:100px;
			width:100px;
			height:100px;
			display:inline-block;
			margin:0 1%;
			position:absolute;
		}

		#worklist-image {
			background-image:url('/assets/splash_worklist_gray.png');
			background-repeat:no-repeat;
			background-position:center; 
			background-size:100px;
			width:100px;
			height:100px;
			display:inline-block;
			margin:0 1%;
			position:absolute;
		}
		#worklist-image-blue {
			background-image:url('/assets/splash_worklist_blue.png');
			background-repeat:no-repeat;
			background-position:center; 
			background-size:100px;
			width:100px;
			height:100px;
			display:inline-block;
			margin:0 1%;
			position:absolute;
		}

		.left {
			float:left;
		}

		.right {
			float:right;
			text-align:right;
		}
	}

	#about {
		background:#fff;
		padding:40px 0;

		ul#pitch {
			max-width:1140px;
			margin:0 auto;
			font-size:1.15em;
			height:90%;
			font-family:"Source Sans Pro","HelveticaNeue","Helvetica",sans-serif;
			font-weight:normal;
			cursor:default;

			li {
				margin: 0 auto;
				list-style: none;
				height: 25%;
				border-bottom: 2px dashed #000;
				padding-top: 4%;
			}

			li:last-child {
				border:0;
				padding-top:1%;
			}

			.benefit {
				display:inline-table;
				width:60%;
				margin:.5% auto 2.5%;
				float:right;
			}

			.benefit.image {
				float:left;
				width:25%;
				margin-left:10%;
				margin-top:-.5%;

				#lock {

				}

				#messaging {
					margin-left:5px;
					margin-top:5%;
				}
				#personnel {
					margin-left:15px;
					margin-top:10%;
				}

				img {
					max-width:120px;
				}
			}
		}
	}

	#pricing {
		height:50%;

		#left {
			display:inline-block;
			float:left;
			width:100%;
			height:100%;
			background-color:#336699;
			padding:2% 0;
			box-shadow: inset 0 0px 100px 30px rgba(0,0,0,0.1);
			-webkit-box-shadow: inset 0 0px 100px 30px rgba(0,0,0,0.1);
			-moz-box-shadow: inset 0 0px 100px 30px rgba(0,0,0,0.1);

			p {
				width:100%;
				margin: 0 auto;
				font-size:1.6em;
				color:#fff;
				line-height:3.25em;
				text-align:center;
				font-weight:lighter;
			}
		}

		#right {
			display:inline-block;
			float:right;
			width:50%;
			height:100%;
			background-color:#fff;

			img {
				display:block;
				margin:225px auto;
			}
		}
	}

	#contact {
		clear:both;
		background:#eee;
		height:625px;
		text-align:center;

		#coming-soon{
			font-weight:300;
			padding-top:60px; 
			margin:0 auto;
		}

		p {
			padding-top:10px;
			font-size:1.15em;
		}

		input[type="text"],input[type="email"]{
			margin: .5em auto;
			font-weight: lighter;
			font-family: helvetica;
			font-size: 1.1em;
			padding: .5em;
			height: 2.5em;
			width: 440px;
			border-radius: 3px;
		}

		#recaptcha_area {
			width:440px;
			margin:0 auto 15px;
		}

		button {
			background-color:#336699;
			width:10em;
			border-radius:3px;
			color:#fff;
			border:0;
			box-shadow:0 0 0 0;
			font-size:1.15em;
			margin: 0.5em auto;

			input {
				margin:0 auto;
			}
		}
		.confirmation {
			font-size:1.25em;
			margin-top:2em;
		}
	}
}

#about-page {

	#menu {
		width:100%;
		margin:0 auto;
		top:0;
		box-shadow: 0 0 2px 1px #ccc;
		-webkit-box-shadow: 0 0 2px 1px #ccc;
		-moz-box-shadow: 0 0 2px 1px #ccc;
	}

	#logo:hover {
		border-bottom:0 !important;
	}
}

#team, #faq, #about {
	height:100% !important;
	
	#user-voice-container {
		max-width:1140px;
		margin:2.5% auto;
		background:#fff;
		padding:2.5% 2.5% 0 2.5%;
		border:1px solid #ddd;
		border-radius:3px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		box-shadow: 0 0 10px 0 #ddd;
		-moz-box-shadow: 0 0 10px 0 #ddd;
		-webkit-box-shadow: 0 0 10px 0 #ddd;
	}

	ul#team-list, ul#pitch {
		width:90%;
		max-width:1140px;
		margin:2.5% auto 0;
		padding:0 2.5%;
		list-style:none;
		border-radius:3px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		
		/*border:1px solid #ddd;
		box-shadow: 0 0 10px 0 #ddd;
		-moz-box-shadow: 0 0 10px 0 #ddd;
		-webkit-box-shadow: 0 0 10px 0 #ddd;
		background:#fff;*/
		height:auto !important;

		li {
			display:block;
			border-bottom:1px solid #eee;
			min-height:200px;

			.team-member-name {
				font-size:1.5em;
				padding-bottom:1%;
			}

			.team-member-image {
				float:left;
				width:200px;
				overflow:hidden;
				margin-right:2.5%;
			}

			p {
				font-size:1.1em;
				line-height:1.5em;
			}

			.benefit.image {
				width:20%;
				float:left;
			}

			.benefit {
				width:70%;
				float:right;
			}
		}
		li:last-child {
			border:0;
		}
	}

	ul#team-list li {
		min-height:300px;
		padding:5%;
	}

	ul#team-list li {
		min-height:300px;
	}
}

#about-background {
	border:1px solid #eee;

	#about {

		margin-top:10px;
		
		ul#pitch li {
			border-color:transparent;

		}
	}
}
#privacy-section, #terms-section {
	border:1px solid #ddd;
	
	p {
		margin:20px 0;
	}
	ul {
		margin-lefT:30px;
	}
	h2 {
		text-align:center;
	}
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
.navbar.splash {
	height:7.5%;
	border-bottom:0;
	background:rgba(255,255,255,.95);
	border-bottom:1px solid #fff;

	#navigation {	
		max-width:1140px;
		margin:0 auto;

		li {
			padding:2% 0 0;
			width:auto;
			text-align:center;
			display:none;
		}
	}

	.logo, .logo a {
		display:block !important;	
		margin:0 auto;
		text-align:center;
		img {
			width:100%;
		}
	}
}

	#splash {
		position:absolute;
		height:100%;
		width:100%;
		overflow:hidden;

		#first-splash, #about, #pricing {
			height:100%;
			top:0;
			position:relative;
			width:100%;
		}

		#first-splash {
			
			.splash-container {
				width:100%;
				top:15%;
			}
			
			padding-top:140px;

			.container.marketing {
				float:none !important;
				display:block !important;
				width:100% !important;
				margin:0 auto !important;
				padding:2.5%;
				border:0;
			}

			.splash-image {
				width:100%;
				height:110%;
				margin:0;
				padding-bottom:10% !important;
				display:block;
				float:left;
				border-bottom:0;

				span {
				margin-top:8% !important;
				}

				p {
					width:100%;
					display:inline-block;
					margin:0;
					padding-top:20px;
					vertical-align:top;
					color:#666;
				}
			}
		}
		#contact {
			form, input[type="email"], input[type="text"] {
				width:90%;
				margin:0 auto;
			}
		}
	}
}
	