// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#messages {
	border-top:1px solid #eee;
	margin:2.5% auto;
	padding:20px 0;

	h2, h3, h4 {
		text-align:center;
		margin:1.5% auto 2%;
	}

	.explanation {
		text-align:center;
		color:#aaa;
		font-size:1.1em;
		margin-bottom:2%;

		a {
			color:#aaa;
			text-decoration:underline;
		}
	}

	#messages-table {
		width:100%;
		border:1px solid #eee;
	}
}

.messages-container {
	.personnel-label {
		color:#aaa;
		margin:1% auto;
		font-size:.95em;
	}
}

#new-message {
	h3, h4 {
		margin:1.5% auto 2%;
	}

	form {
		width:100%;
	}

	textarea {
		width:100%;
	}

	.row {
		padding: 5px 0;
	}
}

#back-from-message {
	position:absolute;
	left:3%;
}

.message{
	max-width:50%;
	margin:0 auto;
	border-radius:18px;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border:1px solid #eee;
	background:#fff;
	padding:1%;
}