// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#messages.panel {
	width:49% !important;
}

#communication {
	border-top:1px solid #eee;
	padding:0;
	width:100%;
	height:100%;
	margin:0;
	position:relative;

	#messages {
		width:100%;
		padding-bottom:15px;
		-webkit-transition: all 0.23s ease;
		-moz-transition: all 0.23s ease;
		-ms-transition: all 0.23s ease;
		-o-transition: all 0.23s ease;
		transition: all 0.23s ease;

		#sent-received {
			.inbox, .sent {
				margin:0 10px;
				text-decoration:none;
			}
			.current {
				color:#cc0000;
				text-decoration:underline;
			}
		}
	}

	.focus {
		-webkit-transition: all 0.23s ease;
		-moz-transition: all 0.23s ease;
		-ms-transition: all 0.23s ease;
		-o-transition: all 0.23s ease;
		transition: all 0.23s ease;
	}

	h2, h3, h4 {
		text-align:center;
		margin:0 auto 2%;
	}

	.explanation {
		text-align:center;
		color:#aaa;
		font-size:1.1em;
		margin-bottom:1%;

		a {
			color:#aaa;
			text-decoration:underline;
		}
	}

	#messages-table {
		width:100%;
		border:1px solid #eee;
	}

	.focus {
		position:absolute;
		top:0;
		left:101%;
		width:50%;
		-webkit-transition: all 0.23s ease;
		-moz-transition: all 0.23s ease;
		-ms-transition: all 0.23s ease;
		-o-transition: all 0.23s ease;
		transition: all 0.23s ease;
	}
}

.messages-container {
	.personnel-label {
		color:#aaa;
		margin:1% auto;
		font-size:.95em;
	}
}

#new-message, #edit-message {
	h3, h4 {
		margin:1.5% auto 2%;
	}

	form {
		width:100%;
	}

	textarea {
		width:100%;
	}

	.row {
		padding: 5px 0;
	}
}

#back-from-message {
	position:absolute;
	left:3%;
}

.message.active {
	background:#fff5cf;
}

.message {
	width:100%;
	margin:2% auto;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border:1px solid #e1e1e1;
	position:relative;
	background:#fff;
	display:table;
	padding:2% 2% 1%;
	
	.message-body {
		font-size:1.1em;
		margin-bottom:1%;
	}

	.attribution {
		color:#aaa;
		font-size:1.1em;
	}

	.fa-cog {
		position:absolute;
		right:10px;
		top:10px;
	}

	.fa-remove, .fa-trash-o {
		position:absolute;
		right:10px;
		top:10px;
		font-size:1.25em;
	}
}