#phase-container {
	padding:5%;
}

.checklist {

	#checklist-items{
		.new_phase {
			position:relative;
			margin:2.5% auto;
			width:98%;
			display:block;
			border-radius:2px;
			-moz-border-radius:2px;
			-webkit-border-radius:2px;
			
			border-color:transparent !important;

			.new-phase.row {
				margin:0;
				padding:0;
				width:100%;

				input[type="text"] {
					width:100%;
					margin:0;
				}

				input[type="submit"] {
					width:90%;
				}
			}

			.fa-remove {
				position:absolute;
				top:5px;
				right:5px;
				cursor:pointer;
			}
		}
	
	}
}