// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.documents-photo {
	margin:10px;
	padding-bottom: 0;
}

table#add-photo {
	width:50%;
	min-width:400px;
	margin:0 auto;
	display:block;
	border:1px solid #eee;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	padding:20px 20px 80px;

	#source-label{
		opacity:0;
	}

	tbody, input, tr, td {
		width:100%;
		display:block;
	}
}