// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.documents-photo {
	margin:10px;
	padding-bottom: 0;
}

#project-documents {
	position:relative;
}

#add-photo {
	width:50%;
	min-width:400px;
	margin:0 auto;
	display:block;
	border:1px solid #eee;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	padding:20px 20px 80px;

	.hidden-fields{
		opacity:0;
	}

	input {
		width:100%;
		display:block;
	}
}
#add-photo-link {
	width: 180px;
	font-size:14px;
	display: block;
	border-radius: 8px;
	padding: 7px 21px;
	border: 1px solid #ccc;
	margin: 21px auto;
	line-height: 30px;
	box-shadow: 1px 1px 1px -1px rgba(0,0,0,.5);
}

#filters {
	position:relative;
	top:-5px;
	list-style:none;
	display:inline-block;
	font-size:1.2em;

	li {
		display:inline-block;
		padding:0 20px;
		vertical-align:middle;
	}
}

#photo-table {
	float:left;
	list-style:none;
	display:inline-block;
	width:25%;
	vertical-align:top;
	ul {
		padding:0;

		li {
			display:block;
		}

		.photo-name {
			padding-left:15px;
		}
	}
	
}

#photo-focus {
	display:inline-block;
	width:75%;
}