// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.documents-photo {
	margin:10px;
	padding-bottom: 0;
}

#project-documents {
	padding-top:0;
	position:relative;
}

#photo-section {
	overflow:auto;
}

.image-block{
	width:220px;
	text-align:center;
	padding:10px;
	margin:10px 10px 10px 15px;
	line-height:1.3em;
	overflow:auto;
	border:1px solid #eee;
	display:inline-block;
	position:relative;

	.label-container {
		text-align:left;
		.label {
			color:#aaa;
			padding-right:7px;
		}
	}

	img {
		margin-bottom:7px;
	}
	.delete-link {
		position:absolute;
		bottom:0;
		right:0;
		margin:0;
	}
}
.image-block.large{
	max-width:100%;
	width:auto;
	display:block;

	img {
		max-width:100%;
	}
}

#upload-file-container {
	padding:1em;
	border:1px solid #eee; 
	margin:0 auto; 
	cursor:pointer;
	position:relative;
	width:50%;
	top:1em;

	input[type="file"] {
		position:absolute;
		left:0;
		top:0;
		width:100%;
	  	opacity:0;
	  	height:50px;
	  	padding:0;
	  	cursor:pointer;
  	}
}

.new_photo {
	border:1px solid #eee;
	margin:0 auto;
	display:block;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	padding:20px 20px 0 20px;
	text-transform:uppercase;
	text-align:center;
	font-family:'Gotham Book';
	letter-spacing:1px;
}

.add-document-link {
	width: 140px;
	font-size:13px;
	display: block;
	border-radius: 8px;
	padding: 7px;
	text-align:center;
	border: 1px solid #ccc;
	margin: 15px 0;
	line-height: 20px;
	box-shadow: 1px 1px 1px -1px rgba(0,0,0,.5);
}

#add-folder-link {
	cursor:pointer;
	clear:both;
	text-transform:uppercase;
	text-align:center;
	font-family:'Gotham Book';
	letter-spacing:1px;
	width: 200px;
	font-size:14px;
	display: block;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 7px;
	border: 1px solid #ddd;
	margin: 20px auto 0;
	line-height: 27px;
	font-size:15px;
	box-shadow: 1px 1px 1px -1px rgba(0,0,0,.15);
}

.image-details {
	text-align:left;
	cursor:default;
}

form.edit_photo {
	width:100%;
	display:inline-block;

	.row {
		margin-left:0;
		margin-right:0;
		line-height:1.5em;
	}
	.label {
		text-align:left;
		vertical-align:middle;
	}
	input {
		display:inline-block;
		//width:77%;
	}

	input[type="submit"]{
		float:right;
	}
}

.edit-folder {
	cursor:pointer;
	margin-left:2em;
}

.edit-folder:hover {
	color:#cc0000;
}

#documents-header {
	display:inline-block;
	width:10%;
	text-align:center;
	min-width:95px;
	cursor:default;
}

#filters {
	position:relative;
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
	display:table;
	font-size:14px;
	letter-spacing:1px;
	font-family:"Gotham Book","Helvetica Neue","helvetica",sans-serif;

	li {
		width:20%;
		display:inline-block;
		padding:0;
		vertical-align:middle;
		text-align:center;
		border-right:1px solid #eee;
		a {
			text-transform:uppercase;
		}
	}
	li:last-child {
		border:0;
	}
}

#photo-table {
	float:left;
	list-style:none;
	display:inline-block;
	width:40%;
	vertical-align:top;
	padding-top:10px;

	#photo-search {
		margin:0% auto 5%;
	}

	ul {
		padding:0;

		li {
			display:block;
			clear:both;
		}

		.photo-name {
			font-size:1.1em;
			padding:3px 0 1px 15px;

			.no-name {
				font-style:italic;
				color:#aaa;
				font-weight:200;
			}

			.photo-timestamp {
				float:right;
				color:#aaa;
				font-weight:200;
			}
		}
	}
	
}

#photo-focus {
	float:left;
	display:inline-block;
	width:60%;
	min-height:80px;
}

.full-focus {
	width:100% !important;
}

.no-image-placeholder {
	color: #aaa;
	font-size: 1.25em;
	margin: 30px auto;
	font-style: italic;
	font-weight: 200;
	text-align: center;
}