// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.documents-photo {
	margin:10px;
	padding-bottom: 0;
}

#project-documents {
	padding-top:0;
	position:relative;
}

#photo-section {
	overflow:auto;
	clear:both;
}

.image-block{
	width:160px;
	text-align:center;
	padding:5px;
	margin:10px 10px 10px 0;
	line-height:1.2em;
	overflow:auto;
	border:1px solid #eee;
	display:inline-block;
	position:relative;

	img {
		width:100%;
	}

	.label-container {
		text-align:left;
		font-size:.95em;
		white-space:nowrap;

		.label {
			color:#aaa;
			font-size:.9em;
			padding-right:7px;
			font-weight:normal;
		}
	}

	.first.label-container {
		padding-top:5px;
	}

	.fa-trash-o {
		font-size:23px;
	}
	
	.delete-link {
		position:absolute;
		bottom:0;
		right:0;
		margin:0;
	}
}

.image-block.large{
	max-width:100%;
	width:auto;
	display:block;

	img {
		max-width:100%;
	}
}

#upload-file-container {
	padding:1em;
	border:1px solid #eee; 
	margin:0 auto; 
	cursor:pointer;
	position:relative;
	width:50%;
	top:1em;

	input[type="file"] {
		position:absolute;
		left:0;
		top:0;
		width:100%;
	  	opacity:0;
	  	height:50px;
	  	padding:0;
	  	cursor:pointer;
  	}
}

.new_photo {
	display:inline-block;
	.dz-message {
		margin:0;
		padding:7px 15px;
		letter-spacing:1px;
	}
}

.add-document-link {
	width: 140px;
	font-size:13px;
	display: block;
	border-radius: 8px;
	padding: 7px;
	text-align:center;
	border: 1px solid #ccc;
	margin: 15px 0;
	line-height: 20px;
	box-shadow: 1px 1px 1px -1px rgba(0,0,0,.5);
}

.image-details {
	width:100%;
	text-align:left;
	cursor:default;
	
	input, textarea {
		width:100%;
	}
}

form.edit_photo {
	width:100%;
	display:inline-block;
	border-top:1px solid #ddd;

	.row {
		margin-left:0;
		margin-right:0;
		padding:5px;
		border-bottom:1px solid #ddd;
		border-left:1px solid #ddd;
		border-right:1px solid #ddd;
	}
	.label {
		h5 {
			margin:0 auto;
			line-height:inherit;
		}
		text-align:left;
		vertical-align:middle;
	}
	input {
		display:inline-block;
	}

	input[type="submit"]{
		
	}
}

.edit-folder {
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 8px;
	margin: 0;
}

.edit-folder:hover {
	color:#cc0000;
}

#documents-header {
	display:inline-block;
	width:10%;
	text-align:center;
	min-width:95px;
	cursor:default;
}

#documents-nav {
	padding:10px 0;

	#photo-search {
		float:right;
		width:75%;
	}

	h5 {
		display:inline-block;
	}

	#filter-section {
		position: relative;
		float: left;
		width: 20%;
		min-width:260px;
		margin-right: -1px;
		letter-spacing:1px;
		height: 36px;
		line-height: 36px;
		cursor: pointer;
		box-shadow: inset 0 1px 0 0 rgba(255,255,255,1);

		#current-filter {
			padding-left:10px;
			font-weight:bold;
			font-family:"Myriad Pro",'Source Sans Pro',"Helvetica Neue",sans-serif;
		}

		#filters {
			position:absolute;
			background:#fff;
			margin:0;
			padding:0;
			list-style:none;
			display:none;
			left:-1px;
			top:32px;
			z-index:3;
			width:160px;
			font-family:"Myriad Pro",'Source Sans Pro',"Helvetica Neue",sans-serif;
			border-radius:7px;
			-webkit-border-radius:7px;
			-moz-border-radius:7px;
			box-shadow: 0 0 14px 0 rgba(0,0,0,.1);

			li {
				width:100%;
				display:inline-block;
				padding:2px 10px;
				vertical-align:middle;

					letter-spacing:0;
				
			}
			li:last-child {
				border:0;
			}

			li:hover {
				background:#f7f7f7;
			}
		}
	}
}

#photo-table {
	float:left;
	list-style:none;
	display:inline-block;
	width:50%;
	vertical-align:top;
	padding-top:10px;

	ul {
		padding:0;

		li {
			display:block;
			clear:both;
		}

		.photo-name {
			border:1px solid #eee;
			padding:5px 5px 3px;
			margin-top:-1px;

			.no-name {
				font-style:italic;
				color:#aaa;
				font-weight:200;
			}

			.photo-timestamp {
				float:right;
				color:#aaa;
				font-weight:200;
			}
		}
	}
}

#photo-focus {
	float:left;
	display:inline-block;
	width:50%;
	min-height:80px;
}

.full-focus {
	width:100% !important;
}

.no-image-placeholder {
	color: #aaa;
	font-size: 1.25em;
	margin: 30px auto;
	font-style: italic;
	font-weight: 200;
	text-align: center;
}