// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.documents-photo {
	margin:10px;
	padding-bottom: 0;
}

#project-documents {
	position:relative;
}

#photo-section {
	overflow:auto;
}

#add-photo {
	width:50%;
	min-width:400px;
	margin:0 auto;
	display:block;
	border:1px solid #eee;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	padding:20px 20px 80px;

	.hidden-fields{
		opacity:0;
	}

	input {
		width:100%;
		display:block;
	}
}

.add-document-link {
	width: 140px;
	font-size:13px;
	display: block;
	border-radius: 8px;
	padding: 7px;
	text-align:center;
	border: 1px solid #ccc;
	margin: 15px 0;
	line-height: 20px;
	box-shadow: 1px 1px 1px -1px rgba(0,0,0,.5);
}

#add-photo-link {
	cursor:pointer;
	clear:both;
	text-align:center;
	width: 180px;
	font-size:14px;
	display: block;
	border-radius: 8px;
	padding: 7px;
	border: 1px solid #ccc;
	margin: 0 auto;
	line-height: 27px;
	font-size:15px;
	box-shadow: 1px 1px 1px -1px rgba(0,0,0,.5);
}

.image-details {
	cursor:default;
}

form.edit_photo {
	display:inline-block;
}

.edit-folder {
	cursor:pointer;
	margin-left:2em;
}

.edit-folder:hover {
	color:#cc0000;
}

#documents-header {
	display:inline-block;
	width:15%;
	text-align:center;
	font-family:'Gotham Book','Helvetica';
	min-width:95px;
}

#filters {
	position:relative;
	width:84%;
	top:-2px;
	list-style:none;
	display:inline-block;
	text-transform:uppercase;
	letter-spacing:1px;
	font-family:'Gotham Book','Helvetica Neue','Helvetica',sans-serif;

	li {
		width:19%;
		display:inline-block;
		padding:0;
		vertical-align:middle;
		text-align:center;
	}
}

#photo-table {
	float:left;
	list-style:none;
	display:inline-block;
	width:40%;
	vertical-align:top;
	ul {
		padding:0;

		li {
			display:block;
			clear:both;
		}

		.photo-name {
			padding-left:15px;
		}
	}
	
}

#photo-focus {
	float:left;
	display:inline-block;
	width:60%;
	min-height:80px;
}

.full-focus {
	width:100% !important;
}

.no-image-placeholder {
	color: #aaa;
	font-size: 1.25em;
	margin: 30px auto;
	font-style: italic;
	font-weight: 200;
	text-align: center;
}