// Place all the styles related to the ProjectGroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#project-groups {
	padding-top:20px;

	.new_project_group {
		margin:0 auto;

		input[type="text"] {
			width:100%;
		}
	}
}

#cancel-new-group {
	cursor:pointer;
	margin-left:5%;
}

#cancel-new-group:hover {
	color:#cc0000;	
}

#groups {
	.group-header {
		height:35px;
		border-bottom:1px solid #ccc;
		
		.group-name {
			display:inline-block;
			text-align:left;
			margin-left:7px;
			margin-top:0;
			padding-top:10px;
		}
	}
}

.new_project_group {
	input[type="text"] {
		width:90%;
		margin:0 auto;
		font-size:16px;
		line-height:16px;
	}

	input[type="submit"] {
		margin:5px 0 0 5%;
	}
}
.project-group.editing {
	height:35px;
	overflow:auto;

	.edit_project_group {

		input[type="text"] {
			width:100%;
			height:34px;
			font-weight:bolder;
			border:0;
		}

		input[type="submit"]{
			box-shadow:0 0 0 0;
			-moz-box-shadow:0 0 0 0;
			-webkit-box-shadow:0 0 0 0;
			border:0;
			padding:10px;
		}

		#cancel-group {
			margin:0 10px 0 0;
			cursor:pointer;
			position:relative;
			top:2px;
		}
	}
}