// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.well {
	min-height: 20px;
	padding: 0 20px;
	margin-bottom: 20px;
	background-color: #f7f7f7;
	border: 1px solid #e7e7e7;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.0);
	-webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.0);
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.0);
}

#new-project-form, #edit-project-form {
	max-width:600px;
	width:50%;
	margin:0 auto;

	form, input {
		width:100%;
	}
}

#company-dashboard {
	.company-project {
		min-height:200px;
		border: 1px solid #e7e7e7;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		margin-bottom:15px;
		padding:5px 20px;

		table {
			tr {
				line-height:33px;
				vertical-align:middle;
				border:1px solid #eee;
			}

			.dashboard-label {
				color:#aaa;
				font-size:12px;
				padding-right:21px;
				padding-left:7px;
			}
		}
	}

	.ui-progressbar {
		display:inline-block;
		border:1px solid #ccc;
		width:200px;
		height:1em;
		vertical-align:middle;
		margin-top:-2px;
	}

	#progress-link {

		.ui-progressbar-value {
			margin-top:0;
			background:#336699;
			border-width:0;
		}
	}

	h5,h4 {
		width:100%;
		a {color:#222;}
		a:hover {color:#cc0000;}
	}
}