// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.well {
	min-height: 20px;
	padding: 0 20px;
	margin-bottom: 20px;
	background-color: #f7f7f7;
	border: 1px solid #e7e7e7;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.0);
	-webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.0);
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.0);
}

#new-project-form, #edit-project-form {
	max-width:600px;
	width:50%;
	margin:0 auto;

	form, input {
		width:100%;
	}
}