// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#edit-project {
	form, input[type="text"] {
		width:100%;
	}
	input[type="checkbox"] {
		width:auto;
		margin-left:0;
	}

	.button-container {
		margin: 0 auto;
	}

	.row.personnel {
		padding-top:10px;
		padding-bottom:10px;
		border-top:1px solid #eee;
	}
	.edit-header {
		margin-bottom:2%;
	}

	#project_core {
		margin:10px 10px 10px 0; 
		display:inline-block; 
	}
	#core-warning {
		color:#cc0000;
	}
}

#hidden-projects-button {
	text-align:center;
	color:#aaa;
	cursor:default;
	margin:5% auto;
}

.no-projects-placeholder {
	padding: 0; 
	color: #aaa; 
	font-weight: 200; 
	font-size:.9em; 
	height: 47px; 
	line-height: 47px; 
	font-style:italic; 
	text-align:center;	
}

.projects.hidden {
	display:none;

	.sidebarProjects div {
		margin:15px auto;
	}
}

#hide-button {
	margin:1% auto 0;
	width:100%;
	max-width:160px;
	display: inline-block;
}

#hide-button:hover {

}

#remove-project-button {
	margin:0;
	display:inline-block;
}

#company-dashboard, #search-results {
	padding:0;
	margin:0;

	.alert-table {
		width:100%;
		td {
			text-align:center;
		}
	}

	.company-project:last-child {
		border-bottom:0;
	}

	.company-project, .search-project {
		background-color:#fff;
		padding:0px 20px;
		overflow:auto;
		border-bottom:1px solid #eee;

		table {
			width:100%;
			tr {
				border-bottom:1px dashed #eee;
				td{
					padding:10px 0;
				}
			}

			tr:last-child{
				border:0;
			}

			.more {
				text-align:center;
				text-transform:uppercase;
				font-size:.9em;
				letter-spacing:1px;
				border:1px solid #eee;
				padding:5px;
			}
		}

		.project-header {
			margin:10px 0 0;
			padding-left:0;
			border-right:1px solid #eee;
		}

		.progress-section {
			border:1px dashed #eee;
			line-height:30px;
			text-align:center;
		}

		ul li {
			list-style:none;
		}

		.activity-icon {
			padding-right:10px;
			img{
				width:24px;
			}
		}

		.project-name {
			font-size:1.5em;
			text-transform:uppercase;
			padding-right:20px;
		}
	
		.row {
			margin:0;
			line-height:40px;
			vertical-align:middle;
		}

		.dashboard-label {
			color:#aaa;
			font-size:12px;
			text-transform:uppercase;
			padding-right:21px;
			padding-left:7px;
			width:10%;
		}

		ol li {
			line-height:23px;
			padding-top:7px;
		}

		.thumb-image {
			width:123px;
			height:170px;
			overflow:hidden;
			display:inline-block;
			padding:10px;
			margin:0 auto;
			text-align:center;
			line-height:1.5em;
			box-shadow:-2px -2px 20px 0 rgba(0,0,0,.05);
			img {

			}
			.label-container {
				text-align:left;
			}
		}
	}

	.ui-progressbar {
		display:inline-block;
		border:1px solid #ccc;
		width:90%;
		height:1em;
	}

	.progress-percentage {
		width:30%;
	}

	.progress-link {
		width:80%;
		height:7px;
		border-radius:0;
		margin-right:2.5%;
		-webkit-border-radius:0;
		-moz-border-radius:0;

		.ui-progressbar-value {
			margin-top:0;
			background:#0880ff;
			border-width:0;
		}
	}

	h5,h4 {
		width:100%;
		display:inline;
		a {
			color:#222;
		}
		a:hover {color:#cc0000;}
	}
}

#company-dashboard {
	margin:0 0 15px;
}

#dashboard-placeholder {
	color:#aaa;
	text-align:center;
	font-weight:200;
	font-size:1.75em; 
	font-style:italic;
	margin:2% auto .5%;
	line-height:2em;
}

#demo-prompt {
	color:#aaa;
	text-align:center;
	font-size:1.25em; 
	margin:0% auto 2%;
}

#pro-signup-prompt {
	text-align:center;
	color:#aaa;
	font-size:1.5em;
	font-weight:200;

	a {
		text-decoration:underline;
	}	
}

#project-dashboard {
	.dashboard-placeholder {
		color: #aaa;
		font-style: italic;
		margin-bottom: 20px;
		margin-top: 10px;
		font-weight: 200; 
		text-align: center;
	}

	#recent-items {
		padding:0 20px;
		.row {
			padding:5px 0;
		}
	}
	.dashboard-image {
		max-width:25px;
	}

	h3.header, h4.header {
		padding:10px;
		margin:2.5% auto 1%;
	}

	#recent-documents, #upcoming-items {
		padding:0 20px;

		.image-block{
			display:inline-block;
		}
	}
	#checklist-section {
		padding:0 40px;

		.center {
			text-align:center;
		}
		.row div {
			padding:17px 0;
		}
	}

	.header-label {
		font-weight:700;
		color:#000;
	}

	.header-label.center h4 {
		text-align:center
	}
}

.destroy-box {
	margin:5% auto;
	max-width:700px;

	.delete-confirmation {
		margin:0 auto;
		padding-top:2em;

		h3 {
			text-align:center;
			margin:0 auto 0;	
		}
			
		p {
			font-size:1.2em;
			margin:2em auto;
			width:75%;
		}
	}

	.delete-project-link {
		margin:2em auto;
		max-width:220px;
	}
}

.delete-project-link.no-link {
	color:#fff !important;
	text-align:center;
	width:200px;
	line-height:35px;
}

.delete-project-link:hover {
	
}

#search-results {
	padding:20px 20px 5px;
	position:relative;

	#dismiss-search {
		position:absolute;
		right:5px;
		top:5px;
		width:24px;
	}
}

#export-worklist-modal,#export-checklist-modal {
	top:12.5%;
	width:50%;
	max-height:75%;
	left:100%;
	opacity:0;
	z-index:1031;
	background:#fff;
	position:fixed;
	padding:20px;
	overflow-y:scroll;

	#cancel-worklist-modal,#cancel-checklist-modal {
		margin-top:-17px;
		margin-right:-17px;
		float:right;
		width:18px;
		height:18px;
		display:block;
		cursor:pointer;
		padding:15px;
		opacity:.8;
	}

	#cancel-worklist-modal:hover,#cancel-checklist-modal:hover {
		opacity:1;
	}

	h3 {
		margin-top:0;
		text-align:center;
	}

	form {
		input[type="text"] {
			width:100%;
			margin:1em auto;
		}

		.checkboxes {
			line-height:2em;
		}
	}
}