// Place all the styles related to the ProjectGroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#project-groups {
	padding-top:20px;

	.new_project_group {
		margin:0 auto;
		input[type="text"] {
			width:100%;
		}
	}
}

#groups-container {
	margin-top:20px;

	.row {
		padding:15px 10px;
		border-bottom:1px solid #eee;
	}

	.edit_project_group {
		input[type="text"] {
			display:inline-block;
			margin:0;
			padding:0 0 0 7px;
			margin-left:-8px;
			width:auto;
			line-height:36px;
		}
	}

	.project-group.editing {
		.row {
			padding:6px 10px;
		}
	}
}

#project_project_group_id {
	position:relative;
	top:9px;
	font-size:1.25em;
}