// Place all the styles related to the ProjectGroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#project-groups {
	padding-top:20px;

	.new_project_group {
		margin:0 auto;
		input[type="text"] {
			width:100%;
		}
	}
}

#group-container {
	.group-header {
		border-bottom:1px solid #ccc;
		
		.group-name {
			color:#222;
			text-align:left;
		}
	}
}

.new_project_group {
	input[type="text"] {
		width:75%;
	}

	input[type="submit"] {
		width:25;
	}
}