// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#edit-project {
	margin: 0 auto;
	max-width: 800px;

	.edit-header {
		text-align:center;
		margin:0 auto 20px;
	}

	#project_core {
		margin:10px 10px 10px 0; 
		display:inline-block; 
	}
	#core-warning {
		color:#cc0000;
	}
}

#archived-projects-button {
	text-align:center;
	color:#aaa;
	cursor:default;
	margin:5% auto;
}

.projects.archived {
	display:none;
	.sidebarProjects div {
		margin:15px auto;
	}
}

#archive-button {
	margin:1% auto 0;
	width:100%;
	max-width:160px;
	display: inline-block;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid rgba(0,0,0,0);
	box-shadow: 1px 1px 1px -1px rgba(0,0,0,.5);
	font-family:"Gotham Book","Helvetica",sans-serif;
}

#archive-button:hover {
	border: 1px solid #ccc;
}
.edit_project {

	form, input[type="text"] {
		width:100%;
	}
	input[type="checkbox"] {
		width:auto;
		margin-left:0;
	}

	.row.personnel {
		padding:10px 0;
		border-top:1px solid #eee;
	}
}

.search-project {
		border: 1px solid #e7e7e7;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		margin-bottom:15px;
		padding:5px 20px 20px;

		table {
			width:100%;
			tr {
				line-height:33px;
				vertical-align:middle;
				border:1px solid #eee;
			}

			.search-label {
				width:100px;
				color:#aaa;
				font-size:12px;
				padding-right:21px;
				padding-left:7px;
			}
		}
	}

#company-dashboard {
	.company-project {
		background-color:#fff;
		padding:5px 20px 20px;
		margin-bottom:10px;
		
			.row {
				margin:-1px 0 0;
				line-height:33px;
				vertical-align:middle;
				border:1px solid #ddd;
			}

			.dashboard-label {
				color:#aaa;
				font-size:12px;
				padding-right:21px;
				padding-left:7px;
				width:10%;
			}

			ol li {
				line-height:23px;
				padding-top:7px;
			}
	}

	.ui-progressbar {
		display:inline-block;
		border:1px solid #ccc;
		width:200px;
		height:1em;
		vertical-align:middle;
		margin-top:-2px;
	}

	.progress-link {

		.ui-progressbar-value {
			margin-top:0;
			background:#336699;
			border-width:0;
		}
	}

	h5,h4 {
		width:100%;
		a {color:#222;}
		a:hover {color:#cc0000;}
	}
	#dashboard-placeholder {
		color:#aaa;
		text-align:center;
		font-weight:200;
		font-size:1.5em; 
		font-style:italic;
		margin-top:10px;
		line-height:2em;
	}
}

#project-dashboard {
	border: 1px solid #ddd;
	padding: 0;
	background-color: #fff;

	#recent-items {
		padding:0 20px;
		.row {
			padding:5px 0;
		}
	}

	h3 {
		padding:10px 20px;
		//background:#eee;
		margin:30px auto;
		border-bottom:1px solid #eee;
		border-top:1px solid #eee;
	}

	#recent-documents, #upcoming-items {
		padding:0 20px;
	}
	#checklist-section {
		padding:0 40px;

		.center {
			text-align:center;
		}
		.row div {
			padding:17px 0;
		}
	}

	.header-label {
		font-weight:700;
		color:#000;
	}

	.header-label.center h4 {
		text-align:center
	}
}

.delete-confirmation {
	margin:0 auto;
	

	h3 {
		text-align:center;
		margin:0 auto 0;	
	}
		
	p {
		font-size:1.2em;
		margin:2em auto;
		width:75%;
	}
}

.delete-project-link.no-link {
	color:#fff !important;
	text-align:center;
	width:200px;
	line-height:35px;
}

.delete-project-link:hover {
	
}

#export-worklist-modal,#export-checklist-modal {
	top:12.5%;
	width:50%;
	max-height:75%;
	left:100%;
	opacity:0;
	z-index:1031;
	background:#fff;
	position:fixed;
	padding:20px;
	overflow-y:scroll;

	#cancel-worklist-modal,#cancel-checklist-modal {
		margin-top:-17px;
		margin-right:-17px;
		float:right;
		width:18px;
		height:18px;
		display:block;
		cursor:pointer;
		padding:15px;
		opacity:.8;
	}

	#cancel-worklist-modal:hover,#cancel-checklist-modal:hover {
		opacity:1;
	}

	h3 {
		margin-top:0;
		text-align:center;
	}

	form {
		input[type="text"] {
			width:100%;
			margin:1em auto;
		}

		.checkboxes {
			line-height:2em;
		}
	}
}