// Place all the styles related to the ProjectGroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#project-groups {
	padding-top:20px;

	.new_project_group {
		margin:0 auto;

		input[type="text"] {
			width:100%;
		}
	}
}

#cancel-new-group {
	cursor:pointer;
	margin-left:5%;
}

#cancel-new-group:hover {
	color:#cc0000;	
}

#groups {
	.group-header {
		height:44px;
		text-align:right;
		
		a {
			color:#ddd;
		}
		a:hover {
			color:#fff !important;
		}

		.group-name {
			display:inline-block;
			text-align:left;
			margin-left:7px;
			margin-top:0;
			padding-top:14px;
			font-size:1em;
		}

		.projects-count {
			padding-right:5px;
		}
	}
}

.new_project_group {
	input[type="text"] {
		width:90%;
		margin:0 auto;
		font-size:16px;
		line-height:16px;
	}

	input[type="submit"] {
		margin:5px 0 0 5%;
	}
}
.project-group.editing {
	height:44px;
	overflow:auto;

	.edit_project_group {

		div {
			min-height:100%;
			height:44px;
		}

		input[type="text"] {
			width:100%;
			height:100%;
			border:0;
		}

		input[type="submit"]{
			box-shadow:0 0 0 0;
			-moz-box-shadow:0 0 0 0;
			-webkit-box-shadow:0 0 0 0;
			border:0;
			padding:10px;
			background:transparent;
			color:#fff;
			height:100%;
			float:left;
		}

		#cancel-group {
			margin:0 10px 0 0;
			cursor:pointer;
			position:relative;
			top:14px;
			left:5px;
			float:left;
		}

		#delete-group {
			float:left;
			position:relative;
			left:10px;
			top:11px;
		}
	}
}