// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.well {
	min-height: 20px;
	padding: 0px 20px;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.0);
	-webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.0);
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.0);
	font-family:'Gotham Book','Montserrat','Helvetica Neue','Helvetica',sans-serif;
	text-transform:uppercase;
	font-size:13px;
}

#new-project-form, #edit-project-form {
	max-width:600px;
	width:80%;
	margin:0 auto;

	form, input {
		width:100%;
	}
}

.search-project {
		border: 1px solid #e7e7e7;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		margin-bottom:15px;
		padding:5px 20px 20px;

		table {
			width:100%;
			tr {
				line-height:33px;
				vertical-align:middle;
				border:1px solid #eee;
			}

			.search-label {
				width:100px;
				color:#aaa;
				font-size:12px;
				padding-right:21px;
				padding-left:7px;
			}
		}
	}

#company-dashboard {
	.company-project {
		background-color:#fff;
		min-height:200px;
		border: 1px solid #ddd;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		margin-bottom:15px;
		padding:5px 20px 20px;

		table {
			width:100%;
			tr {
				line-height:33px;
				vertical-align:middle;
				border:1px solid #ddd;
			}

			.dashboard-label {
				color:#aaa;
				font-size:12px;
				padding-right:21px;
				padding-left:7px;
			}

			ol li {
				line-height:23px;
				padding-top:7px;
			}
		}
	}

	.ui-progressbar {
		display:inline-block;
		border:1px solid #ccc;
		width:200px;
		height:1em;
		vertical-align:middle;
		margin-top:-2px;
	}

	.progress-link {

		.ui-progressbar-value {
			margin-top:0;
			background:#336699;
			border-width:0;
		}
	}

	h5,h4 {
		width:100%;
		a {color:#222;}
		a:hover {color:#cc0000;}
	}
}

.sidebarProjects {

	.ui-progressbar {
		display:inline-block;
		border:1px solid #ccc;
		width:90%;
		height:14px;
		vertical-align:middle;
		margin-top:-2px;
		margin-bottom:7px;
	}

	.progress-link, .sidebar-progress-link {

		.ui-progressbar-value {
			margin-top:0;
			background:#336699;
			border-width:0;
		}
	}
}