// Place all the styles related to the Promos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add-promo-section {
	border-bottom:1px solid #eee;
	margin:0 auto 5%;
	padding-bottom:5%;
}