// Place all the styles related to the Punchlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add-punchlist {
	width:100%; 
	padding:20px;

	#punchlist-container {
		width:80%;
		margin:0 auto;
		padding:20px 20px 70px;
		display:block;
		
		input {
			
			display:block;
			margin:0 auto;
		}

		input[type="radio"]{
			display:inline-block;
			margin-right:10px;
			margin-left:10px;
		}

		input[type="text"] {
			margin-bottom:2px;
			width:100% !important;
		}
	}	
}

#worklist-table {
	margin-bottom:0;
}