// Place all the styles related to the Punchlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add-punchlist {
	width:100%; 
	padding:20px;

	#punchlist-container {
		width:80%;
		margin:0 auto;
		padding:0 20px 70px;
		display:block;
		
		div {
			padding-top:10px;
			width:100%;
			display:block;
		}
		
		input {
			width:100% !important;
			display:block;
			margin:0 auto;
		}
	}	
}

#worklist-table {
	margin-bottom:0;
}