// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#add-report {
	width:50%;
	min-width:500px;
	margin:0 auto;

	td {
		padding-bottom:20px;
	}

	tbody {
		width:100%;
	}

	input, textarea {
		width:100%;
	}
}