// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reports-panel {
	width:50% !important;
}

#report-focus {
	position:relative;
	left:100%;
	width:50%;
	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
	-ms-transition: all 0.15s;
	-o-transition: all 0.15s;
	transition: all 0.15s;
}

.active-report {
	opacity: 1 !important;
	z-index: 5;
	left: 5%;
	position: relative;
	background: #fff;
	border-bottom: 1px solid #eee !important;
}

#reports-header{
	margin-bottom: 15px;
	padding:0;
	
	.new-report {
		margin:0 auto;
		width:95%;
	}

	#reports-search {

	}
}

#project-reports {
	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
	-ms-transition: all 0.15s;
	-o-transition: all 0.15s;
	transition: all 0.15s;
	width:100%;
	border:1px solid #ddd;

	h4, h5 {
		text-align:center;
	}
	.report.row {
		padding:10px 0 !important;
		border-bottom:1px solid #eee;
		text-align:center;
		margin:0;
	}
	.row:last-child {
		border-bottom:0;
	}
}

.report-personnel-input {
	max-width:60px;
	display:inline-block;
	text-align:center;
}

#add-report, #edit-report {
	position:relative;

	#dismiss-report {
		position:absolute;
		right:4px;
		top:4px;
		cursor:pointer;

		img {
			width:24px;
		}
	}

	h4 {
		text-align:left;	
	}

	.row {
		padding-bottom:5px;
	}

	input[type="text"], textarea {
		width:100%;
	}

	#dp {
		width:90%;
		margin-left:0;
	}

	input[type="checkbox"] {
		width:auto;
		margin-left:0;
	}
	
	.form-title {
		padding-top:12px;
		margin-top:15px;
		border-top:1px solid #eee;
		padding-bottom:0;
	}

	.weather-titles {
		padding-bottom:0;
		
		h4 {
			margin:15px auto 5px;
		}
	}

	.weather-fields {
		input {
			width:80%;
		}
	}
	
	select#report_report_type {
		width:120px;
		font-size:2em;
	}

	.sub-container {
		.fields {
			display:inline-block;
			line-height:1em;
		}
	}

	.user-container, .sub-container {
		.select2-container {
			width:95%;
		}
	}
	
	.thin-form {
		clear:both;

		div:first-child {
			border-top:0;
		}
	}
}

.previous-report, .next-report{
	position:absolute;
	top:0;
	z-index:1;	
	border-bottom:1px solid #ddd;
	padding-left:20px;	
	padding-right:20px;	
}

.previous-report{
	left:0;
	border-right:1px solid #ddd;
} 

.next-report {
	right:0;
	border-left:1px solid #ddd;
}

.delete-report-link {
	line-height: 1em;
	margin: 7px auto 0;
	display: block;
	width: 70px;
	text-align: center;
	float: right;
}