// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add-report {
	width:50%;
	min-width:500px;
	margin:20px auto 0;

	.row {
		padding-bottom:5px;
	}

	input, textarea {
		width:100%;
	}
	
	.form-title {
		padding-top:7px;
		padding-bottom:0;
	}

	.weather-titles {
		padding-bottom:0;
		
		h4 {
			margin:10px auto 0;
		}
	}
	.select-container {
		width:50%;
		float:left;

		select[multiple] {
			min-height:100px;
			width:80%;
		}
	}
}
.delete-report-link {
	line-height: 1em;
	margin: 7px auto 0;
	display: block;
	width: 70px;
	text-align: center;
	float: right;
}