// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#add-report {
	width:50%;
	min-width:500px;
	margin:20px auto 0;

	td {
		padding-bottom:20px;
	}

	tbody {
		width:100%;
	}

	input, textarea {
		width:100%;
	}
	
	.select-container {
		width:50%;
		float:left;

		select[multiple] {
			min-height:100px;
			width:80%;
		}
	}
	
}
#reports-page {

	table.report {
		margin-bottom:2em;
	}	
}
