// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#project-reports.panel {
	width:49.5% !important;
}

#report.focus {
	position:absolute;
	top:0;
	left:101%;
	width:50%;
	-webkit-transition: all 0.23s ease;
	-moz-transition: all 0.23s ease;
	-ms-transition: all 0.23s ease;
	-o-transition: all 0.23s ease;
	transition: all 0.23s ease;

	#export-report {
		img {
			width:35px;
		}
	}

	#reload-weather {
		cursor:pointer;
		font-size:.7em !important;
		position:relative;
		left:2.5%;
	}

	#reload-weather:hover {
		color:#cc0000;
	}
}

#reports-header{
	margin-bottom: 15px;
	padding:0;
	
	.new-report {
		margin:0 auto;
		width:95%;
	}

	#reports-search {

	}
}

#project-reports {
	-webkit-transition: all 0.23s ease;
	-moz-transition: all 0.23s ease;
	-ms-transition: all 0.23s ease;
	-o-transition: all 0.23s ease;
	transition: all 0.23s ease;
	width:100%;
	height:100%;
	padding-bottom:0;

	h4, h5, h6 {
		text-align:center;
	}

	.report.row {
		border-bottom:1px solid #eee;
		text-align:center;
		padding:10px 0;
	}
	.row:last-child {
		border-bottom:0;
	}

	.active-report.report.row {
		opacity: 1 !important;
		z-index: 5;
		margin-left: -4%;
		padding:10px 4%;
		width:108%;
		position: relative;
		background:#fff5cf;
		border-bottom: 1px solid #eee;
	}
}

.report-personnel-input {
	max-width:60px;
	display:inline-block;
	text-align:center;
}

#add-report, #edit-report {
	position:relative;
	margin-left:1%;

	#dismiss-report {
		img {
			width:24px;
		}
	}

	.dates.type {
		border:0;
		margin-top:0;
		padding-top:0;

		#type-select {
			width:50%;
		}
	}

	h4 {
		text-align:left;	
	}

	.row {
		padding-bottom:5px;
	}

	input[type="text"], textarea {
		width:100%;
	}

	#report_weather {
		margin-top:3px;
	}

	#dp {
		width:90%;
		margin-left:0;
	}

	input[type="checkbox"] {
		width:auto;
		margin-left:0;
	}
	
	.form-title {
		padding-top:12px;
		margin-top:15px;
		border-top:1px solid #eee;
		padding-bottom:0;
	}

	.weather-titles {
		padding-bottom:0;
		
		h4 {
			margin:15px auto 5px;
		}
	}

	.weather-fields {
		input {
			width:80%;
		}
	}
	
	select#report_report_type {
		width:120px;
		font-size:2em;
	}

	.sub-container {
		.fields {
			display:inline-block;
			line-height:1em;
		}
	}

	.user-container, .sub-container {
		.select2-container {
			width:95%;
		}
	}

	.report-user, .report-company {
		width: 95%;

		.fa-remove {
			font-size: 1.25em;
			margin:6px 2px 0 0;
			cursor:pointer;
			float:right;
		}
	}

	.report-topic {
		padding-left:2%;

		.title {
			font-size:1.25em;
		}

		.info {
			display:none;
			padding-left:2%;
		}
	}

	.report-topic .title:hover {
		cursor:pointer;
		color:#cc0000;
	}

	.report-photos {
		min-height:200px;
	}

	.thin-form {
		clear:both;
		margin-top:40px;
	}
}

.previous-report, .next-report{
	position:absolute;
	top:0;
	z-index:1;	
	border-bottom:1px solid #ddd;
	padding-left:20px;	
	padding-right:20px;	
}

.previous-report{
	left:0;
	border-right:1px solid #ddd;
} 

.next-report {
	right:0;
	border-left:1px solid #ddd;
}

.delete-report-link {
	line-height: 1em;
	margin: 7px auto 0;
	display: block;
	width: 70px;
	text-align: center;
	float: right;
}