// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add-report {
	min-width:500px;
	margin:20px auto 0;

	.row {
		padding-bottom:5px;
	}

	input, textarea {
		width:100%;
	}

	input[type="checkbox"] {
		width:auto;
		margin-left:0;
	}
	
	.form-title {
		padding-top:7px;
		padding-bottom:0;
	}

	.weather-titles {
		padding-bottom:0;
		
		h4 {
			margin:10px auto 0;
		}
	}
	
	select#report_report_type {
		width:120px;
		font-size:2em;
	}

	.sub-container {
		.fields {
			display:inline-block;
			line-height:1em;
		}
	}

	.thin-form {
		width:50%;
		margin:0 auto;
	}
}
.delete-report-link {
	line-height: 1em;
	margin: 7px auto 0;
	display: block;
	width: 70px;
	text-align: center;
	float: right;
}