// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-report {
	float:left;
	margin:0 20px 0 0;
	border-color:#eee;
}

.new-report:hover {
	border-color:#ddd;
}

#reports-search {
	width:70%;
	input[type="text"] {
		height:42px;
		border-color:#eee;
	}
}

#project-reports {
	border:1px solid #eee;
	
	h4, h5 {
		text-align:center;
	}
	.header.row {
		margin:0;
	}
	.report.row {
		padding:10px 0 !important;
		border-top:1px solid #eee;
		text-align:center;
		margin:0;
	}
}

.report-personnel-input {
	max-width:60px;
	display:inline-block;
	text-align:center;
}

#add-report, #edit-report {
	z-index:2;
	padding:60px 20px 20px;

	h4 {
		text-align:left;	
	}

	.row {
		padding-bottom:5px;
	}

	input[type="text"], textarea {
		width:100%;
	}

	input[type="checkbox"] {
		width:auto;
		margin-left:0;
	}
	
	.form-title {
		padding-top:12px;
		margin-top:15px;
		border-top:1px solid #eee;
		padding-bottom:0;
	}

	.weather-titles {
		padding-bottom:0;
		
		h4 {
			margin:15px auto 5px;
		}
	}
	
	select#report_report_type {
		width:120px;
		font-size:2em;
	}

	.sub-container {
		.fields {
			display:inline-block;
			line-height:1em;
		}
	}

	.thin-form {
		clear:both;
	}
}

.previous-report, .next-report{
	position:absolute;
	top:0;
	z-index:1;	
	border-bottom:1px solid #ddd;
	padding-left:20px;	
	padding-right:20px;	
}

.previous-report{
	left:0;
	border-right:1px solid #ddd;
} 

.next-report {
	right:0;
	border-left:1px solid #ddd;
}

.delete-report-link {
	line-height: 1em;
	margin: 7px auto 0;
	display: block;
	width: 70px;
	text-align: center;
	float: right;
}