// Place all the styles related to the SafetyTopics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
	
.topic {
	vertical-align:middle;
	padding:15px;
	min-height:80px;

	.full {
		display:none;
		margin-bottom:10px;
	}

	.read-more {
		cursor:pointer;
		-webkit-transition: all 0.23s ease;
		-moz-transition: all 0.23s ease;
		-ms-transition: all 0.23s ease;
		-o-transition: all 0.23s ease;
		transition: all 0.23s ease;
		margin:2.5% auto;
		display:block;
	}

	.read-more:hover {
		color:#cc0000;
	}

	h5 {
		margin:0;
	}
	input[type="text"],textarea {
		width:90%;
	}
	textarea {
		min-height:100px;
	}
}

.delete-safety-topic {
	margin-left:5%;
}

#new-safety-topic-link {
	margin: 5% auto 2.5%;
	display:block;
}