// Place all the styles related to the SafetyTopics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
	
.topic {
	vertical-align:middle;
	padding:15px;
	min-height:80px;

	.full {
		display:none;
		margin-bottom:10px;
	}

	.read-more {
		cursor:pointer;
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-ms-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
		margin:0;
		width:160px;
		display:block;
	}

	.read-more:hover {
		color:#cc0000;
	}

	h5 {
		margin:0;
	}
	input[type="text"],textarea {
		width:100%;
	}
	textarea {
		min-height:100px;
	}
}

.delete-safety-topic {
	margin-left:5%;
}

#new-safety-topic-link {
	background:#fff;
	width: auto;
	font-size:14px;
	display: inline-block;
	border-radius: 8px;
	padding: 7px 21px;
	border: 1px solid #ccc;
	margin: 21px auto;
	line-height: 30px;
	box-shadow: 1px 1px 1px -1px rgba(0,0,0,.25);
	-moz-box-shadow: 1px 1px 1px -1px rgba(0,0,0,.25);
	-webkit-box-shadow: 1px 1px 1px -1px rgba(0,0,0,.25);
	text-transform:uppercase;
}