// Place all the styles related to the SafetyTopics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#safety-topics {
	
	.topic {
		vertical-align:middle;
		padding:15px 0;
		min-height:60px;

		h5 {
			margin:0;
		}
		input[type="text"],textarea {
			width:100%;
		}
	}

	.delete-safety-topic {

	}

	.delete-safety-topic:hover {
		background:#cc0000;
		color:#fff !important;
	}
}

#new-safety-topic-link {
	background:#fff;
	width: auto;
	font-size:14px;
	display: inline-block;
	border-radius: 8px;
	padding: 7px 21px;
	border: 1px solid #ccc;
	margin: 21px auto;
	line-height: 30px;
	box-shadow: 1px 1px 1px -1px rgba(0,0,0,.25);
	-moz-box-shadow: 1px 1px 1px -1px rgba(0,0,0,.25);
	-webkit-box-shadow: 1px 1px 1px -1px rgba(0,0,0,.25);
	text-transform:uppercase;
}