.bt-menu {
	z-index:3;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-width: 0px;
	border-style: solid;
	border-color: rgba(40,40,40,.875);
	background-color: rgba(0,0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	
	.sidebarProjects {
		left:-250px;
		.project {
			margin:15px 0;
		}
	}

	#credentials {
		top:0;
		height:2em;		
		li {
			width:auto;
			a {
				text-transform:none;	
				color:#fff;
				-webkit-font-smoothing:antialiased;
				font-size:21px;
				font-family:'Montserrat','Gotham Book','Helvetica Neue','Helvetica',sans-serif;
			}
		}
		
		.dropdown-toggle {
			background:transparent !important;
			color: #fff !important;
		}

		.dropdown-menu {
			top:34px;
			background:rgba(40,40,40,.875);
			border-color:transparent;
		}
	}

	#internal-nav {
		left:-250px;
		display:table;
		height:51px;
		width:auto;

		li {
			display:table-cell;
			vertical-align:middle;
			width:auto;

			a {
				font-size:1.5em;
				color:#fff;
			}
		}
	}
}

.bt-menu.bt-menu-open {
	height: 100%;
	border-width: 51px 0px 0px 250px;
	background-color: rgba(0,0,0,0.6);
	-webkit-transition: border-width 0.3s, background-color 0.3s;
	transition: border-width 0.3s, background-color 0.3s;
	
	.sidebarProjects {
		left:0;
	}
	#internal-nav {
		left:250px;
	}
}

.bt-overlay {
	position: absolute;
	width: 100%;
}

.bt-menu-open .bt-overlay {
	height: 100%;
}

.bt-menu-trigger {
	position: fixed;
	top: 10px;
	left: 20px;
	z-index: 100;
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.bt-menu-trigger span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 8%;
	background-color: #fff;
	font-size: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.bt-menu-trigger span:before {
	-webkit-transform: translateY(-250%);
	transform: translateY(-250%);
}

.bt-menu-trigger span:after {
	-webkit-transform: translateY(250%);
	transform: translateY(250%);
}

.bt-menu-open .bt-menu-trigger span:before {
	-webkit-transform: translateY(-300%);
	transform: translateY(-300%);
}

.bt-menu-open .bt-menu-trigger span:after {
	-webkit-transform: translateY(300%);
	transform: translateY(300%);
}

.bt-menu ul {
	position: fixed;
	margin: 0;
	padding: 0;
	list-style: none;

	li { 
		padding:0 10px;
		a {
			display: block;
		}
	}
}

.bt-menu ul:first-of-type {
	top: 0px;
	width: 250px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.bt-menu ul:nth-of-type(2) {
	right: 0;
	bottom: 0;
}

.bt-menu ul:nth-of-type(2) li {
	float: left;
	font-size: 0px;
}

.bt-menu ul li {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
	transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
}

.bt-menu.bt-menu-open ul:first-of-type li,
.bt-menu.bt-menu-open ul:nth-of-type(2) li {
	visibility: visible;
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
	transition: transform 0.3s, opacity 0.3s;
}

/* First menu */
.bt-menu ul:first-of-type li {
	width: 100%;
	margin:0 auto;
	-webkit-transform: translate3d(-100%,50%,0);
	transform: translate3d(-100%,50%,0);
}

.bt-menu.bt-menu-open ul:first-of-type li {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Second menu */
.bt-menu ul:nth-of-type(2) li {
	width: 60px;
	height: 50px;
	line-height: 50px;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:first-child { 
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(2) { 
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(3) { 
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(4) {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.bt-menu ul li a {
	display: block;
	outline: none;
	text-decoration: none;
}

.bt-menu ul:first-of-type li a {
	padding: 0;
	color: #fff;
	font-weight:500;
	font-size:17px;
	-webkit-font-smoothing:antialiased;
	letter-spacing: 1px;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.bt-menu ul:nth-of-type(2) li a {
	text-align: center;
}

.bt-menu ul li a:before {
	color: #fff;
	font-size: 24px;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.bt-menu ul:first-of-type li a:hover,
.bt-menu ul:first-of-type li a:focus,
.bt-menu ul li a:hover:before,
.bt-menu ul li a:focus:before {
	color: #1abc9c;
}

.sidebarProjects {

	.ui-progressbar {
		display:inline-block;
		border:1px solid #ddd;
		border-radius:7px;
		-moz-border-radius:7px;
		-webkit-border-radius:7px;
		width:100%;
		height:14px;
		vertical-align:middle;
		margin-top:-2px;
	}

	#search-section {
		margin-bottom:20px;
	}

	.progress-link, .sidebar-progress-link {

		.ui-progressbar-value {
			margin-top:0;
			background:#336699;
			border-width:0;
		}
	}
}