// Place all the styles related to the Subs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-sub-form {
	width:100%;
	max-width:600px;
	margin:0 auto;
	padding:15px;
	overflow:auto;
	div {
		padding:2px 0;
	}
	input[type="submit"] {
		padding:10px 0;
	}
}