// Place all the styles related to the Tasklists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/	

.new-task {
	width:95%;
	margin:0;
}

.new-task:hover {
	border-color:#ddd;
}

#task-search {
	
}

.tasks-panel {
	width:50% !important;
}

#project-tasks {
	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
	-ms-transition: all 0.15s;
	-o-transition: all 0.15s;
	transition: all 0.15s;
	width:100%;

	#task-table {

		.row {
			border-top:1px solid #eee;
			text-align:center;
		}

		.row:last-child {
			//border-bottom:0;
		}

		.header.row {

			h5 {
			
			}
		}
	}
}

#task-focus {
	position:relative;
	left:100%;
	margin-left:1%;
	width:49%;
	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
	-ms-transition: all 0.15s;
	-o-transition: all 0.15s;
	transition: all 0.15s;

	#dismiss-task {
		padding-right:0;

		img {
			width:24px;
		}
	}

	h4, h5 {
		border-bottom:1px solid #eee;
	}

	.task-progress {
		display:inline-block;
		padding-left:10px;
		font-size:1em;
	}

	.select2-container-multi {
		width:100%;
	}
}

.tasks.border-box {
	padding-top:10px;
	width:49%;
	float:left;

	.task.row {
		border-top:2px solid #eee;
	}
}

.col-xs-3.task-body, .task-body {
	text-align:left;
	padding-left:10px;
}