// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#task-container {
	padding:5%;
	
	.task-title {
		margin:0 0 1em;
		max-width:50%;
	}

	header {
		background:#fff;

		h4 {
			text-align:center;
			margin-bottom:20px;
		}
	}
	.row {
		padding:5px 0;
	}
	input[type="text"] {
		width:100%;
	}	
}

#tasklist-item-container {
	display:block;
	padding:0;
	position:relative;

	#dismiss-task {
		position:absolute;
		top:3px;
		right:3px;
		width:24px;
	}

	input[type="radio"]{
		display:inline-block;
		margin-right:10px;
		margin-left:10px;
	}

	input[type="text"] {
		width:100% !important;
	}

	header {
		padding:0 0 3px;
		border-bottom:1px solid #ddd;

		h3 {
			margin:5px auto;
			text-align:center;
		}
	}
	
	h4 {
		text-align:left;
	}

	.row {
		border-bottom:1px solid #ddd;
		padding:5px 10px;
	}

	.row:first-child {
		padding-top:10px;
	}
	
	.row.button-container {
		border-bottom:0;
	}

	.comment-container {
		margin-top: 20px;
		clear: both;
		padding: 20px;
		background: #f7f7f7;
		border-top: 1px solid #ddd;
	}
}

.active-task {
	background: #fff5cf !important;
	opacity: 1 !important;
	margin-left: -2%;
	padding: 10px 2% !important;
	width: 104%;
}

.task {
	padding:10px 0;
}

.task.row {
	img {
		max-width:100%;
	}
}