// Place all the styles related to the UberAdmin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#core-checklist-table {
	h5 {
		text-align:center;
	}

	.header.row {
		
	}
	.checklist.row {

	}
}

.uber-admin.container {
	table {
		td {
			padding:5px 0;
			border-bottom:1px solid #eee;
		}
	}
}

.uber-delete-user {
	clear:both;
	display:block;
	margin-top:2.5%;

	.fa {
		font-size:1.5em;
	}
}