// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#edit-user-form, #edit-company-form, #new-user-form {
	display:block;
	width:600px;
	margin:0 auto;
	padding:30px 30px 93px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;

	h2, h3 {
		text-align:center;
	}

	input[type="text"],input[type="email"],input[type="password"] {
		margin-bottom:10px;
	}

	form, tbody, tr, td {
		display:block;
		width:100%;
	}

	.user-pic {
		margin:20px;
		display:block;
	}
}

input[type="checkbox"] {
	display:inline-block;
	margin-left:20px;
	margin-bottom:0;
}