// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-user-form {
	width:600px;
	margin:0 auto;
}

#edit-user-form {
	display:block;
	width:600px;
	margin:0 auto;
	border:1px solid #eee;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;

	tbody {
		display:block;
		padding:0 30px 30px;
	}
}

input[type="checkbox"] {
	display:inline-block;
	margin-left:20px;
}