// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#edit-user-form, #edit-company-form, #new-user-form {
	display:block;
	width:600px;
	margin:0 auto 15px;
	padding:30px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	overflow:auto;

	h2, h3 {
		text-align: center;
		margin: 2.5% auto;
	}

	input[type="text"],input[type="email"],input[type="password"] {
		margin-bottom:10px;
	}

	form, tbody, tr, td {
		display:block;
		width:100%;
	}

	#photo-section{
		margin:20px auto;
		text-align:center;
	}

	.user-pic {
		margin:40px auto;
		display:block;
	}
}

input[type="checkbox"] {
	display:inline-block;
	margin-right:20px;
	margin-bottom:0;
}

#add-user-button, #add-sub-button {
	float:right;
	clear:both;
	display: block;
}