// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#edit-user-form, #edit-company-form, #new-user-form {
	display:block;
	width:600px;
	margin:0 auto;
	padding:30px 30px 93px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;

	h2, h3 {
		text-align:center;
	}

	input[type="text"],input[type="email"],input[type="password"] {
		margin-bottom:10px;
	}

	form, tbody, tr, td {
		display:block;
		width:100%;
	}

	.user-pic {
		margin:20px;
		display:block;
	}
}

input[type="checkbox"] {
	display:inline-block;
	margin-left:20px;
	margin-bottom:0;
}

#add-user-button, #add-sub-button {
	float:right;
	clear:both;
	text-align:center;
	width: 180px;
	font-size:14px;
	display: block;
	border-radius: 8px;
	padding: 7px;
	border: 1px solid #ccc;
	margin: 0 auto;
	line-height: 27px;
	font-size:15px;
	box-shadow: 1px 1px 1px -1px rgba(0,0,0,.5);
}