// Place all the styles related to the Worklists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/	

.new-task {
	float:left;
	margin:0 20px 0 0;
}

.new-task:hover {
	border-color:#ddd;
}

#task-search {
	width:70%;
	input[type="text"] {
		height:38px;
	}
}

.tasks-panel {
	width:50% !important;
}

#project-tasks {
	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
	-ms-transition: all 0.15s;
	-o-transition: all 0.15s;
	transition: all 0.15s;
	width:100%;

	#task-table {
		margin-bottom:23px;

		.row {
			border-bottom:1px solid #eee;
			text-align:center;
		}

		.row:last-child {
			border-bottom:0;
		}

		.header.row {
			border-bottom:1px solid #ddd;
			background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(100%, #eee));
			
			h5 {
			
			}
		}
	}
}

#task-focus {
	position:relative;
	left:100%;
	margin-left:1%;
	width:49%;
	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
	-ms-transition: all 0.15s;
	-o-transition: all 0.15s;
	transition: all 0.15s;

	#dismiss-task {
		float:right;

		img {
			width:24px;
		}
	}
}

.tasks.border-box {
	padding-top:10px;
	width:49%;
	float:left;

	.task.row {
		border-top:2px solid #eee;
		.col-xs-3.task-body, .task-body {
			text-align:left;
		}
	}
}