// Place all the styles related to the WorklistItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#worklist-item-container {
	display:block;
	padding:0;
	position:relative;

	#dismiss-task {
		position:absolute;
		top:5px;
		right:5px;
		width:24px;
	}

	input[type="radio"]{
		display:inline-block;
		margin-right:10px;
		margin-left:10px;
	}

	input[type="text"] {
		width:100% !important;
	}

	header {
		padding:3px 0 0px;
		border-bottom:1px solid #ddd;

		h3 {
			text-align:center;
		}
	}
	
	h4 {
		text-align:left;
	}

	.row {
		border-bottom:1px solid #ddd;
		padding:5px 10px;
	}

	.row:first-child {
		padding-top:10px;
	}
	
	.row.button-container {
		border-bottom:0;
	}

	.comment-container {
		margin-top: 20px;
		clear: both;
		padding: 20px;
		background: #f7f7f7;
		border-top: 1px solid #ddd;
	}
}

.active-task {
	background:#fff;
	opacity:1 !important;
}

.task {
	padding:10px 0;
}