// Place all the styles related to the WorklistItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#worklist-item-container {
	margin:0 auto;
	max-width:800px;
	display:block;

	input[type="radio"]{
		display:inline-block;
		margin-right:10px;
		margin-left:10px;
	}

	input[type="text"] {
		margin-bottom:2px;
		width:100% !important;
	}

	h3 {
		text-align:center;
	}
	
	h4 {
		text-align:left;
	}
}