<% if @checklist.project %>
	<div class="col-xs-12" id="main">
		<%= render :partial => "checklist_items/edit", :locals => {:item => @item} %>
	</div>
<% else %>
	<%= render :partial => "checklist_items/edit", :locals => {:item => @item} %>
<% end %>
