<%= form_for category, method: :patch, remote: true do |f| %>
	<h2><%= f.text_field :name, :style=>"padding:0;border:0;display:inline-block", autofocus: true %></h2>
<% end %> 
<span id="cancel-edit-category" class="simple-btn" style="bottom:6px;">cancel</span>
<%= link_to "Delete", category_path(@category), :method => :delete, :data => {:confirm => "Are you sure you want to delete this phase?"}, :class=>"btn btn-danger btn-md remote", :style=>"line-height:11px;position:relative;bottom:6px;margin:0 auto;width:80px;height:32px;display:inline-block;", :remote => true %>