<%= nested_form_for @category, :remote => true, :method => :post do |f| %>
	<%= f.hidden_field :checklist_id, :value => @checklist.id %>
	<div class="row">
		<div class="col-xs-11"><%= f.text_field :name, :placeholder => "Name the new phase...", :style=>"width:100%;" %></div>
		<%= f.submit "Add", :class => "btn btn-success btn-md pull-right col-xs-1", :style=>"margin:0 auto;padding-top: 0;line-height: 36px;height: 36px;margin: 0 auto;" %>
	</div>
<% end %>