<% if @project %>
		<%= render :partial => "projects/sidebar" %>
		<%= render :partial => "projects/project_nav" %>
<% else %>
		<%= render :partial => "admin/sidebar" %>
<% end %>
<div class="col-xs-12 col-sm-9" id="main">
	<div id="pages">
		<%= render :partial => "categories/show", :locals => {:category => @category} %>
	</div>
</div>