<% unless @project %>
	<%= render :partial => "admin/sidebar" %>
<% end %>
<div class="col-xs-12" id="main">
	<div id="pages">
		<%= render :partial => "categories/show", :locals => {:category => @category} %>
	</div>
</div>