<p>Will,</p>

<p>A new lead just signed up:</p>
<table style="width:100%; border:1px solid #eee; padding:5px;">
	<thead>
		<tr>
			<th>Name</th>
			<th>Company Name</th>
			<th>Email</th>
			<th>Phone Number</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="text-align:center"><%= @lead.name if @lead.name %></td>
			<td style="text-align:center"><%= @lead.company_name if @lead.company_name %></td>
			<td style="text-align:center"><%= @lead.email if @lead.email %></td>
			<td style="text-align:center"><%= @lead.phone_number if @lead.phone_number %></td>
		</tr>
	</tbody>
</table>

