$('#phase-<%=@phase.id%> .editable').fadeOut(200,function(){
	$(this).html('<h2 class="title"><%= link_to @phase.name, load_items_checklist_path(@phase), :id => "p-#{@phase.id}", :class=>"remote", remote: true %></h2><%= link_to "Edit Phase", edit_phase_path(@phase), :class => "edit-phase remote", remote: true %>');
	$(this).fadeIn(200);
});