$('#report.focus').css({'left':'101%'});
$('#project-reports').removeClass('panel');
$('.faded').removeClass('faded');
$('#report-<%= @report_id %>').fadeOut(230,function(){
	$(this).remove();
});
<% if @project.reports.count == 0 %>
 	$('#reports-table').html('<div id="reports"><div class="no-content placeholder font-smoothing">No reports</div></div>');
<% end %>
$("html, body").animate({ scrollTop: 0 }, 230);
setTimeout(function(){$('#report.focus').html('')},230);

if (history && history.pushState){
    history.pushState(null, null, '<%=root_url%>reports?project_id=<%=@project.id%>');
    $(window).bind("popstate", function(){
      $.getScript(location.href);
    });
}