<%= render :partial => "admin/sidebar" %>
	<div id="pages">
		<div id="charged" class="border-box">
			<h2>Thanks, you paid <strong>$5.00</strong>!</h2>
		</div>
	</div>
</div>
<script>
	$('#billing-link').addClass('current-page');
</script>

