<% if current_user.any_admin? %>
	<li>
		<%= link_to admin_index_path, remote: true do %>
			<i class="fa fa-university"></i>
			<div>Admin</div>
		<% end %>
	</li>
<% end %>
<% if current_user.uber_admin? %>
	<li>
		<%= link_to uber_admin_index_path, remote: true do %>
			<i class="fa fa-beer"></i>
			<div>Uber Admin</div>
		<% end %>
	</li>
	<li>
		<%= link_to admin_index_path, remote: true do %>
			<i class="fa fa-life-ring"></i>
			<div>Help</div>
		<% end %>
	</li>
<% end %>