<!DOCTYPE html >
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
        body{ color:#000000; font-size:14px; font-family:Helvetica,Verdana,Arial,sans-serif; }
        img { width:200px;}
    </style>
</head>
<body>
    <div style="background:#eaeaea;">
        <div style="margin:0 auto;border-radius:3px;padding:2.5% 0 7.5% 0">
            <div style="width:200px; margin:0 auto 2.5%;"><%= link_to image_tag('logo.png', alt: "BuildHawk"), root_url %></div>

            <div style="width:80%;border:1px solid #ddd; background:#ffffff; border-radius:3px;margin: 0 auto; padding:5% 5% 5% 5%;">
                <%= yield %>

                <p style="margin-top:30px">The BuildHawk Team</p>
            </div>
        </div>
    </div>    
    
</body>
</html>